/*
  @Author : Fractalink Design Studio
  @Project : Edelwesis Website
  @Dev : Irfan Khan
  @Date : 26th Nov 2015;
  
*/


/*-------------------------------------------------------------------------------------------*/
/* Home Layout Style */

h1,h2,h3,h4,h5,h6 {
    letter-spacing: -1px;
}

/* Layout Setting */
.mobile-cont {
    display: none !important;
}

.desktop-cont {
    display: block !important;
}

.section-wrapper {
    position: relative;
}

.home-scroll .main-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.home-scroll .section-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.home-scroll .section-cont {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 90px;
}

.no-scroll .section-cont {
    min-height: 640px;
}

.mod-title {
    font-family: "light";
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 18px;
}


/* Title Info  Wrap  */
.title-info-wrap p {
    color: #ffffff;
}


/* Side Nav Style */
.side-nav {
    position: absolute;
    right: 10px;
    top: 40%;
    z-index: 5;
}

.side-nav li {
    padding: 0;
    text-align: center;
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
}

.side-nav li a {
    background: #d9dee1 none repeat scroll 0 0;
    border: 1px solid #888;
    border-radius: 10px;
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
}

.side-nav li.active a,
.side-nav li:hover a {
    background: #7a8a95;
    width: 12px;
    height: 12px;
}
.side-nav li:hover a .home-nav-tooltip{ /*16-5-16*/
    display: block;
}

/*.home-nav-tooltip*/ 
.home-nav-tooltip { /*16-5-16*/
    background: #EF5A21;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 6px 20px;
    position: absolute;
    right: 23px;
    top: -10px;
    z-index: 200;
    display: none;
    white-space: nowrap;
}
.home-nav-tooltip:after { /*16-5-16*/
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #EF5A21;
    border-width: 10px;
    margin-top: -10px;
}

/* more btn style */
.more-btn-icon {
    background: url("../images/icon_sprite.svg") no-repeat -1px -315px transparent;
    width: 22px;
    height: 22px;
    display: block;
    margin-top: 10px;
}
.more-btn-icon:hover{
    background-position: -62px -315px;
}
.more-btn-icon.blue-icon {
    background-position: -139px -314px;
}

.more-btn-icon.orenge-icon {
    background-position: -62px -314px;
}
.more-btn-icon.blue-icon:hover {
    background-position: -62px -314px;
}
.more-btn-icon.orenge-icon:hover {
    background-position: -139px -314px;
}


/* Owl Control */

.owl-controls {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.owl-dots {
    display: inline-block;
}

.owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: #162633;
    border-radius: 12px;
    display: inline-block;
}

.owl-dots .owl-dot.active {
    background: #0a151f;
}

.section-wrapper6 .footer-wrap {
    display: block;
    padding-top: 10px;
}



.anchor-bg {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-size:cover;
}
.anchor-bg img{
    display: none !important;
}
/*--------------- Start--------------------*/


/* Module */

.blog-item {
    position: relative;
    padding: 20px;
    color: #FFF;
    text-align: left;
    background: #354A5F none repeat scroll 0% 0%;
    min-height: 345px;
    overflow: hidden;
}

.blog-item .btn {
    position: absolute;
    left: 20px;
    bottom: 22px;
}

.blog-item .mod-title {
    font-size: 37px;
    font-family: "light";
    line-height: 37px;
    margin-bottom: 5px;
    text-transform: capitalize;
    padding-right: 28px;
    letter-spacing: 0;
    color: #ffffff;
}

.blog-item .blog-by {
    font-size: 12px;
    display: block;
    margin-bottom: 0px;
    font-style: italic;
    font-family: "light";
}

.blog-item .timestamp {
    display: block;
    color: #F05A22;
    font-size: 16px;
    font-family: 'light';
    margin-bottom: 11px;
}

.blog-item p {
    margin-bottom: 18px;
    line-height: 130%;
    color: inherit;
}

.blog-item .share-icon {
    left: auto;
    position: absolute;
    right: 0px;
    bottom: 30px;
    z-index: 2;
}


/*blog with img*/

.blog-item.bg-img .buzz-img {
    height: auto;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.blog-item.bg-img::after {
    background: rgba(53, 74, 95, 0.55) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    z-index: 2;
}

.blog-item.bg-img .blog-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 60px;
    z-index: 3;
}

.blog-item.bg-img .btn {
    z-index: 3;
}


/*---------------End--------------------*/


/* news-item */

.news-item a {
    margin-bottom: 8px;
    display: block;
}

.news-item .mod-title {
    font-size: 13px;
    line-height: 140%;
    font-family: 'normal';
    text-transform: capitalize;
    color: inherit;
}

.news-item .news-head {
    position: relative;
}

.news-item .news-media {
    margin-bottom: 8px;
    overflow: hidden;
}

.news-item .news-media img {
    float: left;
    width: 100%;
}

.news-item p,
.news-item .text {
    color: #354b60;
    font-family: "light";
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px;
}

.news-item .timestamp {
    color: rgb(240, 90, 34);
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 8px;
}


/* News Overlay */

.news-item.with-overlay .news-media {
    margin-bottom: 0;
}

.news-item.with-overlay a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: 1;
}

.news-item.with-overlay a .mod-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.73);
    padding: 12px 12px 30px;
    margin-bottom: 0;
}

.news-item.with-overlay .timestamp {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: 0;
    z-index: 1;
}


/*social round tab*/

.social-tab .social-link {
    margin: 35px auto;
    width: 258px;
}

.social-tab .social-link .social-link-item {
    display: inline-block;
    margin-right: 10px;
}

.social-tab .social-link .social-link-item:last-child {
    margin-right: 0;
}

.social-tab .social-link .social-link-item a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*opacity: 0.4;*/
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.social-tab .social-link .social-link-item a:hover,
.social-tab .social-link .social-link-item.active a {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}

.social-tab .social-link .social-link-item:first-child a {
    background-image: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "normal";
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    background: #f05a22;
}

.social-tab .social-link .social-link-item .icon-fb {
    background-position: -788px -267px;
    background-color: #3C5A98;
}

.social-tab .social-link .social-link-item .icon-tw {
    background-position: -695px -267px;
    background-color: #55ACEE;
}

.social-tab .social-link .social-link-item .icon-in {
    background-position: -740px -267px;
    background-color: #006EA7;
}

.social-tab .social-link .social-link-item .icon-youtube {
    background-position: -651px -266px;
    background-color: #ED2B36;
}


/*social*/

.social-connect-listing .social {
    border: 1px solid #e6e6e6;
    padding: 20px 20px 40px;
    position: relative;
}

.social-connect-listing .social:hover {
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
}

.social-connect-listing .social-bar {
    margin-bottom: 0;
}

.social-bar {
    background: #999999 none repeat scroll 0 0;
    bottom: 0;
    height: 40px;
    left: 0;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

.social-bar .social-icon {
    background: transparent url("../images/common_sprite.svg") no-repeat scroll -660px -271px;
    display: inline-block;
    height: 28px;
    margin-right: 8px;
    vertical-align: middle;
    width: 23px;
}

.social-bar .text {
    color: #ffffff;
    display: inline;
    font-family: "bold";
    font-size: 12px;
    line-height: 14px;
}

.social-youtube .social-bar {
    background: #ed2b36 none repeat scroll 0 0;
}

.social-youtube .social-bar .social-icon {
    background-position: -660px -271px;
}

.social-fb .social-bar {
    background: #3c5a98 none repeat scroll 0 0;
}

.social-fb .social-bar .social-icon {
    background-position: -796px -271px;
}

.social-tw .social-bar {
    background: #55acee none repeat scroll 0 0;
}

.social-tw .social-bar .social-icon {
    background-position: -704px -274px;
}

.social-in .social-bar {
    background: #006ea7 none repeat scroll 0 0;
}

.social-in .social-bar .social-icon {
    background-position: -749px -273px;
}


/*-------------------------------------------------------------------------------------------*/


/* Slide 1 Home Page Style */

.section-wrapper1 .section-cont {
    top: 0;
}


/* Banner Style */

.section-wrapper1 .banner-wrap {
    bottom: 108px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.section-wrapper1 .banner-wrap .owl-carousel,
.section-wrapper1 .banner-wrap .owl-carousel li {
    position: relative;
    height: 100%;
    width: 100%;
}

.section-wrapper1 .banner-wrap li.slide-one {
    background: url(../images/home_section1_slide1.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}
.section-wrapper1 .banner-wrap li.slide-one.banner2{  /*28-3-16 new css*/
    background: url(../images/home-banner2.png) no-repeat 0 0 transparent;
    background-size: cover;
}

.section-wrapper1 .banner-wrap .banner2 .slide-title{ /*28-3-16 new css*/
    margin-bottom:-10%;
}
.section-wrapper1 .banner-wrap .banner2 .slide-title .mod-title{ /*28-3-16 new css*/
    font-size: 40px;
}
.section-wrapper1 .banner-wrap .more{ /*28-3-16 new css*/
    color: #F05A22;
    font-size: 14px;
}


/*.banner-wrap .owl-carousel .owl-item img
{
    width:auto;
}*/

.section-wrapper1 .banner-wrap .title-info-wrap {
    position: absolute;
    left: 50%;
    width: 500px;
    color: #425868;
    text-align: left;
    bottom: 50%;
    margin-bottom: 5%;
    margin-left: -8%;
}

.section-wrapper1 .banner-wrap .title-info-wrap .mod-title {
    font-size: 58px;
}

.section-wrapper1 .banner-wrap .title-info-wrap p {
    color: #000000;
    font-size: 15px;
    text-transform: lowercase;
}

.section-wrapper1 .banner-wrap .slide-action {
    height: 295px;
    width: 254px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: 16%;
}

.section-wrapper1 .banner-wrap .slide-infography {
    bottom: 0;
    height: 522px;
    left: 50%;
    margin-left: -30%;
    overflow: hidden;
    position: absolute;
    width: 322px;
}

.section-wrapper1 .slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 2;
    text-align: center;
}

.section-wrapper1 .slider-nav li {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.section-wrapper1 .slider-nav li .icon {
    background: transparent none repeat scroll 0 0;
    border: 4px solid #ffffff;
    border-radius: 20px;
    float: left;
    height: 18px;
    width: 18px;
}

.section-wrapper1 .slider-nav li.active .icon,
.section-wrapper1 .slider-nav li:hover .icon {
    border-color: #f05a22;
}

.section-wrapper1 .slider-nav li .slide-toolTip {
    background: #fff none repeat scroll 0 0;
    border-radius: 160px;
    height: 160px;
    margin-left: -70px;
    overflow: hidden;
    position: absolute;
    top: -170px;
    width: 160px;
    z-index: 1;
}

.section-wrapper1 .slider-nav li .text-sneak {
    position: relative;
    display: none;
}

.section-wrapper1 .slider-nav li .text-sneak:after {
    top: -11px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.section-wrapper1 .slider-nav li .text-sneak .img-cont {
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.section-wrapper1 .slider-nav li .text-title {
    color: #334d5f;
    font-family: "normal";
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

.section-wrapper1 .slider-nav li .text-title span {
    display: block;
}

.section-wrapper1 .slider-nav li:hover .text-sneak {
    display: block;
}


/* Helper Nav */

.section-wrapper1 .helper-app-nav-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 108px;
}

.section-wrapper1 .helper-app-nav-wrap .helper-app-nav {
    margin: 20px auto 0;
    width: 1008px;
}

.section-wrapper1 .helper-app-nav li {
    float: left;
    width: 33.33%;
}

.section-wrapper1 .helper-app-nav li a {
    display: block;
    padding: 0 74px;
    border-right: 1px solid #cccccc;
    overflow: hidden;
    color: #334d5f;
}

.section-wrapper1 .helper-app-nav li:last-child a {
    border-right: none;
}

.helper-app-nav li a .icon {
    display: block;
    margin-right: 16px;
    float: left;
    width: 64px;
    height: 64px;
    background: url("../images/icon_sprite.svg") no-repeat -3px -42px transparent;
}

.helper-app-nav li a .icon.freeQuote {
    background-position: -3px -42px;
}

.helper-app-nav li a .icon.yourNeed {
    background-position: -79px -42px;
}

.helper-app-nav li a .icon.calculator {
    background-position: -155px -42px;
}

.helper-app-nav li a:hover .icon.freeQuote {
    background-position: -3px -118px;
}

.helper-app-nav li a:hover .icon.yourNeed {
    background-position: -79px -118px;
}

.helper-app-nav li a:hover .icon.calculator {
    background-position: -155px -118px;
}

.section-wrapper1 .helper-app-nav li a .text {
    font-family: "light";
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;
    position: relative;
    top: 12px;
}

.section-wrapper1 .helper-app-nav li a:hover .text {
    color: #F05A22;
}

.section-wrapper1 .helper-app-nav li a .text span {
    display: block;
}

.section-wrapper1 .owl-carousel .owl-stage-outer,
.section-wrapper1 .owl-carousel .owl-stage,
.section-wrapper1 .owl-carousel .owl-item {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1
}

.section-wrapper1 .owl-carousel .owl-controls {
    display: none;
}


/*-------------------------------------------------------------------------------------------*/


/* Slide 2 Home Page Style */

.section-wrapper2 .company-intro {
    background: url("../images/home_section2_bg.png") repeat 0 bottom;
    height: 44%;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.section-wrapper2 .company-feature {
    background: #1f3443;
    height: 56%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.company-intro .company-mascot {
    bottom: 0;
    height: 224px;
    left: 50%;
    margin-left: -23%;
    overflow: hidden;
    position: absolute;
    width: 145px;
}

.company-intro .company-mascot img {
    width: 100%;
}

.company-title {
    bottom: 50%;
    left: 50%;
    margin-bottom: -6%;
    margin-left: -6%;
    position: absolute;
    width: 450px;
}

.company-title .mod-title {
    color: #f05a22;
    text-transform: lowercase;
}

.company-title p {
    color: #425868;
    text-transform: lowercase;
}


/* Company Feature */

.company-feature .feature-list {
    bottom: 0;
    left: 50%;
    margin-bottom: 4%;
    margin-left: -28%;
    position: absolute;
    width: 440px;
}

.feature-list li {
    float: left;
    width: 100%;
}

.feature-list .feature-icon {
    width: 64px;
    height: 64px;
    /*background: url("../images/icon_sprite.svg") no-repeat 0px -211px transparent;*/
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 12px;
}

.feature-list .feature-icon img
{
    width:100%;
}

.feature-list .title-info-wrap {
    color: #ffffff;
    overflow: hidden;
}

.feature-list .title-wrap {
    color: #ffffff;
    overflow: hidden;
}
.feature-list .mod-title{
    text-transform: lowercase;
}
.feature-list p {
    margin-bottom: 16px;
    margin-left: 6px;
    text-transform: lowercase;
}


/* Testimonial */

.testimonial-list {
    position: absolute;
    left: 50%;
    margin-left: 4%;
    bottom: 0%;
    height: 330px;
    width: 360px;
    background: url("../images/home_section2_testimonial.png") no-repeat 0 0 transparent;
}

.testimonial-list .quote-icon {
    background: url("../images/icon_sprite.svg") no-repeat -168px -292px transparent;
    display: block;
    height: 90px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 119px;
    width: 139px;
    z-index: 1;
}

.testimonial-list ul {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background: #ffffff;
    margin-top: 60px;
}

.testimonial-list ul li {
    left: 25px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 80px;
    z-index: 2;
}

.testimonial-list ul p {
    color: #f05a22;
    margin-bottom: 10px;
    text-align: center;
}

.testimonial-list .testimonial-name {
    color: #f05a22;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "bold";
}

.testimonial-list .testimonial-name .text {
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "bold";
}

.testimonial-list .more-btn-icon {
    margin: 10px auto 0;
}

/*-------------------------------------------------------------------------------------------*/


/* Slide 3 Home Page Style */



.section-wrapper3 .mod-title {
    position: absolute;
    color: #425868;
    left: 50%;
    top: 50%;
    margin-top: -235px;
    margin-left: -126px;
}


.product-list-wrap {
    width: 840px;
    height: 450px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    margin-left: -420px;
}

.section-wrapper3 .product-list-wrap ul li {
    width: 370px;
    height: 430px;
    /*position: relative;
    float: left;*/
}

.section-wrapper3 .product-list-wrap ul .product-item {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.section-wrapper3 .product-item .product-title-wrap {
    padding: 22px;
    /*background: #f05a22 url("../images/productimg.png") no-repeat center bottom;*/
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    bottom: -1px;
}

.section-wrapper3 .product-title-wrap .product-icon {
    display: inline-block;
    float: left;
    height: 103px;
    margin: 8px 42px 43px 11px;
    width: 100px;  
}


.section-wrapper3 .product-title-wrap h3 {
    font-size: 28px;
    line-height: 30px;
    font-family: 'thin';
    color: #ffffff;
    float: left;
    margin-top: 12px;
}

.section-wrapper3 .product-title-wrap h3 span {
    display: block;
}

.section-wrapper3 .product-desc {
    padding: 30px 30px 22px 30px;
    position: relative;
    overflow: hidden;
    background: url("../images/productimg.png") no-repeat 0 0 transparent;
}

.section-wrapper3 .product-desc h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 22px;
    text-transform: capitalize;
    text-align: left;
    /*color: #ddb122;;*/
}

.section-wrapper3 .product-desc p {
    font-size: 15px;
    line-height: 17px;
    /*   text-align:center;*/
    color: #42586a;
    padding: 0;
    text-transform: lowercase;
}

.section-wrapper3 .product-act-btn {
    position: absolute;
    bottom: 14px;
    right: 12px;
    z-index: 1;
}

.section-wrapper3 .product-act-btn .act-btn {
    width: 36px;
    height: 36px;
    background: url("../images/icon_sprite.svg") no-repeat 0 0 transparent;
    margin: 0 6px;
    display: inline-block;
}

.section-wrapper3 .product-act-btn .act-btn.act-btn-next {
    background-position: -1px -366px;
}

.section-wrapper3 .product-act-btn .act-btn.act-btn-buy {
    background-position: -1px -413px;
}
.section-wrapper3 .product-act-btn .act-btn.act-btn-next:hover{
    background-position: -1px -536px;
}
.section-wrapper3 .product-act-btn .act-btn.act-btn-buy:hover {
    background-position: -64px -535px;
}

.section-wrapper3 .product-bg {
    height: 30%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3f3f3;
}

.section-wrapper3 .roundabout-holder {
    width: 740px;
    height: 430px;
    margin: 0px auto;
}
.section-wrapper3 .product-item .product-title-wrap {
    background: #354b5f url("../images/productimg.png") no-repeat center bottom;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.section-wrapper3 .product-item.orange .product-title-wrap {
    background: #f05a22 url("../images/productimg.png") no-repeat center bottom;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.section-wrapper3 .product-items.orange .product-desc h4 {
    color: #ddb122;
}
.section-wrapper3 .list .product-item {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0px 21px 18px -12px rgba(46, 44, 46, .2);
    -moz-box-shadow: 0px 21px 18px -12px rgba(46, 44, 46, .2);
    box-shadow: 0px 21px 18px -12px rgba(46, 44, 46, .2);
}
.section-wrapper3 .product-item .product-desc h4 {
    color:#858585;
    color: #34495d;
    font-weight: 600;
    font-weight: 400;
}

.section-wrapper3 .product-list-wrap .prev {
    background: transparent url("../images/icon_sprite.svg") no-repeat scroll 0 -461px;
    height: 43px;
    left: 31px;
    position: absolute;
    top: 43%;
    width: 24px;
    z-index: 1;
}

.section-wrapper3 .product-list-wrap .next {
    background: transparent url("../images/icon_sprite.svg") no-repeat scroll -53px -461px;
    height: 43px;
    right: 30px;
    position: absolute;
    top: 43%;
    width: 24px;
    z-index: 1;
}
.section-wrapper3 .product-list-wrap .prev:hover{
    background-position: 0 -941px;
}
.section-wrapper3 .product-list-wrap .next:hover{
    background-position: -53px -941px;
}


/*-------------------------------------------------------------------------------------------*/


/* Slide 4 Home Page Style */

.section-wrapper4 .fund-rating,
.section-wrapper4 .fund-listing {
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
}

.section-wrapper4 .fund-rating {
    top: 0;
    background: #e6e6e6;
}

.section-wrapper4 .fund-listing {
    bottom: 0;
    background: #ffffff;
}

.fund-rating .company-mascot {
     bottom: 0;
    height: 228px;
    left: 50%;
    margin-left: -25%;
    overflow: hidden;
    position: absolute;
    width: 188px;
}

.fund-rating .company-mascot img {
    width: 100%;
}

.fund-rating-desc {
    bottom: 0;
    left: 50%;
    margin-left: -6%;
    position: absolute;
    width: 445px;
    background: url("../images/home_section4_fundstar.png") no-repeat 0 0 transparent;
    text-align: center;
    height: 246px;
}

.fund-rating-desc .mod-title {
    font-family: 'thin';
    margin-bottom: 6px;
    margin-top: 95px;
    color: #354b60;
    text-transform: lowercase;
}

.fund-rating-desc p {
    color: #354b60;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.fund-rating-desc p span {
    display: block;
    text-align: center;
}
.fund-rating-desc .more-btn-icon{  /*9-5-16*/
    margin: 0 auto;
}

.section-wrapper4 .row.fund-listing {
    position: absolute;
    left: 0;
    right: 0;
    background: #ffffff;
    bottom: 0;
    height: 44%;
    top: auto;
}

.section-wrapper4 ul {
    width: 100%;
    height: 100%
}

.fund-listing li {
    width: 100%;
    float: left;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.fund-listing li .mod-title {
    font-size: 24px;
    text-align: center;
    line-height: 26px;
    margin-top: 20px;
    color: #354b60;
    margin-bottom: 15px;
    font-family: 'light';
    text-transform: lowercase;
}

.fund-listing li .fund-listing-img {
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 0px auto;
}

.fund-listing li .fund-listing-img img {
    width: 100%;
}

.fund-listing .owl-dots .owl-dot {
    background-color: #d9d9d9;
}

.fund-listing .owl-dots .owl-dot.active {
    background-color: #808080;
}


/* Slide 5 Home Page Style */


/*-------------------------------------------------------------------------------------------*/

.buzz-listing,
.buzz-listing .buzz-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.buzz-listing .buzz-item {
    width: 25%;
}

.buzz-listing .buzz-item:nth-child(2) {
    left: 25%;
}

.buzz-listing .buzz-item:nth-child(3) {
    left: 50%;
}

.buzz-listing .buzz-item:nth-child(4) {
    left: 75%;
}

.buzz-listing .buzz-item:last-child {
    padding-right: 0;
}

.buzz-listing .buzz-item .buzz-section {
    bottom: 55px;
    left: 0;
    position: absolute;
    right: 40px;
    top: 0;
}

.buzz-listing .sec-title {
    font-size: 26px;
    background: #e6e6e6 none repeat scroll 0 0;
    color: #354b60;
    display: block;
    font-family: "light";
    margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
}

.buzz-listing .latest-blog-wrap .sec-title.mod-title {
    color: #ffffff;
    background: no-repeat;
    background: #354a5f;
}


/* Latest */

.latest-blog-wrap .mod-title {
    color: #ffffff;
}

.latest-blog-wrap .buzz-cont {
    padding-left: 20px;
    padding-right: 20px;
    background: #354a5f;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}

.latest-blog-wrap .blog-item {
    left: 20px;
    margin-top: -170px;
    position: absolute;
    right: 20px;
    top: 50%;
    padding: 0;
    overflow: visible;
}

.latest-blog-wrap .blog-item .mod-title {
    font-size: 37px;
    margin-bottom: 6px;
}

.latest-blog-wrap .blog-item .blog-by {
    font-size: 13px;
    margin-bottom: 5px;
    font-family: 'normal';
}

.latest-blog-wrap .blog-item .timestamp {
    font-size: 16px;
    font-family: 'normal';
}

.latest-blog-wrap .blog-item p {
    margin-bottom: 18px;
    font-size: 14px;
    font-family: 'light';
}

.latest-blog-wrap .blog-item .btn {
    font-size: 16px;
    text-align: left;
    position: relative;
    left: auto;
    bottom: auto;
    color: #f05a22;
}

.latest-blog-wrap .blog-item .btn.share-icon {
    position: absolute;
    right: -20px;
}


/* News Item */

.news-section .news-listing .divider {
    padding: 16px 0;
    border-bottom: 1px solid #cccccc;
}

.news-section .news-listing .divider:last-child {
    border-bottom: none;
}

.news-section .news-item {
    margin-bottom: 9px;
}

.news-section .news-item p {
    margin-top: 10px;
}

.news-section .news-item .btn {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 16px;
}


/* Social Item */

.social-connect-listing .social-connect-item {
    margin-bottom: 40px;
}

.section-wrapper5 .buzz-listing .more-btn {
    display: block;
    padding: 16px 10px;
    position: absolute;
    left: 0;
    right: 33px;
    bottom: 0;
}

.section-wrapper5 .buzz-listing .more-btn span {
    background: transparent url("../images/icon_sprite.svg") no-repeat scroll -100px -314px;
    display: block;
    height: 24px;
    margin: 0 auto;
    width: 24px;
}

.section-wrapper5 .buzz-listing .more-btn:hover span {
    background-position: -100px -356px;
}

/*home page dock*/
.dock-wrap { /*23-3-16*/
    left: 50%;
    margin-left: -180px;
    opacity: 0;
    padding: 22px 0 0;
    position: fixed;
    right: 0;
    top: 75px;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 320px;
    z-index: 101;
}
.dock-wrap.active{
    top: 0;
    opacity: 1;
    visibility: visible;
}
.dock-wrap ul li{ /*23-3-16*/
    position: relative;
    width: 95px; 
    float: left;
    border-right: 1px solid #cccccc;
}
.dock-wrap ul li:last-child{
    border-right: none;
}
.dock-wrap li a{
    display: block;
    margin: 0 auto;
    width: 45px;
}
.dock-wrap li a .icon{
    margin-right: 0;
    padding-right: 0;
    width: 45px;
    height: 49px;
}
.dock-wrap li a .icon.yourNeed {
    background-position: -465px -394px;
}
.dock-wrap li a .icon.calculator {
    background-position: -465px -473px;
}
.dock-wrap li a .icon.freeQuote {
    background-position: -464px -541px;
}

.dock-wrap li a:hover .icon.yourNeed {
    background-position: -465px -620px;
}
.dock-wrap li a:hover .icon.calculator {
    background-position: -465px -699px;
}
.dock-wrap li a:hover .icon.freeQuote {
    background-position: -464px -767px;
}

.dock-wrap .tooltip-wrap{
    bottom: -58px;
    left: -2px;
    padding: 7px;
    text-align: center;
    top: auto;
    width: 115px;
}
.dock-wrap .tooltip-wrap:after,
.dock-wrap .tooltip-wrap:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dock-wrap .tooltip-wrap:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
}
.dock-wrap .tooltip-wrap:before {
    border-color: rgba(230, 230, 230, 0);
    border-bottom-color: #e6e6e6;
    border-width: 11px;
    margin-left: -11px;
}
.dock-wrap ul li:hover .tooltip-wrap{
    display: block;
}
.dock-wrap .tooltip-wrap .tooltip-cont{
    margin-bottom: 0;
}


/*-------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------*/


/* Style */

@media only screen and (min-width: 900px) and (max-width: 1400px) {
    .section-wrapper1 .banner-wrap .slide-infography {
        height: 420px;
        width: 270px;
    }
    .section-wrapper1 .banner-wrap .slide-action {
        height: 252px;
        width: 216px;
    }
    .section-wrapper1 .banner-wrap .slide-title {
        margin-bottom: 2%;
    }
    /*section2 group start */
    .section-wrapper2 .mod-title {}
    .section-wrapper2 .feature-list .feature-icon {
        margin-right: 10px;
    }
    .section-wrapper2 .company-feature .feature-list {
        margin-bottom:3%;
        margin-left: -34%;
    }
    .section-wrapper2 .testimonial-list ul li {
        top: 25px;
    }
    .section-wrapper2 .company-intro {
        height: 44%;
    }
    .company-title {
        margin-bottom: -8%;
    }
    .section-wrapper2 .company-feature {
        height: 56%;
    }
    .testimonial-list {
        margin-left: 6%;
        height:292px;
    }
    /*section3 group start */
    .section-wrapper3
    {
        z-index:1;
    }
    .section-wrapper3 .product-list-wrap {
        bottom: 3%;
    }
    /*section4 group start */
    .section-wrapper4 .fund-rating {
        height: 48%;
    }
    .section-wrapper4 .fund-listing {
        height: 52%;
    }
    /*section6 group start*/
    .section-wrapper6 .disclaimer-section {
        padding-top: 0px;
    }
    .section-wrapper6 .quick-link-listing .quick-item-cont {
        margin-bottom: 38px;
    }
}

@media only screen and (max-width: 768px) {
    .home .footer-title.toggle-footer
    {
        position:relative;
    }
   .youtube-embed{
        width:100%;
    }
    .mobile-cont {
        display: block !important;
    }
    .desktop-cont {
        display: none !important;
    }
    .content-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-cont,
    .no-scroll .section-cont { /*change-19-1-16*/
        min-height: 0;
    }
    .section-nav {
        display: none;
    }
    .mod-title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .owl-dots .owl-dot{
        width: 8px;
        height: 8px;
    }
    /* Section 1 */
    .section-wrapper1 .banner-wrap {
        height: 280px;
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
    }
    .section-wrapper1 .banner-wrap .title-info-wrap {
        margin-bottom: -50px;
        right: 10px;
        top: 72px;
        width: auto;
    }
    .section-wrapper1 .banner-wrap .title-info-wrap .mod-title {
        font-size: 24px;
    }
    .section-wrapper1 .banner-wrap .banner2 .slide-title .mod-title{ /*28-3-16 new css*/
        font-size: 20px;
    }
    .section-wrapper1 .banner-wrap .title-info-wrap p {
        font-size: 12px;
    }
    .section-wrapper1 .banner-wrap .slide-action {
        height: 120px;
        margin-left: 12%;
        width: 110px;
    }
    .section-wrapper1 .banner-wrap .slide-infography { /*29-3-16*/
        height: 195px;
        margin-left: -45%;
        width: 100px;
    }
    .section-wrapper1 .helper-app-nav-wrap {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        z-index: 1;
        height: auto;
        /*margin: 0 10px;*/
        margin: 0;
        top: -20px;
    }
    .section-wrapper1 .helper-app-nav-wrap .helper-app-nav {
        margin: 20px auto 0;
        width: 100%;
    }
    .section-wrapper1 .helper-app-nav li {
        float: none;
        width: 100%;
    }
    .section-wrapper1 .helper-app-nav li a {
        border-bottom: 1px solid #cccccc;
        padding: 8px 0 8px 30px;
        border-right: none;
        padding-left: 30px;
    }
    .section-wrapper1 .slider-nav li .icon {
        border: 2px solid #ffffff;
        border-radius: 16px;
        height: 14px;
        width: 14px;
    }
    .section-wrapper1 .helper-app-nav li a .icon {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        background: url("../images/mob-sprite.svg") no-repeat -3px -42px transparent;
    }

    .section-wrapper1 .helper-app-nav li a .icon.freeQuote {
        background-position: -2px -57px;
    }

    .section-wrapper1 .helper-app-nav li a .icon.yourNeed {
        background-position: -139px -57px;
    }

    .section-wrapper1 .helper-app-nav li a .icon.calculator {
        background-position: -70px -57px;
    }

    .section-wrapper1 .helper-app-nav li a:hover .icon.freeQuote {
        background-position: -2px -127px;
    }

    .section-wrapper1 .helper-app-nav li a:hover .icon.yourNeed {
        background-position: -139px -127px;
    }

    .section-wrapper1 .helper-app-nav li a:hover .icon.calculator {
        background-position: -70px -127px;
    }
    .section-wrapper1 .helper-app-nav li a .text{
        font-size: 14px;
        line-height: 16px;
    }
    .section-wrapper1 .helper-app-nav li a .text span{
        display: inline-block;
    }

    /* Section 2 */
    .section-wrapper2 .company-intro {
        height: 220px;
        top: auto;
        position: relative;
        left: auto;
        right: auto;
        background: none;
    }
    .section-wrapper2 .company-feature {
        background: #1f3443;
        height: 380px;
        bottom: auto;
        position: relative;
        left: auto;
        right: auto;
    }
    .company-intro .company-mascot {
        height: 164px;
        left: 20px;
        margin-left: 0;
        width: 97px;
    }
    .company-title {
        bottom: auto;
        left: 126px;
        margin-bottom: 0;
        margin-left: 0;
        top: 20px;
        width: auto;
        right: 0;
    }
    .company-feature .feature-list {
        bottom: auto;
        left: auto;
        margin-bottom: 0;
        margin-left: 0;
        position: relative;
        width: 90%;
        height: 248px;
        margin: 0px auto;
        top: 25px;
    }
    .section-wrapper2 .company-feature {
        background: #1f3443;
        height: auto;
        bottom: auto;
        position: relative;
        left: auto;
        right: auto;
    }
    .testimonial-list {
        bottom: auto;
        height: 225px;
        left: auto;
        margin-left: 0;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #cdcdcd;
    }
    .testimonial-list .quote-icon{
        display: none;
    }
    .feature-list .feature-icon{
        height: 34px;
        margin-right: 6px;
        margin-top: 7px;
        width: 34px;
    }
    .testimonial-list ul {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        background: #ffffff;
        margin-top: 0;
    }
    .testimonial-list ul li {
        top: 35px;
    }
    /* Section 3 */
    .section-wrapper3 {
        min-height: 370px; /*change-19-1-16*/
        margin-top: 20px;
        z-index:1;
    }
    .section-wrapper3 .mod-title {
        color: #425868;
        left: auto;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        text-align: center;
        top: auto;
    }
    .section-wrapper3 .product-list-wrap {
        width: 100%;
        height: 312px;
        position: relative;
        left: auto;
        bottom: auto;
        margin-left: 0;
        margin-top: 20px;
        margin-right: 0; /*change-19-1-16 need to remove*/
    }
    .section-wrapper3 .roundabout-holder {/*change-19-1-16 */
        width: 100%;
        height: 280px;
    }
    .section-wrapper3 .product-list-wrap ul li {
        width: 220px !important;
        height: 280px;
        position: relative;
        float: left;
    }
    .section-wrapper3 .product-item .product-title-wrap {
        overflow: hidden;
        padding: 10px 10px 0;
    }
    .section-wrapper3 .product-title-wrap .product-icon { /*change-19-1-16*/      
        height: 60px;
        margin: 12px 11px 50px 10px;
        width: 60px;
    }
  
    .section-wrapper3 .product-title-wrap .product-icon img{
        width: 55px;
    }

    .section-wrapper3 .product-title-wrap h3 {
        font-size: 15px;
        line-height: 18px;
        margin-top: 12px;
    }
    .section-wrapper3 .product-desc {
        padding: 0 12px;
    }
    .section-wrapper3 .product-desc h4 {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .section-wrapper3 .product-desc p {
        font-size: 12px;
        line-height: 14px;
    }
    .section-wrapper3 .product-act-btn .act-btn { /*change-19-1-16*/
        width: 28px;
        height: 28px;
        background: url("../images/mob-sprite.svg") no-repeat -832px -98px transparent;
        margin: 0 3px;
        display: inline-block;
        float: left;
    }
    .section-wrapper3 .product-act-btn .act-btn.act-btn-next { /*change-19-1-16*/
        background-position: -818px -89px;
    }
    .section-wrapper3 .product-act-btn .act-btn.act-btn-buy { /*change-19-1-16*/
        background-position: -886px -89px;
    }

    .section-wrapper3 .roundabout-holder{
        width: 80%;
    }
    .section-wrapper3 .product-list-wrap .prev,
    .section-wrapper3 .product-list-wrap .next{
        width: 15px;
    }
    .section-wrapper3 .product-list-wrap .prev{
        left: 5px;
    }
    .section-wrapper3 .product-list-wrap .next{
        background-position: -61px -461px;
        right: 5px;
    }
    .section-wrapper3 .product-list-wrap .next:hover{
        background-position: -61px -941px;
    }

    /* Section 4 */
    .section-wrapper4 {
        min-height: auto;
        margin-bottom: 30px;
    }
    .section-wrapper4 .fund-rating {
        height: 203px;
        top: auto;
    }
    .fund-rating .company-mascot {
        height: 115px;
        left: 10px;
        margin-left: 0;
        width: 90px;
    }
    .fund-rating-desc { /*16-5-16*/
        background: url("../images/mob_home_section4_fundstar.png") no-repeat 5px 0 transparent;
        height: 144px;
        left: 100px;
        margin-left: auto;
        right: 50px; 
        width: auto;
        bottom: 12px;
    }
    .fund-rating-desc p {
        font-size: 12px;
        line-height: 15px;
    }
    .fund-rating-desc .mod-title {
        margin-top: 48px;
        position: relative;
        top: -88px;
    }
    .section-wrapper4 .fund-listing{
        bottom: auto;
        height: auto;
        left: auto;
        right: auto;
    }
    .section-wrapper4 .fund-rating,
    .section-wrapper4 .fund-listing{
        position: relative;
    }
    .fund-listing li .mod-title{
        font-size: 16px;
        line-height: 18px;
    }
    .fund-listing li .fund-listing-img {
        text-align: center;
        width:100%;
        height:auto;
        margin: 0px auto;
    }

    .fund-listing li .fund-listing-img img {
        height:auto;
        width:100%;
    }
    /* Section 5 */
    .buzz-listing .latest-blog-wrap .sec-title.mod-title {
        color: #354b60;
        margin-bottom: 0;
        background: #e6e6e6;
    }
    .buzz-listing,
    .buzz-listing .buzz-item {
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
    }
    .buzz-listing .buzz-item {
        width: 100%;
        margin-bottom: 1px;
    }
    .buzz-listing .buzz-item:nth-child(2),
    .buzz-listing .buzz-item:nth-child(3),
    .buzz-listing .buzz-item:nth-child(4) {
        left: auto;
    }
    .buzz-listing .buzz-item {
        padding-right: 0;
    }
    .buzz-listing .buzz-item .buzz-section {
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
        background: none;
    }
    .buzz-listing .buzz-item .buzz-cont {
        display: none;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
    .buzz-listing .sec-title {
        padding: 20px 0;
        margin-bottom: 0;
    }
    .latest-blog-wrap {
        background: #354a5f none repeat scroll 0 0;
        padding: 0;
    }
    .latest-blog-wrap .blog-item {
        left: auto;
        margin-top: 0;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
        padding-top: 20px;
    }
    .buzz-section .news-listing,
    .buzz-section.social-connect-listing ul {
        margin: 20px 20px 0;
    }
    .section-wrapper5 .buzz-listing .more-btn {
        display: none;
        padding: 16px 10px;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        margin-bottom: 20px;
    }
    /* Active Style */
    .buzz-listing .buzz-item.active .buzz-cont,
    .buzz-listing .buzz-item.active .more-btn {
        display: block;
    }
    .buzz-listing .buzz-item .sec-title{
        cursor: pointer;
        font-size: 24px;
        line-height: 26px;
    }
    .buzz-listing .buzz-item.active .sec-title {
        background: #ef5a21;
        color: #ffffff;
    }
    .buzz-listing .buzz-item .sec-title:after{
        background: transparent url("../images/mob-sprite.svg") no-repeat scroll -513px -1px;
        content: "";
        display: inline-block;
        height: 16px;
        position: absolute;
        right: 30px;
        top: 29px;
        width: 22px;
    }
    .buzz-listing .buzz-item.active .sec-title:after{
        background-position: -680px -1px;
    }

    .latest-blog-wrap .blog-item .mod-title{
        font-size: 28px;
        line-height: 32px;
    }
}
