@media only screen and (max-width: 768px) {
    /*-------------------------------------------------------------------------------------------*/
    /* Common Style */
    .main-wrapper {
        position: relative;
    }
    .section-wrapper {
        position: relative;
        width: 100%;
    }
    .section-cont {
        width: 100%;
        height: 100%;
        position: relative;
        padding-top: 90px;
    }
    /*change*/
    .content-wrapper {
        display: block;
        padding-bottom: 34px;
        padding-top: 60px;
    }
    .container {
        width: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
    .container-1280 {
        width: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
    /*change over*/
    .mobile-cont {
        display: block !important;
    }
    .desktop-cont {
        display: none !important;
    }
    /* Page Title Style */
    /*change*/
    .title-wrapper {
        padding: 14px 0;
    }
    .page-title {
        font-size: 24px;
    }
    .page-title.type1 {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0;
    }
    .page-sub-title {
        font-size: 20px;
    }
    .mod-title {
        font-size: 12px;
    }
    /*section-head*/
    .section-head {
        display: block;
    }
    .page-back-link {
        display: block;
    }
    .youtube-embed{
        width:100%;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* Layout Common Style */
    /*one-col-layout*/
    .one-col-layout {
        margin-top: 25px;
    }
    /*two-col-layout*/
    .two-col-layout {
        margin-top: 25px;
    }
    .two-col-layout .lhs {
        border-right: none;
        padding-right: 0;
    }
    .two-col-layout .rhs {
        padding-left: 0;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* Module Style */
    /*icon*/
    .detail-wrap .product-action .icon.icon-getQuote {
        background-position: -404px -129px;
    }
    .detail-wrap .product-action .icon.icon-cart {
        background-position: -469px -129px;
    }
    .detail-wrap .product-action .icon.icon-share {
        background-position: -534px -129px;
    }
    .detail-wrap .product-action .icon.icon-getQuote:hover {
        background-position: -206px -130px;
    }
    .detail-wrap .product-action .icon.icon-cart:hover {
        background-position: -272px -129px;
    }
    .detail-wrap .product-action .icon.icon-share:hover {
        background-position: -338px -129px;
    }
    /*collapsible-list*/
    .collapsible-list {
        width: 100%;
    }
    .collapsible-list .panel-title a {
        font-size: 16px;
        line-height: 18px;
        margin: 0 -12px;
    }
    .collapsible-list .panel-collapse {
        margin: 15px 0;
    }

    /*form-wrap styling*/
    .form-list .form-item{
        margin-bottom: 30px;
    }
    .form-list li {
        margin-bottom: 0px;
    }
    .check-condition {
        margin: 5px 0;
    }


    /*---------------Start--------------------*/
    /* Tab Module */
    .tab-content-wrap .tab-content {
        display: none;
    }
    .tab-content-wrap {
        padding: 0;
    }
    .overlay-tabs > .tab-content-wrap {
        background: #fff none repeat scroll 0 0;
        bottom: 45px;
        display: block;
        left: 100%;
        margin-top: 0;
        overflow: scroll;
        position: fixed;
        right: -100%;
        top: 60px;
        z-index: 3;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -ms-transition: all 600ms ease;
        -o-transition: all 600ms ease;
        transition: all 600ms ease;
    }
    .overlay-tabs > .tab-content-wrap .tab-content {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
    .overlay-tabs > .tab-content-wrap.open {
        right: 0;
        left: 0;
    }
    .overlay-tabs .section-head {
        margin-bottom: 20px;
    }
    
    /* Tab-with-Line*/
    .tab-with-line .tab-title {
        float: left;
        margin: 0;
    }
    .tab-with-line .tab-title a {
        color: #b3b3b3;
        font-family: "thin";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
        padding-bottom: 10px;
        border: 5px solid transparent;
        border: none;
        padding: 0;
    }
    .tab-with-line .tab-title:hover a,
    .tab-with-line .tab-title.active a {
        color: #f05a22;
        border-bottom: 3px solid #f05a22;
        background: transparent;
        padding-bottom: 5px;
    }
    .tab-content-wrap .tab-with-line {
        margin: 20px 0;
    }
    /*tab-with-icon*/
    .tab-with-icon .tab-title a .title span {
        display: block;
        font-family: "light";
    }
    .tab-with-icon .tab-title .icon {
        background: url("../images/common_sprite.svg") no-repeat 0 0 transparent;
        display: block;
        height: 42px;
        margin: 0 auto;
        width: 32px;
    }
    /*--------------- Start--------------------*/
    /*blog-style*/
    .layt-buzz .row {
        margin: 0;
    }
    .layt-buzz .layt-buzz-item {
        padding: 0;
        margin-bottom: 16px;
    }

    /* Module */
    .blog-item .mod-title {
        font-size: 36px;
        padding-right: 0;
    }
    /*blog with img*/
    .blog-item.bg-img .buzz-img {
        height: auto;
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .blog-item.bg-img::after {
        background: rgba(53, 74, 95, 0.55) none repeat scroll 0 0;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        z-index: 2;
    }
    .blog-item.bg-img .blog-info {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 60px;
        z-index: 3;
    }
    .blog-item.bg-img .btn {
        z-index: 3;
    }
    /*---------------End--------------------*/
    /*---------------Start--------------------*/
    /* news-item */
    .news-item p,
    .news-item .text {
        font-size: 12px;
    }
    /*video style*/
    .news-item .video-overlay {
        margin: -35px auto 0;
    }
    /*---------------End--------------------*/
    /*---------------Start--------------------*/
    /* static-content */
    .static-cont h3 {
        margin-bottom: 6px;
    }
    .static-cont h3:not(:first-child) {
        margin-top: 30px;
    }
    .static-cont h4 {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 8px;
    }
    /*change*/
    .static-cont a,
    .static-cont p {
        display: block;
        float: none;
        font-size: 12px;
        line-height: 18px;
    }
    /*change over*/
    .static-cont a:hover {
        color: #f05a22;
    }
    .static-cont ul {
        margin: 8px 0;
    }
    .static-cont ul li::before {
        top: 7px;
    }
    .static-cont ul li,
    .static-cont ul li a {
        font-size: 12px;
        line-height: 18px;
    }
    .static-cont .address h4 {
        float: none;
        display: block;
        margin-right: 0;
    }
    .static-cont .address .add-cont {
        float: none;
        display: block;
    }
    .static-cont .address span {
        display: block;
        color: #474747;
        font-size: 12px;
        line-height: 14px;
        font-family: "light";
        letter-spacing: 1px;
        margin-bottom: 4px;
        font-style: normal;
    }
    /*change over*/
    /*---------------End--------------------*/
    /*data-listing-wrap*/
    .data-listing-wrap {
        margin-top: 15px;
    }
    .collapsible-list .panel-body {
        margin: 0;
    }
    .data-listing .list-item {
        margin-bottom: 15px;
    }
    .data-listing .data-head span {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 8px;
    }
    .data-listing .data-head span.bold {
        font-size: 14px;
        line-height: 22px;
    }
    /*---------------Start--------------------*/
    .download-wrapper .download-listing .download-item {
        height: 125px;
        width: 50%;
        transition: background-color 0.35s ease 0s, -webkit-transition: background-color 0.35s ease 0s, -moz-transition: background-color 0.35s ease 0s,
    }
    .download-listing .download-item .download-icon {
        background: url("../images/mob-sprite.svg") no-repeat -279px -1px transparent;
        height: 35px;
        top: -35px;
        width: 35px;
    }
    .download-listing .download-item .download-title {
        bottom: 0;
        font-size: 14px;
        height: auto;
        line-height: 18px;
        padding: 12px;
        position: absolute;
    }
    /*---------------End--------------------*/
    /*---------------Start--------------------*/
    /* Product Style */
    .product-wrap .product-list {
        margin: 0;
    }
    .product-wrap .product-item-wrap {
        display: block;
        float: none;
        height: auto;
        margin-bottom: 16px;
        padding: 0;
    }
    .product-wrap .product-desc p {
        font-size: 14px;
    }
    .product-wrap .product-act-btn .act-btn {
        background: url("../images/icon_sprite.svg") no-repeat -1px -366px transparent;
        margin: 0 3px;
    }
    .product-wrap .product-act-btn .act-btn.act-btn-next:hover {
        background-position: -1px -536px;
    }
    .product-wrap .product-act-btn .act-btn.act-btn-buy {
        background-position: -1px -413px;
    }
    .product-wrap .product-act-btn .act-btn-briefcase {
    background-position: -61px -537px;
}
    /*---------------Start--------------------*/
    /*tab-with-icon*/
    .tab-with-icon .tab-title a .title span {
        display: block;
        font-family: "light";
    }
    .tab-with-icon .tab-title .icon {
        background: url("../images/common_sprite.svg") no-repeat 0 0 transparent;
        display: block;
        height: 42px;
        margin: 0 auto;
        width: 32px;
    }
    /*---------------Start--------------------*/
    /* Sidebar Style */
    .sidebar-panel .mod-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    /* Article */
    .article-list li {
        padding-bottom: 8px;
    }
    /* Subscribe Module */
    .subscribe-wrap p {
        margin-bottom: 15px;
    }
    .sidebar-panel textarea {
        resize: none;
    }
    .sidebar-panel .news-listing .news-item {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .sidebar-panel .news-listing .mod-title {
        font-size: 14px;
        line-height: 16px;
    }
    /* New Overlay */
    .sidebar-panel .news-item.with-overlay .mod-title {
        font-size: 16px;
        left: 10px;
    }
    /* Recommed Overlay */
    .recommed-wrap .mod-title {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .recommed-wrap .link-list {
        padding-left: 8px;
    }
    .recommed-wrap .link-list li {
        margin-bottom: 10px;
    }
    /*change over*/
    .recommed-wrap .link-list a {
        font-size: 13px;
    }
    /*table-wrap*/
    .table-wrap table tr th {
        font-size: 14px;
        line-height: 100%;
    }
    .table-wrap tr td {
        font-size: 14px;
        line-height: 100%;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* buzz listing Style */
    /* News Layout */
    .in-the-news-wrap .v-divider {
        margin-bottom: 10px;
        padding-bottom: 6px;
    }
    .in-the-news-wrap .news-thumb-listing .news-thumb-item {
        margin-bottom: 16px;
    }
    /*social-highlight*/
    .social-highlight {
        padding: 10px 0;
        margin-top: 0px;
    }
    .social-highlight .highlight-title {
        margin-bottom: 14px;
        margin-left: 0;
    }
    .highlight-title .title {
        font-size: 24px;
        line-height: 26px;
    }
    .highlight-title .title span {
        display: block;
    }
    .thumb-with-desc li {
        min-height: 135px;
        padding-right: 0;
        float: none;
        display: block;
    }
    .thumb-with-desc li img {
        width: 100%;
    }
    .thumb-with-desc .desc-wrap {
        border-bottom: 1px solid #cecece;
        margin-bottom: 15px;
        margin-top: 10px;
        min-height: auto;
        padding-bottom: 15px;
    }
    .thumb-with-desc .desc-wrap:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .thumb-with-desc .desc-wrap .text {
        line-height: 24px;
        margin: 0 0 12px 0;
        font-family: 'light';
    }
    .thumb-with-desc .desc-wrap .text.last {
        margin: 0;
    }
    .thumb-with-desc .desc-wrap .social-comment {
        bottom: auto;
        display: block;
        left: auto;
        margin-bottom: 10px;
        position: relative;
    }
    .thumb-with-desc .desc-wrap .social-comment:hover {
        color: #388fd1;
    }
    /*social round tab*/
    .social-tab .social-link {
        margin: 20px auto;
        width: 258px;
    }
    .social-tab .social-link .social-link-item:last-child {
        margin-right: 0;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* buzz detail Style */
    .buzz-detail-wrap .page-back {
        margin-left: 10px;
        margin-top: 15px;
    }
    /*date-tag-wrap*/
    .buzz-detail.date-tag {
        padding-left: 0px;
    }
    .buzz-detail .date-tag-wrap {
        padding: 0;
        width: 30px;
    }
    /*change*/
    .buzz-detail .date-tag-wrap .date {
        font-size: 18px;
        line-height: 20px;
    }
    .buzz-detail .date-tag-wrap .month,
    .buzz-detail .date-tag-wrap .year {
        font-size: 11px;
        line-height: 13px;
    }
    /*change over*/
    .buzz-detail .date-tag-wrap .ribbon-cut {
        background: transparent url("../images/mob-sprite.svg") no-repeat scroll -40px 1px;
        height: 10px;
        margin-top: 0px;
    }
    .buzz-detail.date-tag .buzz-detail-head {
        padding-left: 45px;
    }
    /*.buzz-detail*/
    .buzz-detail .buzz-cont .mod-title {
        font-size: 14px;
        line-height: 20px;
    }
    .buzz-detail .buzz-cont .timestamp {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .buzz-detail .buzz-cont .meta-tag {
        margin-bottom: 12px;
    }
    /*share-comment-wrap*/
    .buzz-detail .buzz-cont .share-comment-wrap {
        margin-bottom: 20px;
    }
    .share-comment-wrap .comment .comment-text {
        font-size: 12px;
        line-height: 14px;
        margin-left: 6px;
    }
    /*related-link*/
    .buzz-cont .related-link {
        margin-bottom: 25px;
    }
    .buzz-cont .related-link > h3 a {
        font-size: 12px;
        line-height: 14px;
    }
    /*comment-box*/
    .comment-box .comment-listing li {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .comment-box .comment-listing li:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    .comment-box .comment-wrap {
        margin-left: -13px;
    }
    .comment-box .comment-wrap .profile-img {
        left: 15px;
    }
    .comment-box .comment-wrap .profile-img img {
        width: 35px;
        height: 35px;
    }
    .comment-box .pro-comment-desc .pro-name a {
        font-size: 14px;
        line-height: 16px;
    }
    .comment-box .pro-comment-desc .timestamp {
        margin-bottom: 12px;
    }
    /*change*/
    .comment-box .leave-reply-wrap .type-reply {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .comment-box .leave-reply-wrap .type-reply::-webkit-input-placeholder,
    .comment-box .leave-reply-wrap .type-reply:-moz-placeholder,
    .comment-box .leave-reply-wrap .type-reply::-moz-placeholder,
    .comment-box .leave-reply-wrap .type-reply:-ms-input-placeholder {
        color: red;
    }
    /*buzz-wrap*/
    .buzz-wrap .select-category {
        margin-bottom: 12px;
        position: relative;
        top: auto;
        width: 100%;
    }
    .select-category select {
        border: 1px solid #cccccc;
        border-radius: 0;
        color: #999999;
        font-size: 16px;
        line-height: 18px;
        padding: 6px 0;
        text-indent: 4px;
        width: 270px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* form download Style */
    .lang-tabs .tab-link-wrap li {
        width: 33.33%;
    }
    .lang-tabs .tab-link-wrap li a {
        border-bottom: 1px solid #ffffff;
        margin: 0 -10px;
        padding: 18px 0;
        width: auto;
    }
    .lang-tabs .tab-title .icon {
        background: url(../images/common_sprite.svg) no-repeat 6px -176px transparent;
        width: 55px;
        height: 28px;
        display: block;
        margin: 0 auto 12px;
    }
    .lang-tabs .tab-link:hover .arrow-icon,
    .lang-tabs .tab-link.active .arrow-icon {
        display: none;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*Public Disclosure*/
    /* Year Style*/
    .title-year {
        width: 240px;
    }
    .title-year ul li {
        width: 80px;
    }
    .title-year ul li a {
        font-size: 20px;
        line-height: 22px;
    }
    .title-year ul li:hover a {
        color: #f05a22;
    }
    .title-year ul li.active a {
        font-size: 58px;
        line-height: 60px;
        color: #f05a22;
    }
    .payment-wrapper {
        margin: 28px 0;
        width: 100%;
    }
    /* Download Form */
    .payment-wrapper .download-listing {
        width: 100%;
    }
    .payment-wrapper .download-listing .download-item {
        width: 50;
        float: left;
    }
    .payment-wrapper .download-item .download-title {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
        width: 100%;
    }

    .public-disclosure-wrap .download-item .download-head {
        bottom: 25px;
    }
    .public-disclosure-wrap .download-item .download-title .sub-head {
        font-size: 12px;
        line-height: 14px;
    }
    /* Circular Carousel Related */
    .public-disclosure-wrap .active-tab {
        font-size: 28px;
        line-height: 26px;
        margin-left: -28px;
        text-align: center;
        top: -7px;
        width: 56px;
    }
    .public-disclosure-wrap .active-tab a {
        color: #f05a22;
    }
    .public-disclosure-wrap .navigator .btn-prev {
        background: url("../images/common_sprite.svg") no-repeat -1142px -146px transparent;
        height: 20px;
        margin-left: -135px;
        top: 0;
        width: 20px;
    }
    .public-disclosure-wrap .navigator .btn-prev:hover {
        background-position: -1142px -185px;
    }
    .public-disclosure-wrap .navigator .btn-next {
        background: url(../images/common_sprite.svg) no-repeat -1191px -146px transparent;
        height: 20px;
        margin-left: 115px;
        top: 0;
        width: 20px;
    }
    .public-disclosure-wrap .navigator .btn-next:hover {
        background-position: -1191px -185px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* search result Style */
    .search-list-wrapper .page-sub-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .search-listing li {
        margin-bottom: 27px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* FAQ Style */
    .faq-listing {
        list-style: none;
        border-bottom: 1px dotted #cecece;
        margin-top: 0px;
    }
    .faq-listing .mod-title {
        font-size: 14px;
    }
    .faq-listing li:before {
        content: counter(incr, decimal-leading-zero);
        color: #f05a22;
        position: absolute;
        font-size: 14px;
        font-family: "light";
        left: -30px;
        top: 0;
    }
    .faq-wrap .sidebar-panel {
        margin-top: 25px;
    }
    .faq-wrap textarea {
        height: 85px;
        margin-bottom: 10px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* no-results-wrap Style */
    .search-not-found .msg-wrap {
        margin-bottom: 25px;
    }
    .search-not-found .msg-wrap .mascot { /*5-3*/
        bottom: 0;
        height: 200px;
        overflow: hidden;
        top: 130px;
    }
    .search-not-found .msg {
        margin: 139px auto 0;
        padding: 40px 10px 24px;
        width: 280px;
    }
    .search-not-found .msg-wrap .quote {
        text-align: center;
        padding-bottom: 35px;
        font-size: 12px;
        line-height: 14px;
    }
    .search-not-found .msg-wrap .quote:before {
        background: url("../images/mob-sprite.svg") no-repeat -178px 1px transparent;
        height: 12px;
        margin-right: 10px;
        width: 12px;
    }
    .search-not-found .msg-wrap .quote:after {
        background: url("../images/mob-sprite.svg") no-repeat -139px 1px transparent;
        height: 12px;
        top: -2px;
        width: 12px;
    }
    .search-not-found .msg-wrap .page-sub-title {
        bottom: 20px;
        font-size: 16px;
    }
    /*not-found-listing*/
    .search-not-found .related-listing .page-sub-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .search-not-found .related-listing li {
        margin-bottom: 20px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*do not call*/
    .do-not-call-wrap .msg-wrapper {
        padding: 38px 0 6px;
    }
    .msg-wrapper .quote {
        margin-right: 116px;
        padding-left: 52px;
    }
    .msg-wrapper .quote .page-sub-title {
        font-size: 16px;
        letter-spacing: 0;
    }
    .msg-wrapper .quote p {
        color: #ffffff;
        font-family: "thin";
        line-height: 18px;
        font-size: 12px;
    }
    .msg-wrapper .mascot {
        right: 21px;
        top: 30px;
        width: 93px;
    }
    .do-not-call-wrap .content-wrapper p {
        font-size: 12px;
        margin-bottom: 18px;
    }
    .msg-wrapper .phone-icon {
        background: transparent url("../images/mob-sprite.svg") no-repeat scroll -216px 1px;
        height: 36px;
        left: 7px;
        top: 41px;
        width: 36px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* about us  style */

    .about-us-wrapper .page-sub-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about-us-wrapper .whyUs-wrap .page-sub-title{
        margin-bottom: 20px;
    }
    /*legacy-wrapper*/
    .legacy-wrapper {
        padding: 0;
    }
    .legacy-wrapper .mascot {
        border: 0 none;
        bottom: -5px;
        left: 10px;
        top: auto;
        width: 96px;
    }
    .legacy-wrapper .legacy-list {
        margin-right: 10px;
    }
    .legacy-wrapper .legacy-list ul {
        padding: 12px 12px 10px;
        width: 182px;
    }
    .legacy-wrapper .legacy-list:before {
        background: transparent url("../images/mob-legacy-list-bg.svg") no-repeat scroll -1px 0;
        height: 43px;
        margin-bottom: -1px;
        width: 185px;
    }
    .legacy-wrapper .legacy-list .legacy-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .legacy-wrapper .legacy-list .legacy-year {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .legacy-wrapper .legacy-list .legacy-quote {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
    }
    .legacy-wrapper .legacy-list p {
        font-size: 11px;
        line-height: 13px;
    }
    /*vision-cont*/
    .vision-cont p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 8px;
    }
    /*values-cont*/
    .values-wrap .value-list li {
        display: block;
        padding-right: 0px;
        margin-bottom: 20px;
    }
   .values-wrap .value-list li .title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    .values-wrap .value-list p {
        font-size: 12px;
        margin: 2px 0 0;
    }
    /*why Us*/
    .whyUs-wrap .whyUs-listing {
        margin: 0;
        padding: 0 40px;
    }
    .whyUs-wrap .whyUs-listing .whyUs-list-item {
        padding: 62px 10px 10px;
    }
    .whyUs-list-item .mod-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .whyUs-list-item .mod-title .line-break {
        display: inline;
        margin-right: 4px;
    }
    .whyUs-list-item .whyUs-icon {
        height: auto;
        left: 10px;
        top: 14px;
        width: 40px;
    }
    .whyUs-wrap .navigator {
        display: block;
    }
    /* Team Intro */
    .team-list .team-intro-wrap {
        padding: 0 20px;
    }
    .team-list .team-intro-wrap .team-intro {
        left: 20px;
        margin-top: -37px;
    }
    .team-list .team-intro-wrap .mod-title {
        font-size: 18px;
    }
    .team-list .team-intro-wrap p {
        font-size: 12px;
    }
    .our-team .team-profile-desc {
        bottom: 45px;
        display: block;
        left: 100%;
        overflow: scroll;
        padding: 50px 10px 10px;
        position: fixed;
        right: -100%;
        top: 60px;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -ms-transition: all 600ms ease;
        -o-transition: all 600ms ease;
        transition: all 600ms ease;
    }
    .our-team .team-profile-desc.active {
        left: 0;
        right: 0;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        -ms-transition: all 600ms ease;
        -o-transition: all 600ms ease;
        transition: all 600ms ease;
    }
    .our-team .team-profile-desc.right-arrow:after {
        left: 100%;
        top: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #ffffff;
        border-width: 31px;
        margin-top: -31px;
    }
    .our-team .team-profile-desc.left-arrow:after {
        right: 100%;
        top: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 31px;
        margin-top: -31px;
    }
    .team-list .profile.active .profile-img img {
        filter: none;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    .team-list .profile-info {
        bottom: 10px;
        padding: 12px;
    }
    .team-list .profile-info .profile-name {
        font-size: 15px;
    }
    .team-list .profile-info .profile-post {
        font-size: 11px;
        margin-top: 5px;
    }
    .team-list .profile:hover .profile-info {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .team-list .profile:hover .profile-info .profile-name,
    .team-list .profile:hover .profile-info .profile-post {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    .team-list .profile.active .profile-info {
        opacity: 0;
    }
    .team-list .profile .profile-info .profile-desc-link {
        bottom: 26px;
        top: auto;
    }
    .team-list .profile:hover .profile-info .profile-desc-link {
        background-position: -1132px -279px;
    }
    .team-list .profile:hover .profile-info .profile-desc-link {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    /*team-profile-desc*/
    .team-profile-desc .profile-name {
        font-size: 14px;
    }
    .team-profile-desc .profile-post {
        font-size: 12px;
    }
    .team-profile-desc p {
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 15px;
    }
    .team-profile-desc .close-icon {
        background: url("../images/mob-sprite.svg") no-repeat -473px 2px transparent;
        right: auto;
        top: 15px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /* rider detailed  style */
    .rider-detail-wrap .info-wrap {
        padding: 10px;
    }
    .rider-detail-wrap .info-wrap .info {
        padding-right: 0;
        display: block;
    }
    .rider-detail-wrap .info-wrap p {
        font-size: 12px;
    }
    .rider-detail-wrap .info-wrap label {
        font-size: 12px;
    }
    .info-wrap .info-links {
        display: block;
    }
    .info-wrap .info-links a {
        margin: 15px 0;
        width: 33.33%;
    }
    .info-wrap .info-links a:hover {
        color: #f05a22;
    }
    .info-wrap .info-links .feature-icon {
        height: 40px;
        width: 40px;
    }
    /* Feature List */
    .feature-wrap .page-sub-title {
        margin-bottom: 20px;
    }
    .feature-list {
        margin: 0;
    }
    .feature-list .row {
        height: auto;
        width: 100%;
        display: table;
    }
    .feature-list .feature-item-wrap {
        display: block;
        float: none;
        height: auto;
        padding: 0;
        margin-bottom: 10px;
    }
    .feature-list .feature-item {
        display: block;
        height: auto;
    }
    .feature-item .feature-cont {
        padding: 12px 15px 10px 15px;
    }
    .feature-item .item-no {
        display: block;
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 6px;
    }
    .feature-item .mod-title {
        font-size: 14px;
    }
    .feature-item p {
        font-size: 14px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*career*/
    .career-msg {
        height: 190px;
    }
    .career-msg .mascot {
        left: 10px;
        top: 40px;
        width: 110px;
    }
    .career-msg .quote {
        margin-top: 40px;
        padding-left: 120px;
    }
    .career-msg .quote .mod-title {
        font-size: 16px;
        line-height: 20px;
    }
    .career-msg .quote .mod-title:before {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -975px -284px;
        content: "";
        display: inline-block;
        float: left;
        height: 20px;
        margin: 0 9px 0 -34px;
        width: 25px;
    }
    .career-msg .quote .mod-title:after {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -926px -284px;
        content: "";
        display: inline-block;
        height: 20px;
        margin-top: 6px;
        vertical-align: top;
        width: 25px;
        margin-left: 14px;
    }
    .career-wrap .profile-img{
        margin-bottom: 10px;
    }
    /* Career Opening Listing */
    .opening-listing {
        display: block;
        float: none;
    }
    .opening-listing ul {
        margin-right: 0px;
    }
    .opening-listing .opening-post-item {
        margin-right: 0;
    }
    .opening-post-item .post-info .post-head {
        float: left;
        width: 100%;
        padding-right: 90px;
    }
    .opening-post-item .post-head .mod-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .opening-post-item .post-info .post-text {
        margin-bottom: 15px;
    }
    .opening-post-item .post-info .post-text p {
        margin-bottom: 0;
    }
    .opening-post-item .action-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .opening-post-item .post-detail-cont p {
        margin-bottom: 5px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*career*/
    .career-attribute {
        margin-bottom: 20px;
        padding: 0 22px;
    }
    .career-attribute .news-item.with-overlay a .mod-title {
        font-size: 16px;
    }
    .career-attribute .owl-prev {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -1326px -186px;
        height: 19px;
        left: -25px;
        margin-top: -9px;
        width: 11px;
    }
    .career-attribute .owl-prev:hover {
        background-position: -1326px -138px;
    }
    .career-attribute .owl-next {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -1365px -186px;
        height: 19px;
        margin-top: -9px;
        right: -25px;
        width: 11px;
    }
    .career-attribute .owl-next:hover {
        background-position: -1365px -138px;
    }
    .more-apply {
        display: block;
        margin-bottom: 20px;
    }
    .more-apply .add-icon {
        background: url("../images/mob-sprite.svg") no-repeat -343px 0 transparent;
        float: left;
        height: 25px;
        width: 25px;
    }
    .more-apply span {
        display: block;
        font-size: 14px;
        overflow: hidden;
    }
    .profile-wrapper .profile-img img {
        width: 100%;
    }
    .profile-wrapper .profile-desc {
        padding: 0px 0px 14px;
    }
    .profile-wrapper .profile-desc .mod-title {
        font-size: 16px;
    }
    .profile-wrapper .profile-desc .sub-title {
        font-size: 11px;
        margin-bottom: 10px;
    }
    .profile-wrapper .profile-desc p {
        font-size: 12px;
    }
    .profile-wrapper .profile-dept {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        display: block;
        float: none;
    }
    .profile-wrapper .profile-dept .mod-title {
        margin-bottom: 15px;
    }
    .profile-wrapper .profile-dept ol {
        margin-left: 20px;
    }
    .profile-wrapper .profile-dept ol li {
        font-size: 12px;
    }
    .program-wrapper .mod-title {
        margin-bottom: 16px;
    }
    .program-wrapper .program-details {
        display: block;
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*report*/
    .report-claim-wrap .process-step-wrap {
        margin-top: 0px;
        padding-top: 0px;
    }
    .infograph-wrap .mod-title {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .process-step-wrap .form-wrap {
        border-left: none;
        min-height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .process-step-wrap .process-step-desc {
        margin-top: 20px;
    }
    .process-step-wrap .process-step-desc .mod-title {
        font-size: 12px;
    }
    /* Document Wrapper */
    .documents-wrapper .tab-with-line {
        margin: 30px 0 21px;
    }
    .documents-wrapper .mod-title {
        font-size: 16px;
    }
    .documents-wrapper .documents-listing {
        padding-right: 0;
    }
    .documents-listing .list-item {
        display: block;
        float: none;
    }
    .documents-listing .list-item .icon {
        margin-top: -2px;
    }
    .documents-listing .list-item .document-title {
        font-size: 14px;
        line-height: 17px;
    }
    .documents-listing .list-item .document-title span {
        color: #666666;
        display: block;
        font-size: 11px;
        line-height: 13px;
    }
    .documents-listing .submitted-listing .list-item {
        margin-bottom: 25px;
        padding-bottom: 20px;
    }
    .documents-listing .submitted-listing .list-item:last-child {
        display: block;
        border-bottom: 1px solid #ccc;
        margin-bottom: 36px;
        padding-bottom: 7px;
    }
    .documents-listing .download-listing .document-title {
        color: #f05a22;
        display: inline-block;
        letter-spacing: 0;
        line-height: 25px;
    }
    .documents-listing .download-listing a.document-title:hover {
        color: #354b60;
    }
    .documents-listing .act-btn {
        font-size: 24px;
        line-height: 26px;
        padding: 5px 0;
        width: 100%;
    }
    /* Report Claim */
    .report-claim-wrap .claim-tab {
        margin-top: 0px;
    }
    .claim-tab .tab-title {
        border: none;
        float: left;
        height: 100px;
        margin: 0;
        width: 33.33%;
        min-width: auto;
    }
    .claim-tab .tab-title .icon {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -170px -354px;
        display: block;
        height: 42px;
        margin: 0 auto 4px;
        width: 32px;
    }
    /*intimation*/
    .report-claim-wrap .infograph-wrap {
        border-bottom: medium none;
        display: block;
        float: none;
        margin-bottom: 25px;
        padding-bottom: 0;
        padding-top: 16px;
    }
    .report-claim-wrap .infograph-wrap .infograph {
        max-width: 300px;
        margin: 0 auto;
    }
    .report-claim-wrap .infograph-wrap .infograph img {
        width: 100%;
    }
    /*ceo-letter-wrapper*/
    .ceo-letter-wrap {
        display: block;
        margin-top: 20px;
    }
    .ceo-letter-wrap .ceo-img {
        display: inline-block;
        float: none;
        padding-right: 0;
        text-align: center;
    }
    .ceo-letter-wrap .ceo-img img {
        float: none;
        margin: 0 auto;
    }
    .ceo-letter-wrap .ceo-img p {
        float: left;
        font-size: 14px;
        margin-top: 6px;
    }
    .ceo-letter-wrap .ceo-img p:before {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -975px -284px;
        content: "";
        display: inline-block;
        float: left;
        height: 16px;
        width: 20px;
        margin-right: 4px;
    }
    .ceo-letter-wrap .ceo-img p:after {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -925px -284px;
        content: "";
        display: inline-block;
        height: 16px;
        vertical-align: top;
        width: 20px;
        margin-left: 5px;
    }
    .ceo-letter-wrap .letter-text {
        float: none;
        display: block;
    }
    .ceo-letter-wrap .letter-text p {
        margin-bottom: 20px;
    }
    .ceo-letter-wrap .letter-text span {
        font-size: 12px;
        line-height: 14px;
    }
    
    /*claim_philosophy*/
    .claim-tab.claim-philosophy .nav-tab-list li{
        text-align: center;
    }
    .claim-tab.claim-philosophy .tab-title{
        float: none;
        width: auto;
    }

    /*story starts*/
    .stories-wrapper {
        display: block;
        width: 100%;
    }
    .story-list-item {
        float: none;
        display: block;
    }
    .story-list-item .story-detail {
        margin-bottom: 10px;
        margin-right: 0;
        padding: 20px 10px;
    }
    .story-list-item .profile-intro .profile-img {
        height: 75px;
        width: 60px;
    }
    .story-list-item .profile-intro .profile-mention {
        margin-top: 10px;
    }
    .story-list-item .profile-intro .profile-name {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    .story-list-item .story-desc p {
        font-size: 12px;
    }
    .story-list-item .story-desc p:before {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -975px -284px;
        content: "";
        display: inline-block;
        float: left;
        height: 16px;
        width: 20px;
        margin-right: 10px;
    }
    .story-list-item .story-desc p:after {
        background: transparent url("../images/common_sprite.svg") no-repeat scroll -926px -284px;
        content: "";
        display: inline-block;
        height: 16px;
        vertical-align: top;
        width: 20px;
        margin-left: 10px;
    }
    /*-------------------------------------------------------------------------------------------*/
    /*renew*/

    .renew-online-wrap .process-step-wrap {
        padding: 20px 0 70px;
    }
    .renew-online-wrap .infograph-wrap .mod-title {
        font-size: 12px;
        line-height: 18px;
    }
    .renew-online-wrap .infograph-wrap .mod-title .bold {
        font-size: 16px;
        color: #f05a22;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .renew-online-wrap .infograph-wrap {
        border-bottom: none;
        display: block;
        float: none;
        margin-bottom: 25px;
        padding-bottom: 0;
    }
    .renew-online-wrap .infograph-wrap .infograph img {
        width: 100%;
    }
    .policy-wrap .mod-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .policy-details-list ul {
        display: block;
        margin-bottom: 8px;
    }
    .policy-wrap .policy-details-list li {
        float: none;
        display: block;
        margin-right: 0;
        padding-right: 0;
        border-right: none;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #cecece;
    }
    .policy-wrap .policy-details-list li:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .policy-details-list .list-name {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 7px;
    }
    .policy-details-list .list-cont {
        font-size: 16px;
        line-height: 18px;
    }
    .policy-wrap .btn {
        margin-top: 17px;
    }
    /*checkbox-wrap*/
    .policy-wrap .checkbox-wrap label {
        color: #666666;
        font-family: "light";
        font-size: 12px;
        line-height: 14px;
    }
    .policy-wrap .checkbox-wrap input[type="checkbox"]:not(old) + label,
    .policy-wrap .checkbox-wrap input[type="radio"]:not(old) + label {
        display: inline;
    }
    .policy-wrap .checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
        background-position: 0 -54px;
    }
    /*product_detail*/
    .product-logo {
        width: 60px; /*5-3*/
    }
    .product-logo img { /*5-3*/
        width: 100%;
        height: auto;
    }
    .detail-wrap .action-wrapper {
        margin-bottom: 12px;
    }
    .product-detail-wrap .detail-wrap{
        padding: 15px 12px 40px;
    }
    .detail-wrap .product-action .icon {
        background: url("../images/mob-sprite.svg") no-repeat -786px -178px transparent;
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
    .product-detail-wrap .data-listing-wrap .counter-list:before{
        line-height: 30px;
    }
    .product-detail-wrap .data-listing-wrap .data-head{
        margin-bottom: 0;
    }
    .product-detail-wrap .table-wrap table{
        margin-bottom: 0;
    }
    .product-detail-wrap .detail-wrap .action-wrapper{
        margin-bottom: 25px;
    }
    .product-detail-wrap .detail-wrap .sidebar-panel .list-item{
        margin-bottom: 15px;
    }

    .detail-wrap .page-sub-title {
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 10px;
    }
    /*feachers-listing*/
    .detail-wrap .features-listing {
        margin: 20px 0;
    }
    .detail-wrap .features-listing > li {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .detail-wrap .features-listing .mod-title {
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 6px;
    }
    /*product-info*/
    .product-info .rhs {
        padding-right: 0;
    }
    /*user-action*/
    .detail-wrap .user-action {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        border-bottom: none;
        padding-bottom: 0;
        width: 100%;
        overflow: hidden;
    }
    /*sidebar-panel*/
    .detail-wrap .sidebar-panel {
        padding-top: 20px;
    }
    .detail-wrap .sidebar-panel .mod-title {
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 16px;
    }
    /*news-listing*/
    .detail-wrap .sidebar-panel .news-listing .news-item {
        padding-bottom: 0;
    }
    .detail-wrap .sidebar-panel .news-listing .mod-title {
        font-size: 14px;
        line-height: 16px;
    }
   
    /*-------------------------------------------------------------------------------------------*/
    /* Graph Style */
    .custom-bar-chart { /* Irfan */
        height:160px;
        margin:10px 0;
        width: auto;
    }
    .ct-chart .ct-legend {
        bottom: -11px;
        position: absolute;
        top: auto;
    }
    .custom-bar-chart .ct-bar { /* Irfan */
        stroke-width:16px;
    }
    .ct-chart .ct-legend li {
        font-family: "light";
        padding-left: 18px;
    }
    .custom-bar-chart .ct-axis-title {
        display: none;
    }
    .custom-bar-chart .ct-label { /* Irfan */
        font-size:10px;
    }

/*-------------------------------------------------------------------------------------------*/
/*funds-wrap*/

.funds-wrap .two-col-layout .lhs{
    min-height: auto;
}
.funds-wrap .tab-with-line .tab-content-wrap {
    padding: 0 0 20px;
}
.funds-wrap .fund-snapshot-wrap {
    margin-top:0;
}

/*filter-section*/
.funds-wrap .filter-section {
    padding: 10px;
}
.funds-wrap .filter-section .mod-title {
    font-size: 16px;
    line-height: 18px;
}
.funds-wrap .filter-section .date-select-wrap .form-item {
    float: left;
    width: 50%;
    padding-right: 5px;
}

/*fund-rating*/
.funds-wrap .fund-rating {
    height: 145px;
}
.fund-rating .company-mascot{
    height: 65px;
    left: 3px;
    top: 30px;
    width: 72px;
}
.fund-rating .fund-rating-desc{
    background: url("../images/mob_fund_star_infography.png") no-repeat 0 5px transparent;
    height: 130px;
    right: 3px;
    width: 230px;
      left: auto;
}
.fund-rating .fund-rating-desc p{
    font-size: 12px;
    line-height: 14px;
    margin: 56px auto 0;
    width: 170px;
}

/*snapshot*/
.funds-wrap .nav-history.two-col-layout .lhs{  /*5-3 new added*/
    min-height: 128px;
}

/*graph-wrap*/
.funds-wrap .fund-snapshot-wrap .graph-wrap { /*5-3*/
    margin-bottom: 55px;
    min-height: 165px
}
.funds-wrap .graph-wrap .risk-meter {
    bottom: -46px;
    left: 0;
    right: 0;
    top: auto;
}

/*snapshot-info*/
.funds-wrap .snapshot-info{
    padding:12px;
}
.funds-wrap .snapshot-info ul > li{
    padding-right: 0;
    margin-bottom: 28px;
}
.funds-wrap .snapshot-info .mod-title{
    font-size: 16px;
    line-height: 18px;
}
.funds-wrap .snapshot-info .text{
    line-height: 150%;
}
.funds-wrap .snapshot-info ol li{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}
/*pie-legend*/
.fund_piegraph{ /*5-3 new added*/
    width: 50%;
    height: 125px;
}
.funds-wrap .snapshot-info .pie-legend{ /*5-3*/
    float: right;
    position: relative;
    right: 2px;
    top: 15px;
}
.funds-wrap .snapshot-info .pie-legend li{
    margin-bottom: 2px;
    padding-left: 0;
}


/*table-wrap*/
.funds-wrap .nav-history .form-wrap .form-list .form-item{
    margin-bottom: 5px;
}
.funds-wrap .nav-history .table-wrap table tr th{
    width: 100%;
}
.funds-wrap .nav-history .table-wrap tr {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}
.funds-wrap .nav-history .table-wrap tr:first-child{
    border: none;
    margin-bottom: 0;
    padding: 4px;
    background: #354b60;
}
.funds-wrap .nav-history .table-wrap tr:first-child th{
    display: none;
}
.funds-wrap .nav-history .table-wrap tr td {
    border-bottom: medium none;
    float: left;
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 0 16px;
    width: 100%;
}
.funds-wrap .nav-history .table-wrap .action-wrapper{
    position: fixed;
    right: 0;
    top:280px;
}
.funds-wrap .nav-history .table-wrap .action-wrapper .btn span{
    display: block;
}

/*market-outlook-wrap*/
.funds-wrap .market-outlook-wrap .table-wrap{
    margin: 0 -12px;
}
.funds-wrap .market-outlook-wrap .table-wrap table tr th{
    width: auto;
}
.funds-wrap .market-outlook-wrap .tab-content-wrap{
    padding-top: 32px;
}
.funds-wrap .market-outlook-wrap .timestamp{
    left: 0;
    right: 0;
    text-align: center;
    top: 54px;
}
.funds-wrap .market-outlook-wrap .bullet-listing{
    margin-right: 0;
}

.funds-wrap .market-outlook-wrap .bullet-listing ul li{
    line-height: 14px;
}
.funds-wrap .market-outlook-wrap .bullet-listing ul li::before {
    height: 5px;
    margin: 5px 10px 0 -17px;
    width: 5px;
}


/*investment-wrap*/
.funds-wrap .investment-wrap .data-listing .list-item{
    padding-right: 0;
}
.funds-wrap .investment-wrap .data-listing-wrap .counter-list::before{
    font-size: 36px;
    line-height: 38px;
}

/*download-factsheet*/
.funds-wrap .circular-carousel-wrap.download-factsheet .active-tab {
    font-size: 28px;
    left: 50%;
    line-height: 26px;
    margin-left: -28px;
    text-align: center;
    top: -7px;
    width: 56px;
}
.funds-wrap .circular-carousel-wrap.download-factsheet .navigator .btn-prev {
    background: transparent url("../images/common_sprite.svg") no-repeat scroll -1142px -146px;
    height: 20px;
    margin-left: -143px;
    top: 0;
    width: 20px;
}
.funds-wrap .circular-carousel-wrap.download-factsheet .navigator .btn-next {
    background: transparent url("../images/common_sprite.svg") no-repeat scroll -1191px -146px;
    height: 20px;
    margin-left: 115px;
    top: 0;
    width: 20px;
}
.funds-wrap .circular-carousel-wrap.download-factsheet .navigator .btn-prev:hover {
    background-position: -1142px -185px;
}
.funds-wrap .circular-carousel-wrap.download-factsheet .navigator .btn-next:hover {
    background-position: -1191px -185px;
}
.funds-wrap .download-factsheet .payment-wrapper{
    height: 600px;
}
.funds-wrap .download-factsheet .download-wrapper .download-listing .download-item{
    width: 50%;
    height: 100px;
}
.funds-wrap .download-factsheet .payment-wrapper .download-item .download-title{
    font-size: 16px;
    line-height: 18px;
    padding: 24px 5px 25px;
}
.funds-wrap .download-factsheet .payment-wrapper .download-item .download-title .sub-head{
    font-size: 10px;
    margin-top: 0;
}

/*demo-portfolio-wrap*/
.funds-wrap .demo-portfolio{ /*5-3*/
    position: relative;
    margin-top: 180px;
}
.funds-wrap .demo-portfolio-wrap .status-wrap{ /*12-5-16*/
    margin-left: 0;
    margin-bottom: 20px;
}
.funds-wrap .demo-portfolio .ct-chart{ /*5-3*/
    background: #ffffff;
    height: 150px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: -160px;
    z-index: 115;
    padding-bottom: 25px;
}
.funds-wrap .demo-portfolio .fund_bargraph_portfolio.custom-bar-chart.ct-chart .ct-legend{
    text-align: left;
    left: 12px;
    bottom: 7px;
}
.demo-portfolio-wrap .investment-details{
    padding-right: 0px;
    margin-bottom: 30px;
    min-height: 173px; /*5-3*/
}
.demo-portfolio-wrap .allocate-funds{
    padding-left: 0;
}
.demo-portfolio-wrap .page-sub-title{
    font-size: 16px;
    line-height: 18px;
}
.demo-portfolio-wrap .custom-bar-chart .ct-bar {
    stroke-width: 12px;
}
.slider-box-wrap li{
    padding: 0 0 10px 0;
}
.slider-box .mod-title{
    padding-right: 35px;
}
.slider-box .indicator{
    position: absolute;
    right: 8px;
    top: 8px;
}


/*table mobile style*/
.table-wrap table colgroup{
    display: none;
}
.table-wrap{
    margin-left: -10px;
    margin-right: -10px;
}
.table-wrap table tr th{
    display: none;
}
.table-wrap table tr:first-child{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.table-wrap table tr{
    border-bottom: 1px solid #b3b9bf;
    display: block;
    margin: 16px 10px;
    padding-bottom: 10px;
    position: relative;
    overflow:hidden;
}
.table-wrap table tr td{
    border-bottom: 0 none;
    display: block;
    padding: 4px;
    margin-bottom: 10px;
}
.table-wrap table .table-field-title{
    display: block;
}
.table-wrap table tr .table-field-title.main{
    color: #ffffff;
    display: block;
}
.table-wrap table tr td .table-field-title{
    color: #666666;
    float: left;
    max-width: 60%;
    padding-right: 10px;
}
.table-wrap table tr td > span{
    display: block;
    overflow: hidden;
}
/*------------------------------------------------------------------------*/
/* myAccount Style */

/*notification-wrap*/
    .myaccount-wrap .notification-wrap {
        right: 12px;
    }

    /* left navigation styling */
    .myaccount-wrap .left-section.lhs {
        display: none;
    }
    .myaccount-wrap .left-section .nav-listing .list-item {
        padding: 14px 18px 12px;
        border-bottom-color: #ffffff;
        background: #354b60;
    }
    .myaccount-wrap .left-section .nav-listing .list-item a,
    .myaccount-wrap .left-section .nav-listing .list-item .nav-title {
        color: #ffffff;
        font-size: 18px;
        line-height: 20px;
    }
    .myaccount-wrap .left-section .nav-listing .list-item .icon {
        float: right;
    }
    .myaccount-wrap .left-section .nav-listing .list-item.active .nav-title,
    .myaccount-wrap .left-section .nav-listing .list-item a:hover .nav-title,
    .myaccount-wrap .left-section .nav-listing .sub-list-item a:hover,
    .myaccount-wrap .left-section .nav-listing .sub-list-item.active a,
    .myaccount-wrap .left-section .nav-listing .list-item.active,
    .myaccount-wrap .left-section .nav-listing .list-item:hover {
        background: #f05a22;
        color: #ffffff;
    }
    .myaccount-wrap .left-section .nav-listing .sub-list-item a,
    .myaccount-wrap .left-section .nav-listing .sub-list-item {
        font-size: 12px;
        line-height: 14px;
        margin-top: 8px;
        color: #ffffff;
    }

    /* step-process styling  track-application-wrap*/
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list {
        width: 22%;
    }
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list .step-icon {
        font-size: 11px;
        line-height: 13px;
    }
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list.processing .step-icon,
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list.completed .step-icon {
        background-position: 18px -458px;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap:after,
    .myaccount-wrap .content-show-wrap:before {
        left: 10%;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap.contentSelected2:after,
    .myaccount-wrap .content-show-wrap.contentSelected2:before {
        left: 30%;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap.contentSelected3:after,
    .myaccount-wrap .content-show-wrap.contentSelected3:before {
        left: 50%;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap.contentSelected4:after,
    .myaccount-wrap .content-show-wrap.contentSelected4:before {
        left: 70%;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap.contentSelected5:after,
    .myaccount-wrap .content-show-wrap.contentSelected5:before {
        left: 90%;
    }
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list.initiated .step-icon {
        background-position: 14px -60px;
    }
    .myaccount-wrap .track-application-wrap .step-process-wrapper .step-process-list .step-icon {
        background-position: 14px 10px;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap,
    .myaccount-wrap .track-application-wrap .mod-sub-title {
        margin: 0 15px;
    }
    .myaccount-wrap .track-application-wrap .content-show-wrap .desc {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 0px;
    }
    .myaccount-wrap .track-application-wrap .application-detail-wrap ul li {
        font-size: 13px;
        line-height: 17px;
        margin-right: 18px;
    }
    .myaccount-wrap .track-application-wrap .application-detail-wrap ul li.last {
        margin-right: 0;
    }

    /* Quick View Page Styling */
    .myaccount-wrap .quick-view-wrap .container {
        padding: 20px 10px;
    }
    .myaccount-wrap .quick-view-listing .quick-view-item {
        padding:0 0 30px 0;
    }
    .myaccount-wrap .user-info-wrap {
        margin-right: 0;
    }
    .myaccount-wrap .user-info-det .profile-img-wrap .profile-img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    .myaccount-wrap .user-info-wrap .small-text {
        font-size: 14px;
        line-height: 16px;
    }
    .myaccount-wrap .user-info-wrap .user-info-title {
        font-size: 24px;
        line-height: 26px;
    }
    .myaccount-wrap .user-info-wrap .link {
        font-size: 14px;
        line-height: 16px;
    }
    .myaccount-wrap .user-info-wrap .desc {
        margin-bottom: 15px;
    }
    .myaccount-wrap .user-info-wrap .user-info-det {
        padding-bottom: 15px;
    }
    .myaccount-wrap .user-info-wrap .user-family-info .sub-sec-title {
        font-size: 20px;
        line-height: 22px;
    }
    .myaccount-wrap .quick-view-wrap .main-link {
        margin-right: 1%;
        width: 49%;
        padding:6px 18px;
    }

    .myaccount-wrap .quick-view-wrap .user-detail .profile-img{
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .myaccount-wrap .quick-view-wrap .user-detail .intro-text{
        font-size: 14px;
        line-height: 16px;
    }
    .myaccount-wrap .quick-view-wrap .user-detail .user-name{
        font-size: 24px;
        line-height: 26px;
    }
    .myaccount-wrap .quick-view-wrap .user-detail .phone-no,
    .myaccount-wrap .quick-view-wrap .user-detail .mail-link{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .myaccount-wrap .quick-view-wrap .user-family-detail .sub-sec-title{
        font-size: 20px;
        line-height: 22px;
    }
    .myaccount-wrap .quick-view-wrap .summary-wrap .title .number{
        font-size: 45px;
        line-height: 48px;
    }
    .myaccount-wrap .quick-view-wrap .summary-wrap .title .text{
        font-size: 16px;
        line-height: 20px;
        top: 0;
    }
    .myaccount-wrap .quick-view-wrap .summary-data-list .list-cont{
        font-size: 13px;
        line-height: 15px;
    }
    .myaccount-wrap .quick-view-wrap .main-link{
        font-size: 14px;
        line-height: 16px;
    }

    /*form-wrap*/
    .myaccount-wrap .form-wrap {
        margin-top: 0;
    }
    .myaccount-wrap .link{
        font-size: 12px;
        line-height: 14px;
    }

    /*your-profile-wrap*/
    .myaccount-wrap.your-profile-wrap .profile-img-wrap{
        margin-bottom: 30px;
    }
    .myaccount-wrap.your-profile-wrap .radiobox-wrap {
        margin-bottom: 20px;
        margin-top: 10px;
    }

/*product briefcase*/
   
    /* etransaction switch online template 2*/
    .myaccount-wrap.eTransaction-wrap .mod-sub-title,
    .myaccount-wrap .eTransaction-wrap .mod-sub-title {
        font-size: 14px;
        line-height: 22px;
    }
    .myaccount-wrap .eTransaction-wrap .table-wrap .table-accordion-data input[type="text"]{
        padding: 7px 5px;
    }
    .current-allocation-table .table-wrap table tr td{
        font-size: 12px;
        padding: 0 80px 0 0;
        margin-bottom: 5px;
    }
    .current-allocation-table .table-wrap table tr td:last-child{
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
    }
    .current-allocation-table .table-wrap table tr td:last-child input[type="text"]{
        font-size: 12px;
    }
    .current-allocation-table .table-wrap table tr td:nth-child(3){
        font-family: "bold";
    }

    /*eTransaction-table1*/
    table.eTransaction-table1 tr{
        position: relative;
    }
    table.eTransaction-table1 tr td:before{
        color: #354b60;
        font-family: "bold";
        margin-right: 10px;
    }
    table.eTransaction-table1 tr td{
        margin-right: 55px;
    }
    table.eTransaction-table1 tr:nth-child(even) td:last-child{
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    table.eTransaction-table1 tr td.hiddenRow:before{
        content: "";
        margin: 0;
    }
    table.eTransaction-table1 tr:nth-child(odd){
        border-bottom: none;
        margin: 0;
        padding: 0;
    }
    table.eTransaction-table1 tr td.hiddenRow{
        margin-right: 0;
    }

    .myaccount-wrap .eTransaction-wrap .table-wrap .table-accordion-data {
      padding: 10px;
     
    }
   .myaccount-wrap .eTransaction-wrap .table-wrap .table-accordion-data.collapse.in 
    {
         border-bottom: 1px solid #b3b9bf;
    }
    .myaccount-wrap .eTransaction-wrap .table-wrap .table-accordion-data .left-cont{
        width: 100%;
        margin-bottom: 15px;
    }
    .myaccount-wrap .eTransaction-wrap .table-wrap .table-accordion-data .right-cont{
        width: 100%;
        padding-left: 0;
    }
    .myaccount-wrap .eTransaction-wrap .eTransaction-table2 .editbox{
        position: relative;
        display: inline-block;
        color: #f05a22;
    }
    .myaccount-wrap .eTransaction-wrap .eTransaction-table2 .edit{
         bottom: 0;
        display: block;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .myaccount-wrap .eTransaction-wrap .eTransaction-table2 tr td:nth-child(3n) .editbox::before{
        content: "portfolio details";
        display: inline-block;

    }
    .myaccount-wrap .eTransaction-wrap .eTransaction-table2 tr td:nth-child(4n) .editbox:before{
        content: "performance summary";
        display: inline-block;
    }


    .myaccount-wrap .box-item{ /*5-3-16*/
        margin-right: 0;
    }

/*myAccount notification listing page*/
.notification-listing li a{
    padding: 15px;
}
.notification-listing li a .notify-time-wrap{
    position: relative;
    right: auto;
    top: auto;
    display: block;
}


/*----------------------------- Timeline steps styling ------------------------------*/

     /*------------------ Common CSS ------------------*/
    .main-wrapper{
        position: absolute;
    }
    .timeline-wrap {
        top: 60px;
    }
     .timeline-wrap  .content-wrapper {
        bottom: 0;
        left: 0;
        padding-bottom: 0;
        padding-top: 0;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
    }
    .timeline-section-wrap{
        top: 100px;
    }

    .timeline-section .section-title {
        left: 10px;
        right: 10px;
        top:0;
        z-index: 2;
    }
    .timeline-section .section-title .mod-title {
        font-size: 26px;
        line-height:28px;
    }
    .timeline-section .section-title p {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 2px;
    }
    .timeline-section .section-title .small-text {
        font-size: 11px;
        line-height: 12px;
    }
    .timeline-section .sec-cont {
        width: 100%;
    }
    .timeline-section .field-info {
        height: 80px;
        line-height: 80px;
        width: 80px;
    }
    /*timeline-steps-wrap*/
    .timeline-steps-wrap{
        width: 100%;
    }
    /*next button styling*/
    .timeline-section .next-btn {
        width: 40px;
        height: 40px;
        top: 300px;
        right: 20px;
        background-position: -165px -585px;
    }
    /*clouds wrap styling */
    .timeline-section .cloud-label-wrap label {
        padding: 25px 20px;
    }
    .timeline-section .checkbox-wrap input[type="checkbox"]:not(old) + label {
        background: transparent url("../images/timeline_sprite.svg") no-repeat scroll -17px -115px;
    }
    .timeline-section .checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
        background-position: -17px -238px;
    }
    /*----- Gender styling -----*/
    .timeline-wrap .gender-selection {
        width: auto;
    }
    .timeline-wrap .gender-selection .gender {
        bottom: 30px;
        height: 150px;
        top: auto;
        width: 76px;
    }
    .timeline-wrap .gender-selection .gender.gender-male {
        background: transparent url("../images/timeline-gender.svg") no-repeat scroll -563px -190px;
        margin-left: -130px;
        margin-top: auto;
        top: auto;
    }
    .timeline-wrap .gender-selection .gender.gender-female {
        background: url("../images/timeline-gender.svg") no-repeat -838px -189px transparent;
        margin-left: 58px;
        margin-top: auto;
        top: auto;
    }
    .timeline-wrap .gender-selection .gender.gender-selected{
        margin-left: -22px;
    }
    /*------ Age Selection ------*/
    .timeline-section .age-selection .field-info {
        top: 125px;
        left: 50%;
        margin-left: -40px;
    }
    .timeline-section .field-info .value {
        font-size: 25px;
        margin-top: -20px;
    }

    .timeline-section .field-info .field-text {
        font-size: 10px;
        margin-top: 10px;
    }

.timeline-section .age-selection .field-info {
    left: 50%;
    margin-left: -40px;
    margin-top: auto;
    top: 69px;
}

.timeline-section .timeline-age-cal .slider {
    left: 50%;
    margin-left: -105px;
    margin-top: auto;
    position: absolute;
    top: 177px;
    width: 210px;
}

.timeline-section .timeline-age-cal .noUi-target {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 17px;
    height: 6px;
}

.timeline-section .timeline-age-cal .noUi-handle {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    height: 23px;
    top: -9px;
    width: 24px;
}

.timeline-section .timeline-age-cal .noUi-origin {
    background: #ccc none repeat scroll 0 0;
}

.timeline-section .timeline-age-cal .ageWidget-cont {
    background: transparent none repeat scroll 0 0;
    bottom: 10px;
    height: auto;
    left: 6px;
    margin-top: auto;
    position: absolute;
    right: 10px;
    top: auto;
    width: auto;
}

.timeline-section .ageWidget-cont .monthTable {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 215px;
    margin-right: 30px;
    padding: 10px;
    width: 100%;
}

 /*timeline-section3*/
.timeline-section .dependents-section .spouse-box {
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 19%;
}
.timeline-section .dependents-section .children-box {
    left: 8%;
    margin: auto;
    top: 31%;
}
.timeline-section .dependents-section .parents-box {
    left: auto;
    margin: auto;
    right: 8%;
    top: 31%;
}


    /*----- Need Selection -----*/
    .timeline-section .need-selection .cloud-wrap {
        background: transparent url("../images/mobile-cloud.svg") no-repeat scroll 0 0;
        height: 85px;
        width: 142px;
    }
    .timeline-section .need-selection .mod-title {
        font-size: 12px;
        line-height: 14px;
    }
    .timeline-section .yourNeeds-section .secured-future-box {
         left: 1%;
        margin: auto;
        top: 6%;
    }
    .timeline-section .yourNeeds-section .healthy-future-box {
        left: auto;
        margin: auto;
        right: 1%;
        top: 6%
    }
    .timeline-section .yourNeeds-section .planned-future-box {
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 16%;
    }
    .timeline-section .yourNeeds-section .small-cloud.education-panning-box {
        left: 1%;
        margin-top: auto;
        top: 28%;
    }
    .timeline-section .yourNeeds-section .small-cloud.growth-panning-box {
        margin-top: auto;
        right: 31%;
        top: 34%;
    }
    .timeline-section .yourNeeds-section .small-cloud.retirement-panning-box {
        margin-top: auto;
        right: 1%;
        top: 28%;
    }

    .timeline-section input[type="checkbox"]:checked:not(old) + label {
        background-position: 29px -660px;
    }
    .timeline-section input[type="checkbox"]:not(old) + label {
        background: transparent url("../images/timeline_sprite.svg") no-repeat scroll 30px -564px;
        cursor: pointer;
    }

    .timeline-section .need-selection .need-icon {
        height: 27px;
        width: 26px;
    }
    .timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-secured-future {
        background-position: -307px -3px;
    }
    .timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-secured-future {
        background-position: -307px -84px;
    }

    .timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-healthy-future{
        background-position: -307px -459px;
    }
    .timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-healthy-future{
        background-position: -307px -364px;
    }

    .timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-planned-future{
        background-position: -307px -264px;
    }
    .timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-planned-future{
        background-position: -307px -168px;
    }
    /*---- Dependent selection ----*/
    .timeline-section .dependents-section .field-1 {
        left: 50%;
        top: 120px;
        margin-left: -40px;
    }
    .timeline-section .checkbox-wrap input[type="checkbox"]:not(old) + label {
        font-size: 11px;
        margin-left: 0;
        margin-top: 4px;
        padding-top: 40px;
    }
    .timeline-section .dependents-section .field-2 {
        left: 30px;
        top: 200px;
    }
    .timeline-section .dependents-section .field-3 {
        left: auto;
        top: 200px;
        bottom: auto;
        right: 20px;
    }
    /*---- Your need Selection ----*/
    .timeline-section .yourNeeds-section .field-1 {
        top: 70px;
        left: 10px;
    }
    .timeline-section .yourNeeds-section .field-2 {
        top: 70px;
        left: auto;
        right: 10px;
    }

    /*----- tootltip styling -----*/

    
    .timeline-section .need-selection .cloud-wrap.small-cloud .cloud-info-toolTip {
        left: 0;
        margin: 0 auto;
        position: fixed;
        right: 0;
        top: 28%;
        width: 250px;
    }
    .cloud-tooltip{
        left:10px;
        right:10px;
        top:25%;
    }
    .cloud-tooltip .cloud-info-toolTip{
        width:auto;
    }


/*-------------------------------------------------------------------------------------------*/
/*need analyzer*/

 /*common*/
    .need-analyzer .btn{
        font-size: 12px;
    }

    /*profile-sec*/
    .need-analyzer .profile-sec{
        z-index: 2;
    }
    .need-analyzer .sections{  /*5-3-16*/
        padding: 22px 0 10px;
    }
    .need-analyzer .profile-sec .profile-img{
        width: 35px;
        height: 35px;
    }
    .need-analyzer .profile-sec .profile-img img{
        width: 100%;
    }
    .need-analyzer .page-back .page-title{
        margin-top: 3px;
    }
    .need-analyzer .page-back .page-back-link::before{
        margin-top: 23px;
    }

    /*user-initial-form*/
    .need-analyzer .user-initial-form .form-item .field-title,
    .need-analyzer .user-initial-form .field-title{
        font-size: 12px;
        line-height: 14px;
    }
    .user-initial-form .form-list .form-item{
        padding: 0 0 10px 0;
    }
    .user-initial-form .slider.noUi-horizontal {
        margin-left:12px;
        width: 50%;
    }
    .user-initial-form .date-show{
        float: right;
        margin-top: 0;
        position: relative;
        right: 10px;
        top: -18px;
    }
    .user-initial-form .plus-minus .show-value-wrap{
        padding: 0;
    }

    /*education-planning*/
    .education-planning .checkbox-listing ul{
        margin: 10px 0;
    }

    /*section2*/
    .need-analyzer .sections .act-btn{ /*5-3-16*/
        width: 100%;
        left: 0;
        top: -22px;
    }

    .sec-list .sec-item{
        margin-bottom: 26px;
    }
    .sec-list .sec-item:last-child{
        margin-bottom: 0px;
    }

    /*------- slide-result-wrap styling -------*/

    .slide-result-wrap .sleek-slider {
        padding: 10px 0 20px;
    }
    .slide-result-wrap{   /*5-3-16*/
        padding: 13px 18px 0; 
    }
    .slide-result-wrap .value-wrap .value-count{
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .slide-result-wrap .value-wrap .value-count .value{
        font-size: 18px;
        line-height: 20px;
    }
    .slide-result-wrap .value-wrap .value-text{
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
    }
    .slide-result-wrap .text{
        font-size: 12px;
        line-height: 14px;
    }

    /*------- result styling -------*/
    .result-wrap{
        padding: 12px 0;
    }
    .result-wrap .result-text{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .result-wrap .result-amount{ /*5-3-16*/
        font-size: 26px;
        line-height: 32px;
    }
    .right-border{
        border-right: none;
    }


    /*------- radioBox-listing styling -------*/
    .radioBox-listing ul{
        min-height: 94px;
    }
    .radioBox-listing  .list-item{
        margin-bottom: 0px;
    }
    .radioBox-listing .bg{
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .radioBox-listing .radioBox-wrap input[type="radio"]:checked:not(old) + label .bg{
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .radioBox-listing .radioBox-wrap input[type="radio"]:checked:not(old) + label .text{
        font-size: 12px;
        line-height: 14px;
    }
    .radioBox-listing .text{
        margin-top: 11px;
    }
    .sections .radioBox-listing .field-desc{
        font-size: 12px;
        line-height: 14px;
    }
    .small-radioBox.radioBox-listing.small-radioBox ul{
        min-height: 44px;
    }
    .small-radioBox.radioBox-listing.small-radioBox .list-item{
        width: auto;
    }

    /*growth-planning*/
    .growth-planning .radioBox-listing ul{
        margin: 0;
    }

    /*summary-wrap*/
    .need-analyzer .summary-wrap .page-title{
        font-size: 18px;
        line-height: 20px;
        margin-top: 6px;
    }
    .summary-listing-wrap .lhs-box{
        margin-bottom: 20px;
        padding-top: 0;
    }
    .summary-listing-wrap .lhs-box .mod-title{
        font-size: 20px;
        line-height: 22px;
    }
    .summary-listing-wrap .lhs-box .sub-title{
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 2px;
    }
    .summary-listing-wrap .lhs-box .value-wrap{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .summary-listing-wrap .rhs-box{
        padding-left: 0;
        border-left: none;
    }
    .summary-listing-wrap .lhs-box .tooltip-wrap{
        bottom: auto;
        top: 22px;
        z-index: 2;
    }

    /* need-analyzer slider*/
    .need-analyzer .slider{
        margin: 18px 0;
    }


/*-------------------------------- Buying Process --------------------------------*/
    /*------------ common styling ------------*/
    .buying-process .sections .mod-title{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
    }
    .buying-process .small-radioBox.radioBox-listing{
        padding: 8px 0 0;
    }

 /*------- product header wrapper styling -------*/
    .product-header-wrapper{
        height: 70px;
        padding: 5px;
    }
    .product-header-wrapper .product-logo{
        float: left;
        width: 125px;
    }
    .product-header-wrapper .product-info{
        margin-top: 2px;
    }
    .product-header-wrapper .product-info .contact-no {
        font-size: 14px;
        line-height: 16px;
        margin-top: 2px;
    }
    .content-wrapper.buying-process{
        padding-top: 70px;
    }

    
    /*------------ intro-wrap styling ------------*/
    .buying-process .intro-wrap{
        padding: 26px 0;
    }
    .buying-process .intro-label{
        font-size: 18px;
        line-height: 20px;
        margin-right: 0;
    }
    .buying-process .intro-wrap input[type="text"]{
        font-size: 18px;
        line-height: 24px;
        margin: 0 4px;
        width: 132px; /*10-5-16*/
    }
    .buying-process .intro-wrap .form-item .error{ /*10-5-16*/
        font-size: 10px;
    }
    .buying-process .intro-wrap .form-item input.error[type="text"] {
        font-size: 18px;
        line-height: 24px;
    }

    /* user-personal-info styling */
    .user-personal-info{
        padding: 20px 40px;
    }
    .user-personal-info .mod-title{
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 18px;
    }
    .user-personal-info .mod-title .bold{
        display: block;
    }
    .user-personal-info .form-item input[type="text"]{
        margin: 0;
    }

   /* wealthAccumulation section2*/
    .wealthAccumulation .section2 .mod-title-wrap input[type="text"]{
        margin-top: 15px;
    }


    /*error*/
    .error-wrap{
        top: 60px;
    }
    .error-wrap .content-wrapper{
        padding-bottom: 0;
    }
    .error-content-wrap .small-cloud{
        height: 78px;
        width: 142px;
        top: 1%;
    }
    .error-content-wrap .small-cloud .mod-title{
        font-size: 32px;
        line-height: 34px;
    }
    .error-content-wrap .small-cloud .mod-title span{
        font-size: 17px;
        line-height: 19px;
    }
    .error-content-wrap .parachute-man{
        left: 0;
        margin: 0;
        right: 0;
        top: 33%;
        width: 100%;
    }
    .error-content-wrap .parachute-man img{
        width: 80%;
    }
    .error-content-wrap .big-cloud{
        height: 146px;
        top: 15%;
        width: 244px;
    }
    .error-content-wrap .big-cloud .cloud-cont {
        padding: 0 35px;
    }
    .error-content-wrap .big-cloud .cloud-cont p{
        margin-bottom: 2px;
    }
    .error-content-wrap .big-cloud .cloud-cont p,
    .error-content-wrap .big-cloud .cloud-cont a{
        font-size: 12px;
        line-height: 14px;
    }


    /*advisor style start 21-3-16*/ 
    .advisor-wrap .advisor-banner .container{
        padding: 0;
        width: 100%;
    }
    .advisor-wrap .advisor-content-wrap {
        padding: 20px 0 0px;
    }
    .advisor-content-wrap .advisor-listing .list-item{
        padding: 0;
        margin-bottom: 30px;
        display: block;
    }
    .advisor-listing .list-item .mod-title{
        display: inline-block;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 6px;
    }
    .advisor-listing .list-item .mod-title .line-break{
        display: inline-block;
        margin-right: 6px;
    }
    .advisor-listing .list-item .more-btn-icon.blue-icon{
        position: relative;
        bottom: auto;
    }
    /*advisor style end*/ 


}
