﻿.re_application_form_wrap {
    position: relative;
    /*min-height: 450px;*/
}

.re_application_form_mascot {
    float: left;
    height: 401px;
    margin-right: 100px;
    overflow: hidden;
    width: 255px;
}

    .re_application_form_mascot img {
        float: left;
        width: 100%;
    }

.re_application_form_title {
    font-size: 18px;
    color: #354b60;
    margin-left: 26px;
    margin-bottom: 30px;
}


.re_application_form {
    overflow: hidden;
}

    .re_application_form .action-wrapper {
        margin-right: 26px;
    }

        .re_application_form .action-wrapper .btn:first-child {
            margin-right: 0;
        }

        .re_application_form .action-wrapper .btn {
            margin: 0 10px;
        }

    .re_application_form .field-area {
        margin-right: 26px;
        margin-left: 26px;
        margin-bottom: 34px;
    }

    .re_application_form .field-areA {
        margin-right: 26px;
        margin-left: 26px;
        margin-bottom: 38px;
    }

    .re_application_form .field-summary {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .re_application_form .close {
        background: url(http://ed.edelweisstokio.in/css/BuyNow_css/close-opacity-21.png) no-repeat center;
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        right: 0;
        top: 0;
    }

    .re_application_form select {
        font-size: 13px;
        line-height: 15px;
        color: #354b60;
        padding: 4px 6px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        outline: none;
    }

    .re_application_form label {
        color: #354b60;
        font-size: 13px;
    }
    .re_application_form table tr td{
        vertical-align: middle;
    } 

    .re_application_form .radiobox,
    .re_application_form .checkbox {
        display: inline-block;
    }


        .re_application_form .radiobox label,
        .re_application_form .checkbox label {
            margin-right: 10px;
            cursor: pointer;
        }


        .re_application_form .radiobox input,
        .re_application_form .checkbox input {
            margin: 0 10px;
            outline: none;
        }

.step-view-mode-wrap {
    width: 100%;
    overflow: hidden;
}

    .step-view-mode-wrap .step-view-mode {
        overflow: hidden;
        width: 980px;
        position: relative;
    }

        .step-view-mode-wrap .step-view-mode .steps {
            float: left;
            width: 980px;
            position: absolute;
            left: -980px;
            top: 0;
        }

.tab-content-wrap.main-step-data .tab-content {
    display: block;
}

.re_application_form .help-icon {
    width: 24px;
    height: 24px;
    background: url(http://ed.edelweisstokio.in/images/BuyNowImg/help.png) no-repeat center center transparent;
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    top: 5px;
    position: relative;
}

.re_application_form .delete-icon {
    width: 28px;
    height: 28px;
    background: url(http://ed.edelweisstokio.in/img/delete.png) no-repeat center center transparent;
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    top: 5px;
    position: relative;
}

.re_application_form .table-wrap table tr th {
    background: #354b60;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    font-family: "bold";
    text-align: left;
    padding: 10px 5px;
    vertical-align: top;
}


/* Sukanya Css */
.re_application_form.content-wrapper{
    padding-top: 95px;
}
.re_application_form .section-title{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
    display: block;
    color: #354b60;
    font-family: "light";
}
.re_application_form .section-sub-title{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 5px;
    display: block;
    color: #354b60;
}

.re_application_form .form-item input[type="text"] {
    height: 32px;
    width: 100%;
    border: 1px solid #e6e6e6;
    color: #354b60;
    font-size: 14px;
    line-height: 16px;
    padding: 0 6px;
    background: #ffffff;
    margin: 0;
}


/* intro wrap styling */
.re_application_form .page-sub-title {
    color: #354B60;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 11px;
    letter-spacing: 0;
    font-family: "bold";
}
.re_application_form  .intro-wrap{
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    padding: 25px 0;
    display: block;
    background: #354b60;
    text-align: center;
}
.re_application_form  .intro-wrap p{
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 25px;
}
.re_application_form  .intro-wrap p:last-child{
        margin-bottom: 0;
    }
.re_application_form  .intro-wrap ul{
    display: inline-block;
    margin: 0 auto;
}
.re_application_form  .intro-wrap ul li{
    float: left;
    font-size: 18px;
    line-height: inherit;
    border-right: 1px solid #a7a9ab;
    padding-right: 15px;
    margin-right: 15px;
    font-family: "light";
}
.re_application_form  .intro-wrap ul li:last-child{
    margin-right: 0;
    border-right: none;
}


/* checkoutPlanWrap styling */
.re_application_form .checkoutPlanWrap{
    width: 365px;
    margin: 0 auto;
}
.re_application_form .checkoutPlanWrap .mascot{
    position: static;
    float: left;
    width: 115px;
    margin-right: 20px;
}
.re_application_form .checkoutPlanWrap .checkoutPlanContent{
    overflow: hidden;
}
.re_application_form .checkoutPlanWrap .checkoutPlanContent ul li{
    float: left;
    width: 100%;
    position: relative;
}

.re_application_form .checkoutPlanWrap .radioBox-wrap{
    display: block;
}
.re_application_form .checkoutPlanWrap .radioBox-wrap input[type="radio"]
{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.re_application_form .checkoutPlanWrap input[type="radio"]:not(old) + label{
    font-size: 16px;
    line-height: 18px;
    color: #b3b3b3;
    display: block;
    padding: 12px 20px 12px 28px;
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll -39px -606px;
}
.re_application_form .checkoutPlanWrap input[type="radio"]:checked:not(old) + label{
    color: #ef5923;
    background-position:-40px -702px;
}
.re_application_form .checkoutPlanWrap .tooltip-cont-wrap{
    position: absolute;
    right: 0;
    top: 0;
}
.re_application_form .tooltip-cont-wrap{
    display: inline-block;
}
.re_application_form .tooltip-cont-wrap .icon
{
    width: 18px;
    height: 18px;
    background: #ef5923 url("../images/timeline_sprite.svg") no-repeat scroll -33px -838px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
.re_application_form .checkoutPlanWrap .tooltip-cont-wrap .icon{
    position: absolute;
    top: 15px;
    right: 0;
}
.re_application_form .checkoutPlanWrap .action-wrapper{
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
}
.re_application_form .checkoutPlanWrap .action-wrapper .btn{
    margin: 10px 0;
    float: left;
    padding: 10px 25px;
}
.re_application_form .checkoutPlanWrap .disclam{
    color: #b3b3b3;
}
.re_application_form .checkoutPlanWrap .tooltip-wrap{
    left: auto;
    right: 0;
}


/* checkoutPlanBtns styling */
.re_application_form .downloadandBI .checkoutPlanBtns{
    padding-top: 35px;
}
.re_application_form .checkoutPlanBtns .action-wrapper{
    text-align: left;
    margin: 0;
}
.re_application_form .checkoutPlanBtns .action-wrapper .btn{
    width: 100%;
    margin: 5px 0 32px;
    padding: 16px 10px;
    color: #ffffff;
    width: 165px;
    font-size: 14px;
    line-height: 16px;
    background: #b5b5b5;
}
.re_application_form .checkoutPlanBtns .action-wrapper .btn.btn-orange{
    background: #f05a22;
    color: #ffffff;
}


.re_application_form  .checkbox-wrap input[type="checkbox"]:not(old) + label{
    background: transparent url("../images/checks2.svg") no-repeat scroll 0 2px;
    display: inline-block;
    font-family: "light";
    line-height: 16px;
    padding-left: 20px;
    width: auto;
}
.re_application_form .checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -54px;
    color: #ef5923;
}

.re_application_form .pdf{
    width: 15px;
    height: 20px;
    background-position: -1571px -365px;
    text-indent: -9999px;
    margin-right: 10px;
    float: left;
}

.re_application_form .table-wrap tr:last-child td{
    border-bottom: none;
}

.re_application_form .imageCheckbox input[type="checkbox"]:not(old) + label{
    position: relative;
    height: 30px;
}

/* My Life Riders styling */
.re_application_form .amount-wrap .title{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.re_application_form .amount-wrap .amnt{
    font-size: 26px;
    line-height: 28px;
    display: block;
}
.re_application_form .amount-wrap p{
    font-size: 12px;
    line-height: 14px;
    color: #ef5923;
}

.re_application_form .myLifeRiders .table-two tr:nth-child(2) td{
    border-bottom: none;
}
.re_application_form .myLifeRiders .table-two .amount-wrap{
    float: right;
    width: 130px;
    margin-top: 20px;
}

.tooltipster-base{
    width: 200px;
    padding: 4px;
}

/*.mascot*/
.two-col-fix-layout .mascot{
    bottom: auto;
    width: 170px;
}

/*policy_success*/
.two-col-fix-layout{
    margin-top: 35px;
}
.two-col-fix-layout .lhs{
    float: left;
    width: 200px;
    min-height: 500px;
    margin-left: 20px;
}
.two-col-fix-layout .rhs{
    overflow: hidden;
    border-left: 1px solid #bababa;
    padding-left: 20px;
}


.re_application_form .policy-success-step{
    margin: 30px 0;
}
.re_application_form .policy-success-step .mod-title{
    margin: 40px 0 15px;
    font-size: 18px;
    line-height: 20px;
}

.re_application_form .policy-success-step .checklist{
    display: block;
}
.policy-success-step ul.checklist li{
    margin-bottom: 16px;
}
.policy-success-step ul.checklist li .checklist-icon{
    background: transparent;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 8px;
    width: 20px;
}
.policy-success-step ul.checklist li .checklist-icon.done{
    background: url(../images/mark1.png) no-repeat 0 0 transparent;
}
.policy-success-step ul.checklist li .checklist-text{
    font-size: 14px;
    line-height: 16px;
    color: #354B60;
}

.policy-success-step .rhs .page-sub-title{
    margin-bottom: 50px;
}
.policy-success-step .form-list li{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.policy-success-step .form-list li .mod-title{
    margin-top: 0;
}
.policy-success-step .form-list li .sub-list{
    margin: 0 0 0 40px;
}
.policy-success-step .form-list li .sub-list li{
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.policy-success-step .checkbox-wrap,
.policy-success-step .radiobox-wrap{
    margin: 0;
}

.policy-success-step .documents-upload-wrap .icon{
    background: url(../images/cross.png) no-repeat 0 0 transparent;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 2px;
    width: 20px;
}
.policy-success-step .documents-upload-wrap .icon.done{
    background: url(../images/mark.png) no-repeat 0 0 transparent;
}

/*steps-info*/
.steps-info-wrap .steps-info{
    margin-bottom: 20px;
}
.steps-info-wrap .steps-info .infograph .mod-title{
    color: #f05a22;
    font-size: 20px;
    margin: 0 0 40px;
    text-transform: lowercase;
}
.steps-info-wrap .steps-info .infograph .mod-title .bold{
    font-size: 40px;
    line-height: 42px;
    margin-right: 8px;
}
.steps-info-wrap .steps-stage{
    background: #e6e6e6;
    color: #354a5f;
    font-size: 30px;
    line-height: 32px;
    margin: 20px 0 16px;
    padding: 12px;
}
.steps-info-wrap .steps-stage .bold{
    margin-right: 40px;
}
.re_application_form .policy-success-step.steps-info-wrap .steps-title{
    color: #f05a22;
    font-size: 24px;
    line-height: 26px;
    margin-right: 8px;
}


@media only screen and (max-width: 768px) {
    .tab-content-wrap {
        display: block;
        padding: 0;
        width: 100%;
        clear: both;
    }

    .re_application_form .section-title{
        font-size: 16px;
        line-height: 18px;
    }

    .re_application_form_title {
        font-size: 16px;
        margin-left: 0;
    }

    .re_application_form .field-area {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .step-view-mode-wrap .step-view-mode .steps {
        float: left;
        width: 100%;
    }

    .re_application_form .action-wrapper.pull-left,
    .re_application_form .action-wrapper.pull-right {
        float: none !important;
    }

    .re_application_form .action-wrapper .btn {
        margin-bottom: 16px;
    }   
    

    .re_application_form.content-wrapper{
        padding-top: 70px;
    }

    /* intro wrap styling */
    .re_application_form  .intro-wrap{
        font-size: 14px;
        padding: 15px 0;
        text-align: left;
    }
    .re_application_form  .intro-wrap p{
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 10px;
    }
    .re_application_form  .intro-wrap ul li{
        float: left;
        width: 100%;
        font-size: 14px;
        line-height: inherit;
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }

    /* repplication form table styling */
    .re_application_form .table-wrap tr:first-child{
        display: none;
    }
    .re_application_form .table-wrap tr td{
        line-height: 18px;
        width: 100%;
        margin-bottom: 10px;
    }
    .re_application_form .table-wrap tr td .table-feild-title{
        color: #354b60;
        font-family: "bold";
        float: left;
        width: 100px;
        padding-right: 10px;
    }
    .re_application_form .table-wrap tr td > span{
        display: block;
        overflow: hidden;
    }

     /* repplication form wealthAccumFuncAlloc styling */
    /*.re_application_form .wealthAccumFuncAlloc .table-wrap tr td:nth-child(1):before {
        content: "Equity large Cap Fund :";
    }
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr td:nth-child(2):before {
        content: "what is it? :";
    }
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr td:nth-child(3):before {
        content: "who should invest in it? :";
    }
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr td:nth-child(4):before
    {
        content: "fund allocation"
    }*/

    /* payout option styling */
    .re_application_form .checkoutPlanWrap{
        margin-top: 10px;
        width: 295px;
    }
    .re_application_form .checkoutPlanWrap input[type="radio"]:not(old) + label{
        font-size: 12px;
        line-height: 14px;
        background-position: -40px -606px;
    }
    .re_application_form .checkoutPlanWrap input[type="radio"]:checked:not(old) + label {
        background-position: -40px -703px;
    }

    /* checkoutPlanBtns styling */
    .re_application_form .downloadandBI .checkoutPlanBtns{
        padding-top: 25px;
    }
    .re_application_form .downloadandBI .checkoutPlanBtns .action-wrapper .btn{
        margin: 15px 0;
        padding: 9px;
    }

    /* wealthAccumRiders styling */
    .re_application_form .wealthAccumRiders .checkbox-wrap{
        margin-right: 50px;
    }
    .re_application_form .wealthAccumRiders .table-wrap tr td .table-feild-title{
        float: none;
        width: auto;
    }
    .re_application_form .wealthAccumRiders .icon-wrap{
        position: absolute;
        right: 0;
        top: 30px;
    }
    .re_application_form .wealthAccumRiders .table-wrap tr td{
        padding: 4px;
    }
    .re_application_form .wealthAccumRiders .table-wrap tr td:before {
        color: #354b60;
        font-family: "bold";
        margin-right: 10px;
    }
    /*.re_application_form .wealthAccumRiders .table-wrap tr td:nth-child(1):before {
        content: "additional benefit :";
    }
    .re_application_form .wealthAccumRiders .table-wrap tr td:nth-child(3):before {
        content: "rider cover amount :";
    }
    .re_application_form .wealthAccumRiders .table-wrap tr td:nth-child(4):before {
        content: "rider premium :";
    }*/
    /*.re_application_form .wealthAccumFuncAlloc .table-wrap tr:last-child td:nth-child(1),
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr:last-child td:nth-child(2),
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr:last-child td:nth-child(1):before,
    .re_application_form .wealthAccumFuncAlloc .table-wrap tr:last-child td:nth-child(2):before{
        display: none;
    }*/
    .re_application_form .checkoutPlanBtns .action-wrapper .btn {
        margin: 8px 0;
        padding: 10px 8px;
        font-size: 12px;
        line-height: 14px;
    }


    /* mylife riders styling */
    .re_application_form .imageCheckbox label img{
        width: 85px;
    }
    .re_application_form .myLifeRiders .checkbox-wrap{
        margin-right: 50px;
    }
    .re_application_form .myLifeRiders .table-wrap tr td .table-feild-title{
        width: 100%;
        float: none;
    }
    .re_application_form .myLifeRiders .icon-wrap{
        position: absolute;
        right: 0;
        top: 30px;
    }
    .re_application_form .myLifeRiders .table-wrap tr td{
        padding: 4px;
    }
    .re_application_form .myLifeRiders .table-wrap tr td:before {
        color: #354b60;
        font-family: "bold";
        margin-right: 10px;
    }
    .re_application_form .myLifeRiders .table-wrap.table-two table{
        margin-bottom: 0;
    }
    .re_application_form .myLifeRiders .table-two .amount-wrap{
        float: none;
        margin-top: 0;
    }



/*policy_success*/
.re_application_form .page-sub-title{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 8px;
}
.two-col-fix-layout{
    margin-top: 0;
}

.re_application_form .policy-success-step {
    margin: 30px 0 40px;
}
.re_application_form .policy-success-step .mod-title {
    font-size: 16px;
    line-height: 18px;
}
.re_application_form .policy-success-step .action-wrapper{
    margin-right: 0;
}
.re_application_form .policy-success-step .action-wrapper .btn{
    float: right;
}
.two-col-fix-layout .rhs{
    border-left: none;
    padding-left: 0;
}
.policy-success-step .rhs .page-sub-title{
    margin-bottom: 20px;
}
.policy-success-step .rhs .form-list .form-item{
    margin-bottom: 0;
}
.policy-success-step .rhs .radiobox-wrap input[type="radio"]:not(old) + label
{
    margin-bottom: 12px;
}
.re_application_form .policy-success-step .checkbox-wrap input[type="checkbox"]:not(old) + label{
    position: relative;
    height: 40px;
}
.re_application_form .policy-success-step .action-wrapper{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.re_application_form .policy-success-step .table-wrap tr:first-child{
    display: block;
    padding: 0 10px;
}
.re_application_form .policy-success-step .table-wrap .select-category{
    width: 275px;
}

}
