
.timeline-wrap {
    background: transparent url("../images/home_section1_slide1.jpg") no-repeat scroll 0 0 / cover ;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 90px;
}
.timeline-steps-wrap {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
}
.timeline-steps-wrap ul li {
    border-top: 5px solid #e6e6e6;
    color: #999999;
    cursor: pointer;
    float: left;
    font-family: "light";
    padding-top: 4px;
    text-align: center;
    width: 25%;
}
.timeline-steps-wrap ul li.done {
    border-color: #f05a22;
    color: #f05a22;
}
.timeline-steps-wrap ul li.processing {
    border-color: #354a5f;
    color: #354a5f;
}
.timeline-section-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 130px;
}
.timeline-section-wrap .timeline-section {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.timeline-section .section-title {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
}
.timeline-section .section-title .mod-title {
    color: #354b60;
    font-family: "thin";
    font-size: 45px;
    line-height: 50px;
}
.timeline-section .section-title p {
    color: #354b60;
    font-size: 15px;
    line-height: 17px;
}
.timeline-section.active {
    display: block;
}
.timeline-section .disabled {
    pointer-events: none;
}
.timeline-section .hidden {
    display: none;
}
.timeline-section .field-info {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #e6e6e6;
    border-radius: 50%;
    box-shadow: 0 0 13px -5px rgba(153, 153, 153, 1);
    display: inline-block;
    font-family: "light";
    height: 110px;
    line-height: 100px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 110px;
}
.timeline-section .field-info .value {
    color: #f05a22;
    display: block;
    font-size: 30px;
    left: 0;
    line-height: 32px;
    margin-top: -20px;
    position: absolute;
    right: 0;
    top: 50%;
}
.timeline-section .field-info .field-text {
    color: #354b60;
    font-size: 12px;
    left: 0;
    line-height: 14px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 50%;
}
.timeline-section .next-btn {
    background: #f05a22 url("../images/timeline_sprite.svg") no-repeat scroll -9px 20px;
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    height: 71px;
    margin-top: 2%;
    outline: medium none;
    padding: 0;
    position: absolute;
    right: 28%;
    text-indent: -9999px;
    top: 50%;
    width: 72px;
}
.timeline-section2 .next-btn {
    display: none;
}
/*.timeline-section .checkbox-wrap input[type="checkbox"]:not(old) + label {
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll -1px -115px;
    bottom: 0;
    font-size: 12px;
    left: 0;
    margin-left: 0;
    margin-top: 22px;
    padding-left: 0;
    padding-top: 45px;
    position: absolute;
    right: 0;
    top: 0;
}
.timeline-section .checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
    background-position: -1px -238px;
}*/

.timeline-section .spouse-icon.active .icon {
    background-position: -222px -695px;
}
.timeline-section .spouse-icon .icon {
    background-position: -222px -652px;
    display: block;
    height: 34px;
    margin: 0 auto 8px;
    width: 34px;
}
.timeline-section .spouse-icon .info-text {
    color: #354b60;
    font-size: 14px;
    line-height: 16px;
}

.timeline-section .plusMinus-btn {
    background: #354a5f url("../images/timeline_sprite.svg") no-repeat scroll -32px -389px;
    border-radius: 50%;
    height: 25px;
    left: -13px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    width: 25px;
}
.timeline-section .plusMinus-btn.right-btn {
    background: #354a5f url("../images/timeline_sprite.svg") no-repeat scroll -31px -504px;
    left: auto;
    right: -13px;
}
.timeline-section .need-selection .cloud-wrap {
    background: transparent url("../images/cloud.svg") no-repeat scroll 0 0;
    height: 106px;
    position: absolute;
    width: 174px;
}
.timeline-section .need-selection .cloud-label-wrap {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.timeline-section .need-selection .mod-title {
    display: block;
    font-family: "light";
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
}
.timeline-section .need-selection .mod-title .bold {
    line-height: 16px;
}
.timeline-section .need-selection .disabled > .mod-title {
    color: #cccccc;
}
.timeline-section .need-selection .need-icon {
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll 0 0;
    float: left;
    height: 34px;
    margin-right: 10px;
    width: 31px;
}
.timeline-section .need-selection .help-icon {
    background: #666666 url("../images/timeline_sprite.svg") no-repeat scroll -33px -839px;
    border-radius: 50%;
    height: 18px;
    position: absolute;
    right: 18px;
    top: 38px;
    width: 18px;
    z-index: 3;
}
.cloud-tooltip .close-icon {
    background: #666666 url("../images/timeline_sprite.svg") no-repeat scroll -33px -839px;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-secured-future {
    background-position: -180px -97px;
}
.timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-secured-future {
    background-position: -180px -5px;
}
.timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-healthy-future {
    background-position: -180px -301px;
}
.timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-healthy-future {
    background-position: -180px -191px;
}
.timeline-section .need-selection label .icon-planned-future {
    background-position: -179px -402px;
}
.timeline-section-wrap .cloud-info-toolTip {
    display: none;
}
.cloud-tooltip .cloud-info-toolTip {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 0 0 24px -5px rgba(153, 153, 153, 1);
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 305px;
    z-index: 3;
}
.cloud-tooltip .cloud-info-toolTip.active {
    display: block;
}
.cloud-tooltip .cloud-info-toolTip .help-icon {
    left: 15px;
    top: 14px;
}
.cloud-tooltip .cloud-info-toolTip .mod-title {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}
.cloud-tooltip .cloud-info-toolTip p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    text-align: justify;
}
.timeline-section .cloud-label-wrap label {
    bottom: 0;
    color: #354a5f;
    display: block;
    left: 0;
    padding: 32px 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.timeline-section input[type="checkbox"]:not(old) + label {
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll 46px -549px;
    color: #ccc;
    cursor: pointer;
}
.timeline-section input[type="checkbox"]:checked:not(old) + label {
    background-position: 46px -645px;
    color: #354a5f;
}
.timeline-section .cloud-label-wrap input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
}
.timeline-section .need-selection .cloud-wrap.small-cloud {
    background: transparent url("../images/small-cloud.svg") no-repeat scroll 0 0;
    height: 80px;
    width: 132px;
}
.timeline-section .need-selection .cloud-wrap.small-cloud label {
    padding: 22px 25px 22px 30px;
}
.timeline-section .need-selection .cloud-wrap.small-cloud .help-icon {
    right: 14px;
    top: 28px;
}
.timeline-section .need-selection .cloud-wrap.small-cloud .cloud-info-toolTip {
    left: 85px;
    top: 0;
}
.timeline-section .small-cloud input[type="checkbox"]:not(old) + label {
    background-position: 35px -565px;
}
.timeline-section .small-cloud input[type="checkbox"]:checked:not(old) + label {
    background-position: 35px -662px;
}
.timeline-wrap .gender-selection {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 2;
}
.timeline-wrap .gender-selection .gender {
    height: 350px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 190px;
}
.timeline-wrap .gender-selection .gender.gender-male {
    background: transparent url("../images/timeline-gender.svg") no-repeat scroll 0 0;
    cursor: pointer;
    margin-left: -207px;
    margin-top: -110px;
}
.timeline-wrap .gender-selection .gender.gender-female {
    background: transparent url("../images/timeline-gender.svg") no-repeat scroll -272px 10px;
    cursor: pointer;
    margin-left: 63px;
    margin-top: -110px;
}
.timeline-wrap .gender-selection .gender.gender-selected {
    margin-left: -83px;
    opacity: 1;
    transform: scale(1);
    transition-duration: 0s;
}
.timeline-wrap .gender-selection .gender {
    transform: scale(0.9);
    transform-origin: 50% 100% 0;
    transition-duration: 0.5s;
}
.timeline-wrap .gender-selection .gender.mouse-out {
    opacity: 0.7;
    transform: scale(0.9);
}
.timeline-wrap .gender-selection .gender.mouse-over {
    opacity: 1;
    transform: scale(1);
}
.timeline-section .sec-cont {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 850px;
    z-index: 2;
}
@keyframes floating {
0% {
    opacity: 0.7;
    transform: scale(0.9);
}
50% {
    opacity: 1;
    transform: scale(1);
}
100% {
    opacity: 0.7;
    transform: scale(0.9);
}
}
@keyframes slideDown {
0% {
    opacity: 1;
    transform: translate3d(0px, -100%, 0px);
}
100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
}
@keyframes eleScale {
0% {
    opacity: 1;
    transform: scale(0.2);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
@keyframes eleScaledisabled {
0% {
    opacity: 0.55;
    transform: scale(0.2);
}
100% {
    opacity: 0.55;
    transform: scale(1);
}
}
@keyframes floatLR {
0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
}
.floating-ani {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: floating;
    transform-origin: 50% 100% 0;
}
.slide-down-ani {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: slideDown;
}
.scale-up-ani {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: eleScale;
}
.scale-up-ani.disabled {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: eleScaledisabled;
}
.float-lr-ani {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: floatLR;
}
.timeline-section .date-show {
    font-family: "bold";
    font-size: 14px;
    left: 13%;
    margin-top: 2%;
    position: absolute;
    top: 50%;
}
.timeline-section .age-selection .age-box {
    left: 11%;
    margin-top: -12%;
    top: 50%;
}
.timeline-section .timeline-age-cal .slider {
    left: 5%;
    margin-top: 8%;
    position: absolute;
    top: 50%;
    width: 210px;
}
.timeline-section .timeline-age-cal .noUi-target {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 17px;
    height: 10px;
}
.timeline-section .timeline-age-cal .noUi-handle {
    background: #354b60 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    height: 20px;
    width: 20px;
}
.timeline-section .timeline-age-cal .noUi-handle {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    height: 34px;
    top: -14px;
    width: 34px;
}
.timeline-section .timeline-age-cal .noUi-base::before, .timeline-section .timeline-age-cal .noUi-base::after {
    background: #354a5f none repeat scroll 0 0;
    border-radius: 12px;
    content: "";
    height: 0;
    position: absolute;
    right: -1px;
    top: -4px;
    width: 0;
    z-index: 2;
}
.timeline-section .timeline-age-cal .noUi-origin {
    background: #ffffff none repeat scroll 0 0;
    top: 0;
}
.timeline-section .timeline-age-cal .noUi-base::after {
    left: -1px;
    right: auto;
}
.timeline-section .timeline-age-cal.noUi-horizontal {
    height: 5px;
    margin-bottom: 30px;
    top: 10px;
}
.timeline-section .timeline-age-cal .noUi-tooltip { /*13-5-16*/
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    left: 6px;
    line-height: 16px;
    top: 9px;
}
.timeline-section .timeline-age-cal .noUi-handle::before, .timeline-section .timeline-age-cal .noUi-handle::after {
    content: none;
}
.timeline-section .timeline-age-cal.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    bottom: -26px;
    color: #354a5f;
    font-size: 13px;
    left: -20px;
    text-align: left;
    top: auto;
    white-space: nowrap;
}
.timeline-section .timeline-age-cal .ageWidget-cont {
    background: transparent none repeat scroll 0 0;
    height: 200px;
    margin-top: -4%;
    position: absolute;
    right: -13%;
    top: 50%;
    width: 630px;
}
.timeline-section .ageWidget-cont .monthTable {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 215px;
    margin-right: 30px;
    padding: 10px;
    width: 335px;
}
.timeline-section .ageWidget-cont .age-dp {
    margin-top: 0;
    float: left;
}
.timeline-section .ageWidget-cont .age-dp .cal-title {
    padding-top: 12px;
}
.timeline-section .ageWidget-cont .age-dp .bootstrap-datetimepicker-widget {
    border: medium none;
    position: relative;
}
.timeline-section .ageWidget-cont .cal-title {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.timeline-section .ageWidget-cont .monthTable {
    padding: 10px;
}
.timeline-section .ageWidget-cont .tbl-cont-wrap .tbl-label {
    font-size: 36px;
    line-height: 38px;
}
.timeline-section .ageWidget-cont .tbl-cont-wrap .table span {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.timeline-section .ageWidget-cont .tbl-cont-wrap .table span:hover, .timeline-section .ageWidget-cont .tbl-cont-wrap .table .active span {
    color: #ffffff;
}
.timeline-section .dependents-section .spouse-box {
    left: 18%;
    margin-top: -16%;
    top: 50%;
}
.timeline-section .dependents-section .children-box {
    left: 2%;
    margin-top: -3%;
    top: 50%;
}
.timeline-section .dependents-section .parents-box {
    left: 18%;
    margin-top: 12%;
    top: 50%;
}
.timeline-section .yourNeeds-section .secured-future-box {
    left: 0;
    margin-top: -24%;
    top: 50%;
}
.timeline-section .yourNeeds-section .healthy-future-box {
    left: 20%;
    margin-top: -16%;
    top: 50%;
}
.timeline-section .yourNeeds-section .planned-future-box {
    left: auto;
    margin-top: -21%;
    right: 10%;
    top: 50%;
}
.timeline-section .yourNeeds-section .small-cloud.education-panning-box {
    margin-top: -13%;
    right: 27%;
    top: 50%;
}
.timeline-section .yourNeeds-section .small-cloud.growth-panning-box {
    margin-top: -9%;
    right: 11%;
    top: 50%;
}
.timeline-section .yourNeeds-section .small-cloud.retirement-panning-box {
    margin-top: -14%;
    right: -3%;
    top: 50%;
}
.timeline-section .section-title .small-text {
    color: #666666;
    font-size: 12px;
    line-height: 14px;
}
.timeline-section .cloud-wrap.disabled {
    opacity: 0.52;
}

.mobile-cont
{
    display:none !important;
}

@media only screen and (max-width: 768px) {
.timeline-wrap.main-wrapper {
    position: absolute;
    top: 60px;
}
.timeline-wrap .content-wrapper {
    top: 0;
}
.content-wrapper {
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
}
.timeline-section-wrap {
    top: 100px;
}
.timeline-section .section-title {
    left: 10px;
    right: 10px;
    top: 0;
    z-index: 2;
}
.timeline-section .section-title .mod-title {
    font-size: 22px;
    line-height: 24px;
}
.timeline-section .section-title p {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 2px;
}
.timeline-section .section-title .small-text {
    font-size: 11px;
    line-height: 12px;
}
.timeline-section .sec-cont {
    width: 100%;
}
.timeline-section .field-info {
    height: 80px;
    line-height: 80px;
    width: 80px;
}
.timeline-steps-wrap {
    width: 100%;
}
.timeline-section .next-btn {
    background-position: -165px -585px;
    height: 40px;
    right: 20px;
    top: 300px;
    width: 40px;
}
.timeline-section .cloud-label-wrap label {
    padding: 25px 20px;
}
.timeline-section .checkbox-wrap input[type="checkbox"]:not(old) + label {
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll -17px -115px;
}
.timeline-section .checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
    background-position: -17px -238px;
}
.timeline-wrap .gender-selection {
    width: auto;
}
.timeline-wrap .gender-selection .gender {
    bottom: 12px;
    height: 150px;
    top: auto;
    width: 76px;
}
.timeline-wrap .gender-selection .gender.gender-male {
    background: transparent url("../images/timeline-gender.svg") no-repeat scroll -563px -190px;
    margin-left: -130px;
    margin-top: auto;
    top: auto;
}
.timeline-wrap .gender-selection .gender.gender-female {
    background: transparent url("../images/timeline-gender.svg") no-repeat scroll -838px -189px;
    margin-left: 58px;
    margin-top: auto;
    top: auto;
}
.timeline-wrap .gender-selection .gender.gender-selected {
    margin-left: -22px;
}
.timeline-section .field-info .value {
    font-size: 25px;
    margin-top: -20px;
}
.timeline-section .field-info .field-text {
    font-size: 10px;
    margin-top: 10px;
}
.timeline-section .age-selection .field-info {
    left: 50%;
    margin-left: -40px;
    margin-top: auto;
    top: 53px;
}
.timeline-section .timeline-age-cal .slider {
    left: 50%;
    margin-left: -105px;
    margin-top: auto;
    position: absolute;
    top: 151px;
    width: 210px;
}
.timeline-section .timeline-age-cal .noUi-target {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 17px;
    height: 6px;
}
.timeline-section .timeline-age-cal .noUi-handle {
    background: #354a5f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    height: 23px;
    top: -9px;
    width: 24px;
}
.timeline-section .timeline-age-cal .noUi-origin {
    background: #cccccc;
}

.timeline-section .date-show {
    font-size: 11px;
    left: 50%;
    margin-left: -34px;
    top: 173px;
}

.timeline-section .timeline-age-cal .ageWidget-cont {
    background: transparent none repeat scroll 0 0;
    bottom: 10px;
    height: auto;
    left: 6px;
    margin-top: auto;
    position: absolute;
    right: 10px;
    top: auto;
    width: auto;
}
.timeline-section .ageWidget-cont .monthTable {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 215px;
    margin-right: 30px;
    padding: 10px;
    width: 100%;
}
.timeline-section .dependents-section .spouse-box {
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 19%;
}
.timeline-section .dependents-section .children-box {
    left: 6%;
    margin: auto;
    top: 34%;
}
.timeline-section .dependents-section .parents-box {
    left: auto;
    margin: auto;
    right: 6%;
    top: 34%;
}
.timeline-section .need-selection .cloud-wrap {
    background: transparent url("../images/mobile-cloud.svg") no-repeat scroll 0 0;
    display: none;
    height: 85px;
    width: 142px;
}
.timeline-section .need-selection .mod-title {
    font-size: 12px;
    line-height: 14px;
}
.timeline-section .yourNeeds-section .secured-future-box {
    left: 1%;
    margin: auto;
    top: 6%;
}
.timeline-section .yourNeeds-section .healthy-future-box {
    left: auto;
    margin: auto;
    right: 1%;
    top: 6%;
}
.timeline-section .yourNeeds-section .planned-future-box {
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 16%;
}
.timeline-section .yourNeeds-section .small-cloud.education-panning-box {
    left: 1%;
    margin-top: auto;
    top: 28%;
}
.timeline-section .yourNeeds-section .small-cloud.growth-panning-box {
    margin-top: auto;
    right: 31%;
    top: 34%;
}
.timeline-section .yourNeeds-section .small-cloud.retirement-panning-box {
    margin-top: auto;
    right: 1%;
    top: 28%;
}
.timeline-section input[type="checkbox"]:checked:not(old) + label {
    background-position: 29px -660px;
}
.timeline-section input[type="checkbox"]:not(old) + label {
    background: transparent url("../images/timeline_sprite.svg") no-repeat scroll 30px -564px;
    cursor: pointer;
}
.timeline-section .need-selection .need-icon {
    height: 27px;
    width: 26px;
}
.timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-secured-future {
    background-position: -307px -3px;
}
.timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-secured-future {
    background-position: -307px -84px;
}
.timeline-section .need-selection input[type="checkbox"]:not(old) + label .icon-healthy-future {
    background-position: -307px -459px;
}
.timeline-section .need-selection input[type="checkbox"]:checked:not(old) + label .icon-healthy-future {
    background-position: -307px -364px;
}
.timeline-section .need-selection label .icon-planned-future {
    background-position: -307px -168px;
}
.timeline-section .dependents-section .field-1 {
    left: 50%;
    margin-left: -40px;
    top: 120px;
}
.timeline-section .checkbox-wrap input[type="checkbox"]:not(old) + label {
    font-size: 11px;
    margin-left: 0;
    margin-top: 4px;
    padding-top: 40px;
}
.timeline-section .dependents-section .field-2 {
    left: 30px;
    top: 200px;
}
.timeline-section .dependents-section .field-3 {
    bottom: auto;
    left: auto;
    right: 20px;
    top: 200px;
}
.timeline-section .yourNeeds-section .field-1 {
    left: 10px;
    top: 70px;
}
.timeline-section .yourNeeds-section .field-2 {
    left: auto;
    right: 10px;
    top: 70px;
}
.timeline-section .need-selection .cloud-wrap.small-cloud .cloud-info-toolTip {
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 28%;
    width: 250px;
}
.cloud-tooltip {
    left: 10px;
    right: 10px;
    top: 25%;
}
.cloud-tooltip .cloud-info-toolTip {
    width: auto;
}

.mobile-cont
{
    display:none !important;
}
}


@media only screen and (max-width: 320px) {
    .timeline-section .yourNeeds-section .planned-future-box{
        top: 22%;
    }
    .timeline-section .yourNeeds-section .small-cloud.education-panning-box {
        top: 38%;
    }
    .timeline-section .yourNeeds-section .small-cloud.growth-panning-box {
        right: 0;
        top: 36%;
    }
    .timeline-section .yourNeeds-section .small-cloud.retirement-panning-box {
        right: -4px;
        top: 55%;
    }
}
