

/* notifyTooltip wrap */
.tooltipstered{
    cursor: pointer;
}
.notifylist-tooltip{
    overflow: hidden;
    display: block;
}
.notifylist-tooltip ul li {
    border-right: none;
    width: 100%;
    height: auto;
    float: left;
    padding: 0px 15px;
}
.notifylist-tooltip ul li.unseen{
    background: #E6E6E6;
    position: relative;
    top: -1px;
}
.notifylist-tooltip ul li.unseen a{
    border-bottom: none;
    color: #354B60;
}
.notifylist-tooltip ul li:hover a{
    color: #F05A22;
}

.notifylist-tooltip ul li a {
    padding: 15px 0 15px 0;
    color: #a3a3a3;
    border-bottom: 1px solid #e1e1e1;
    display: block;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'light';
}
.notifylist-tooltip ul li:last-child a {
    border-bottom: none;
}
.notifylist-tooltip ul li a .notify-time-wrap{
    display: block;
    font-size: 10px;
    margin-top: 1px;
}
.notifylist-tooltip  .btn-view-all{
    border-top: 1px solid #d0d0d0;
    color: #f05a22;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-family: "light";
}
.notifylist-tooltip  .btn-view-all:hover{
    color: #DB4A12;
}

/* edit tooltip */
.editToolTip{
    padding: 0px 15px;
    overflow: hidden;
    display: block;
    width: 150px;
}
.editToolTip ul li {
    border-right: none;
    width: 100%;
    height: auto;
    float: left;
}

.editToolTip ul li a {
    padding: 15px 0 15px 0;
    color: #a3a3a3;
    border-bottom: 1px solid #cccccc;
    display: block;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'light';
}
.editToolTip ul li:last-child a {
    border-bottom: none;
}




/* tool-tip-profile styling */
.tool-tip-profile {
    background: #ffffff;
    width: 145px;
    padding: 6px;
}
.tool-tip-profile .mod-title{
    font-size: 18px;
    line-height: 20px;
    font-family: "bold";
    color: #666666;
}
.tool-tip-profile p{
    font-size: 18px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 0;
}
.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important; 
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important; 
    border-left: 9px solid;
    margin-top: -8px;
}


/* info-listing-content style */
.info-listing-content {
    padding: 15px;
    overflow: hidden;
    background: #ffffff;}

.info-listing-content .sect-title {
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-bottom: 15px;
    color: #354b60;
}

.info-listing-content .sect-cont dl {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.info-listing-content .sect-cont dl dt,
.info-listing-content .sect-cont dl dd {
    float: left;
    width: 50%;
    font-size: 12px;
    color: #666666;
    line-height: 14px;
}

.info-listing-content .sect-cont dl:last-child {
    margin-bottom: 0;
}



/* More option tooltip */ 
.listing-tooltip {
    padding: 0 0 0 10px;
    overflow: hidden;
}
.listing-tooltip .tooltip-cont {
    float: left;
    width: 100%;
}
.listing-tooltip ul {
    border-left: 1px solid #c6c6c6;
    overflow: hidden;
    padding-left: 5px;
}
.listing-tooltip ul li {
    float: left;
    margin: 0 6px;
}

.listing-tooltip ul li a {
    float: left;
    height: auto;
    padding-right: 0;
    padding-top: 30px;
    width: auto;
    color: #354a5f;
    font-size: 12px;
    line-height: 14px;
}

.listing-tooltip ul li:hover a,
.listing-tooltip ul li.active a {
    color: #f05a22;
}
.listing-tooltip ul li a.renew-icon{
    background-position: -829px -605px;
}
.listing-tooltip ul li:hover a.renew-icon,
.listing-tooltip ul li.active a.renew-icon {
    background-position: -829px -554px;
}

.listing-tooltip ul li a.claim-icon {
    background-position: -927px -608px;
}

.listing-tooltip ul li:hover a.claim-icon,
.listing-tooltip ul li.active a.claim-icon {
    background-position: -928px -552px;
}

.listing-tooltip ul li a.estatement-icon {
    background-position: -1021px -608px;
}

.listing-tooltip ul li:hover a.estatement-icon,
.listing-tooltip ul li.active a.estatement-icon {
    background-position: -1021px -557px;
}

.listing-tooltip ul li a.etransaction-icon {
    background-position: -1115px -606px;
}

.listing-tooltip ul li:hover a.etransaction-icon,
.listing-tooltip ul li.active a.etransaction-icon {
    background-position: -1115px -557px;
}


/* icon-link tooltip */
.tooltipster-content .graphTooltip{
   padding: 10px;
   display: block;
   overflow: hidden;
}
.tooltipster-content .graphTooltip img{
    width: 100%;
}


/*tool-tip-indicator*/
.tool-tip-indicator{
    padding: 15px 15px 64px;
}
.tool-tip-indicator .indicator-icon{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 74px;
    height: 40px;
}
.tool-tip-indicator .indicator-icon img{
    width: 100%;
}

/* Buying Journey tooltip styling */
.tool-tip-selectRate {
    text-align: center;
    display: block;
    padding: 10px 5px 0;
    overflow: hidden;
}
.tool-tip-selectRate .select-rate {
    float: left;
    padding: 7px 0;
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    
}
.tool-tip-selectRate .select-rate.active {
    color: #F05A22;
}
.tool-tip-selectRate .mod-title {
    font-size: 14px;
    line-height: 16px;
}


/*tooltip small graph*/
.icon-link-tooltip {
    position: absolute;
    top: 50%;
    right: 20px;
}
.icon-link-tooltip .icon {
    background-position: -1627px -585px;
    cursor: pointer;
    height: 45px;
    width: 46px;
}
.icon-link-tooltip .tooltip-wrap {
    top: 55px;
    left: 10px;
}
.icon-link-tooltip:hover .tooltip-wrap {
    display: block;
}

/* need_analyzer_summary view-info*/
.view-info{
    /*width: 240px;*/
    padding: 10px;
}
.view-info ul li{
    margin-bottom: 10px;
    display: inline-block;
}
.view-info dt{
    clear: left;
    color: #354a5f;
    float: left;
    font-family: "light";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 140px;
}
.view-info dd{
    color: #f05a22;
    float: left;
    font-family: "light";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    width: 59px;
}


/*-------------------------------- Theme Styling -----------------------------------*/
/* on click listing tooltip : Theme1 */
.theme1{
    -webkit-box-shadow: -2px 5px 11px 0px rgba(163, 155, 163, 1);
    -moz-box-shadow: -2px 5px 11px 0px rgba(163, 155, 163, 1);
    box-shadow: -2px 5px 11px 0px rgba(163, 155, 163, 1);
    background: #ffffff;
}


/* ribion tag hover tooltip : Theme2 */
.theme2 {
    background: #f9f9f9;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
    box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
}
.theme2 .tooltipster-content {
    padding: 20px 25px 20px 20px;
    color: #c1272d;
    font-family: "light";
    font-size: 13px;
    line-height: 16px;
}

/* Profile Image Hover Tooltip Css : Theme3 */
.theme3{
    background: #ffffff;
    border: 1px solid #b3b3b3;
    left: -122px;
    position: absolute;
    top: 12px;
}


/* Icon Hover Tooltip : Theme4 */
.theme4 {
    background: #ffffff;
    border:1px solid #999999;
    border-radius: 3px;
}
.theme4 .tooltipster-content {
    padding: 5px;
    color: #666666;
    font-family: "light";
    font-size: 14px;
    line-height: 16px;
}

/* More option Tooltip : Theme5 */
.theme5 {
    background: #f9f9f9;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
    -moz-box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
    box-shadow: 1px 1px 4px 0px rgba(153,153,153,1);
}
.theme5 .tooltipster-content {
    padding: 10px 10px 10px 25px;
    color: #c1272d;
    font-family: "light";
    font-size: 14px;
    line-height: 16px;
}




@media only screen and (max-width: 768px) {

    .main-wrapper{
        overflow: visible;
    }
    

    /* listing-tooltip */
    .listing-tooltip ul li {
        margin: 8px 4px;
        width: 100%;
    }
    .listing-tooltip ul li a{
        width: 100%;
        text-align: center;
    }

    /* tool-tip-profile */
    .tool-tip-profile{
        width: auto;
    }
    .tool-tip-profile .mod-title{
        font-size: 12px;
        line-height: 14px;
    }
    .tool-tip-profile p{
        font-size: 11px;
        line-height: 13px;
    }

}




