<div class="process-step-wrap box-wrap theme-grey">
	<div class="container">
		<div class="section-head">
	        <label><span class="bold">claim </span> intimation</label>
	    </div>
		<div class="infograph-wrap col-sm-16">
			<h3 class="mod-title"><span>an</span> <span class="bold">easy 3 step</span><span> claim processing</span></h3>
            <div class="infograph">
            	<img src="images/infographi_report-claim.png" alt="an easy 3 step claim processing">
            </div>
		</div>
		<div class="col-sm-8 form-wrap">
				<form>
					<ul class="form-list">
						<li class="form-item">
								<label class="field-title">nominee name</label>
								<div class="form-field">
									<input type="text" name="name">
								</div>
						</li>
						<li class="form-item">
								<label class="field-title">nominee number</label>
								<div class="form-field">
									<input type="text" name="number">
								</div>
						</li>
						<li class="form-item">
								<label class="field-title">policy number</label>
								<div class="form-field">
									<input type="text" name="policy number">
								</div>
						</li>
						<li>
							<button class="btn btn-orange btn-xs" type="button">
								<span class="bold">submit </span> now
							</button>
						</li>
					</ul>
				</form>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="documents-wrapper bg-default container">
		<div class="tab-with-line tabs">
			<div class="tab-link-wrap desktop-cont">
				<ul class="nav-tab-list">
					<li class="tab-title tab-link active">
						<a href="#"><span class="bold">death </span><span>claim</span></a>
					</li>
					<li class="tab-title tab-link">
						<a href="#"><span class="bold">cl/hcb </span><span>claim</span></a>
					</li>
					<li class="tab-title tab-link">
						<a href="#"><span class="bold">disabilty </span><span>claim</span></a>
					</li>
				</ul>
			</div>
			<div class="tab-content-wrap">
				<div class="tab-content">
					<div class="documents-listing col-sm-16">
						<h3 class="mod-title"><span class="bold">following documents needs</span> <span class="line-break">to be submitted</span></h3>
						<div class="submitted-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">original policy document</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">claimant photoidentity</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">address proof</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of medico-legal cause of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">medical records of the life assured being hospitalized <span>(indoor case papers, discharge/death summary, test reports etc)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">post mortem report<span>(if conducted)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">fir/ police report/ panchnama / inquest report<span>(if case filed with police)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of driving license if life assured was driving the vehicle<span>(applicable if "accidental death benefit or accidental and total permanent disability rider" is opted)</span></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="documents-listing col-sm-8">
						<h3 class="mod-title"><span class="bold">following forms needs </span>
						<span class="line-break">to be duly filled</span></h3>
						<div class="download-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement - death</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement  - rider</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">treating doctor certificate</a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">employer certificate<span>(for salaried policyholder)</span></a>
								</li> 
							</ul>
						</div>
						<button class="btn btn-orange btn-xl" type="button">
		                    <span class="download-icon"></span>
		                    <span class="bold">download  </span>all forms
		                </button>
					</div>
				</div>
				<div class="tab-content">
					<div class="documents-listing col-sm-16">
						<h3 class="mod-title"><span class="bold">following documents needs</span> <span class="line-break">to be submitted</span></h3>
						<div class="submitted-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">original policy document</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">claimant photoidentity</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">address proof</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of medico-legal cause of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">medical records of the life assured being hospitalized <span>(indoor case papers, discharge/death summary, test reports etc)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">post mortem report<span>(if conducted)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">fir/ police report/ panchnama / inquest report<span>(if case filed with police)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of driving license if life assured was driving the vehicle<span>(applicable if "accidental death benefit or accidental and total permanent disability rider" is opted)</span></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="documents-listing col-sm-8">
						<h3 class="mod-title"><span class="bold">following forms needs </span>
						<span class="line-break">to be duly filled</span></h3>
						<div class="download-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement - death</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement  - rider</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">treating doctor certificate</a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">employer certificate<span>(for salaried policyholder)</span></a>
								</li> 
							</ul>
						</div>
						<button class="btn btn-orange btn-xl" type="button">
		                    <span class="download-icon"></span>
		                    <span class="bold">download  </span>all forms
		                </button>
					</div>
				</div>
				<div class="tab-content">
					<div class="documents-listing col-sm-16">
						<h3 class="mod-title"><span class="bold">following documents needs</span> <span class="line-break">to be submitted</span></h3>
						<div class="submitted-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">original policy document</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">claimant photoidentity</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">address proof</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of medico-legal cause of death certificate</span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">medical records of the life assured being hospitalized <span>(indoor case papers, discharge/death summary, test reports etc)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">post mortem report<span>(if conducted)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">fir/ police report/ panchnama / inquest report<span>(if case filed with police)</span></span>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<span class="document-title">copy of driving license if life assured was driving the vehicle<span>(applicable if "accidental death benefit or accidental and total permanent disability rider" is opted)</span></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="documents-listing col-sm-8">
						<h3 class="mod-title"><span class="bold">following forms needs </span>
						<span class="line-break">to be duly filled</span></h3>
						<div class="download-listing">
							<ul>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement - death</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">claimant statement  - rider</a>
								</li>
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">hospital certificate - death<span>(if the Life Assured was hospitalized)</span></a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">treating doctor certificate</a>
								</li> 
								<li class="list-item">
									<span class="icon"></span>
									<a href="#" class="document-title">employer certificate<span>(for salaried policyholder)</span></a>
								</li> 
							</ul>
						</div>
						<button class="btn btn-orange btn-xl" type="button">
					        <span class="download-icon"></span>
					        <span class="bold">download  </span>all forms
					    </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>