<div class="container">
		<div class="section-head">
	        <label><span class="bold">claim</span> philosophy</label>
	    </div>
	 </div>
<div class="tab-with-icon claim-tab claim-philosophy tabs">
	<div class="tab-link-wrap box-wrap theme-grey">
		<ul class="nav-tab-list container">
			<li class="col-sm-8 col-xs-8">
				<a href="#" class="tab-title tab-link">
					<span class="icon time-icon"></span>
					<span class="mod-title"><span class="bold">turnaround </span><span class="line-break">times</span></span>
				</a>
			</li>
			<li class="col-sm-8 col-xs-8">
				<a href="#" class="tab-title tab-link">
					<span class="icon late-payment-icon"></span>
					<span class="mod-title"><span class="bold">provision of interest </span><span class="line-break">for late payments</span></span>
				</a>
			</li>
			<li class="col-sm-8 col-xs-8">
				<a href="#" class="tab-title tab-link">
					<span class="icon ceo-icon"></span>
					<span class="mod-title"><span class="bold">letter from </span><span class="line-break">CEO</span></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="tab-content-wrap">
		<div class="tab-content">
			
				<div class="container">
					<div class="ceo-letter-wrap">
						
							<div class="ceo-img col-sm-6">
								<img alt="ceo" src="images/ceo-letter.jpg">
								<p>lorem dolor set ipsum if question mark is set dolor.</p>
							</div>
						
						<div class="letter-text col-sm-18">
							<p>Dear,</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="signature">
								<p>Yours truly,</p>
								<img alt="sign" src="images/signature.png">
							</div>
							<address>
								<span>Edelweiss Tokio Life Insurance</span>
								<span>3rd & 4th Floor, Tower 3, Wing 'B',</span>
								<span>Kohinoor City Mall, Kohinoor City, Kirol Road,</span>
								<span>Kurla (W), Mumbai - 400 070.</span>
							</address>
						</div>
					</div>
				</div>
			
		</div>
		<div class="tab-content">
			
				<div class="container">
					<div class="ceo-letter-wrap">
						
							<div class="ceo-img col-sm-6">
								<img alt="ceo" src="images/ceo-letter.jpg">
								<p>lorem dolor set ipsum if question mark is set dolor.</p>
							</div>
						
						<div class="letter-text col-sm-18">
							<p>Dear,</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="signature">
								<p>Yours truly,</p>
								<img alt="sign" src="images/signature.png">
							</div>
							<address>
								<span>Edelweiss Tokio Life Insurance</span>
								<span>3rd & 4th Floor, Tower 3, Wing 'B',</span>
								<span>Kohinoor City Mall, Kohinoor City, Kirol Road,</span>
								<span>Kurla (W), Mumbai - 400 070.</span>
							</address>
						</div>
					</div>
				</div>
			
		</div>
		<div class="tab-content">
			
				<div class="container">
					<div class="ceo-letter-wrap">
						
							<div class="ceo-img col-sm-6">
								<img alt="ceo" src="images/ceo-letter.jpg">
								<p>lorem dolor set ipsum if question mark is set dolor.</p>
							</div>
						
						<div class="letter-text col-sm-18">
							<p>Dear,</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="signature">
								<p>Yours truly,</p>
								<img alt="sign" src="images/signature.png">
							</div>
							<address>
								<span>Edelweiss Tokio Life Insurance</span>
								<span>3rd & 4th Floor, Tower 3, Wing 'B',</span>
								<span>Kohinoor City Mall, Kohinoor City, Kirol Road,</span>
								<span>Kurla (W), Mumbai - 400 070.</span>
							</address>
						</div>
					</div>
				</div>
			
		</div>
	</div>
</div>