<div class="container">
    <div class="section-head">
        <label><span class="bold">claim</span> articles</label>
    </div>
	<div class="tab-with-line tabs">
		<div class="tab-link-wrap desktop-cont">
			<ul class="nav-tab-link">
				<li class="tab-title tab-link active">
					<a href="#"><span class="bold">most </span><span> recent</span></a>
				</li>
				<li class="tab-title tab-link">
					<a href="#"><span class="bold">most </span><span> popular</span></a>
				</li>
			</ul>
		</div>
		<div class="tab-content-wrap buzz-wrap">
			<div class="tab-content">
				<div class="select-category">
					<select class="select-box">
						<option>Select Category 1</option>
						<option>Select Category 2</option>
						<option>Select Category 3</option>
						<option>Select Category 4</option>
					</select>
				</div>
				<div class="layt-buzz">
	                <div class="row">
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                 </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/img1.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/buzz1.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                    </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/buzz2.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                     </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                     </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
			<div class="tab-content">
				<div class="select-category">
					<select>
						<option>Select Category 1</option>
						<option>Select Category 2</option>
						<option>Select Category 3</option>
						<option>Select Category 4</option>
					</select>
				</div>
				<div class="layt-buzz">
	                <div class="row">
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                 </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/img1.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/buzz1.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
	                                    Best critical illness cover in india
	                                </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                    </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item bg-img">
	                            <img class="buzz-img" src="images/buzz2.jpg" alt="buzz1">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                     </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                    <div class="col-sm-8 layt-buzz-item">
	                        <div class="blog-item">
	                            <div class="blog-info">
	                                <h3 class="mod-title">
				                        Best critical illness cover in india
				                     </h3>
	                                <label class="blog-by">posted by Edelweisss Tokio</label>
	                                <label class="timestamp">12 OCT. 2015</label>
	                                <p>
	                                    A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
	                                </p>
	                            </div>
	                            <a href="#" class="btn btn-md">
	                                <span class="bold">read more</span>
	                            </a>
	                            <a class="btn share-icon" href="#">&nbsp;</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>