<h2 class="footer-title toggle-footer">quick links
   <span class='icon-cont'>
       <span></span>
       <span></span>
   </span>
</h2>
<div class="footer-wrap">
    <div class="quick-link-listing">
        <ul>
            <li class="quick-link-item">
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img1.svg" alt="footer-img1">
                     <span class="text">EDELWEISS TOKIO</span>
                 </h3>
                    <div class="quick-list">
                         <ul class="support-footer-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Customer Centric</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Our Funds</a></li>
                            <li><a href="#">Become an Advisor</a></li>
                            <li><a href="#">The Buzz</a></li>
                            <li><a href="#">Careers</a></li>
                            <li rel="locator-opt"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img5.svg" alt="footer-img5">
                     <span class="text">PRODUCTS</span>
                 </h3>
                    <div class="quick-list">
                        <ul>
                            <li><a href="#">Secured Future</a></li>
                            <li><a href="#">Healthy Future</a></li>
                            <li><a href="#">Planned Future</a></li>
                            <li><a class="sub-link" href="#">- Education Planning</a></li>
                            <li><a class="sub-link" href="#">- Retirement Planning</a></li>
                            <li><a class="sub-link" href="#">- Growth Planning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick-link-item">
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img2.svg" alt="footer-img2">
                     <span class="text">CUSTOMER SERVICE</span>
                 </h3>
                    <div class="quick-list">
                        <ul>
                            <li><a href="#">Pay Premium</a></li>
                            <li><a href="#">Report a Claim</a></li>
                            <li><a href="#">Riders</a></li>
                            <li><a href="#">E-Statements</a></li>
                            <li><a href="#">E-Transactions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img6.svg" alt="footer-img6">
                     <span class="text">TOOL &amp; WIDGETS</span>
                 </h3>
                    <div class="quick-list">
                        <ul class="support-footer-list">
                            <li><a href="#">Get a Free Quote</a></li>
                            <li><a href="#">Need Calculator</a></li>
                            <li><a href="#">Health Analyzer</a></li>
                            <li><a href="#">Document Vault</a></li>
                            <li><a href="#">Book of Legacy</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick-link-item">
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img3.svg" alt="footer-img3">
                     <span class="text">IMPORTANT LINKS</span>
                 </h3>
                    <div class="quick-list">
                        <ul>
                            <li><a href="#">IRDA</a></li>
                            <li><a href="#">Life Insurance Council</a></li>
                            <li><a href="#">Insurance Ombudsman</a></li>
                            <li><a href="#">Public Disclosure</a></li>
                            <li><a href="#">Do not Call Registry</a></li>
                            <li><a href="#">Consumer Education Website</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">IRDA Notice on Spurious Call</a></li>
                            <li><a href="#">Service Tax</a></li>
                            <li><a href="#">Corporate Agents</a></li>
                            <li><a href="#">Edelweiss Tokio CSR Policy</a></li>
                            <li><a href="#">T&amp;C of Appointment of ID</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="quick-link-item">
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img4.svg" alt="footer-img4">
                     <span class="text">SUPPORT</span>
                 </h3>
                    <div class="quick-list">
                        <ul class="support-footer-list">
                            <li rel="filecomplaint"><a  href="#">Raise a Concern</a></li>
                            <li rel="chat"><a  href="#">Live Chat</a></li>
                            <li rel="schedule-call"><a  href="#">Call Back</a></li>
                            <li rel="faq"><a  href="#">FAQ</a></li>
                            <li rel="locator" ><a href="#">Branch Locator</a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick-item-cont">
                    <h3>
                     <img class="icon-footer" src="images/footer-img7.svg" alt="footer-img7">
                     <span class="text">LEGAL</span>
                 </h3>
                    <div class="quick-list">
                        <ul>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="address-wrap">
            <div class="social-link">
                <a class="fb-icon" href="#"></a>
                <a class="tw-icon last" href="#"></a>
            </div>
            <div class="address-cont">
                <address>
                    <p>Edelweiss Tokio Life Insurance, Edelweiss House, Off. CST Road, Kalina, Mumbai, Maharashtra 400098</p>    
                    <div class="address-contact">
                        <span>T: +91 22 4088 6015</span>
                        <span>F: +91 22 4342 8161</span>
                        <a href="mailto:care@edelweisstokio.in">care@edelweisstokio.in</a>
                        <a class="link" href="http://www.edelweissfin.com/" target="_blank">www.edelweissfin.com</a>
                    </div>
                </address>
            </div>
        </div>
    </div>
    <div class="disclaimer-section">
        <div class="disclaimer-cont">
            <p>Edelweiss Tokio Life Insurance Company Limited. All Rights Reserved. Registered with Insurance Regulatory &amp; Development Authority (IRDA) as Life Insurance Company.</p>
            <p>Registration No. 147. Corporate Identity Number: U66010MH2009PLC197336.</p>
            <p>IInsurance is the subject matter of the solicitation. Tax benefits are as per the Income Tax Act, 1961, and are subject to amendments made thereto from time to time.</p>
            <p>Flower &amp; Edelweiss (as displayed above) are trademarks of Edelweiss Financial Services Limited; "Tokio" is Trademark of Tokio Marine Holdings Inc. and used by Edelweiss Tokio Life Insurance Co. Ltd. under license.</p>
            <p>Edelweiss Tokio Life Insurance Company Limited. Registered Office: Edelweiss House, Off. CST Road, Kalina, Mumbai – 400 098. Tel: + 91 22 40886015. Fax No.: +91 22 4342 8161.</p>
            <p>This is a Private website owned by the Company. Unauthorized scanning of vulnerabilities and exploitation of the same is strictly prohibited. If you have been found to do so, Company may bring Civil and/or Criminal action and/or legal proceedings against you which shall be entirely at your costs and consequences.</p>
        </div>
        <span class="copy-right">2014 Edelweiss Tokio Life Insurance Company Limited. All Rights Reserved.</span>
    </div>
</div> 




    