<div class="header-wrapper">
    <div class="header-cont">
        <div class="nav-left">
            <div class="menu-wrap">
            	<a class="menu-btn main-action-level" href="#">
                    <span class="menu-line-grp">            
                       <span class="menu-line"></span>
                       <span class="menu-line"></span>
                       <span class="menu-line"></span>   
                    </span>
                </a>
            </div>
            <div class="logo">
                <a href="#">
                    <img src="images/logo.svg" alt="test">
                </a>
            </div>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <div class="nav-item">
                	   <a class="report-btn" href="#">REPORT A CLAIM</a>
                    </div>
                </li>
                <li>
                  <div class="nav-item">
                	<div class="queries">
                		<span class="bold">FOR PRODUCT QUERIES</span>
                		<span>(022) 6611 6041</span>
                	</div>
                    </div>
                </li>
                <li>
                    <a class="nav-item search-box icon-item" href="#"></a> 
                </li>
                <li>
                	<a class="nav-item sign-up my-account" href="#">
                        <span class="line-break">my account</span>
                        <span>&amp; services</span>   
                    </a>
                    <div class="account-wrap">
                        <a class="icon-close mobile-cont" href="#">my account &amp; services</a>
                        <div class="user-menu dropdown">
                            <ul>
                                <li>
                                    <a href="#">my account</a>
                                </li>
                                <li>
                                    <a href="#">online renewal</a>
                                </li>
                                <li>
                                    <a href="customerservices_premium_paid_certificate.shtml">customer services</a>
                                </li>
                                <li>
                                    <a href="#">continue application</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#login">logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</div>
<nav>
     <div class="menu-list main-action-level">
         <ul>
            <li class="menu-item main-action-level mobile-cont">
                <a class="menu-action-item" href="#">
                    <span class="icon">
                        <img class="normal" src="images/report-normal.svg" alt="report-normal">
                        <img class="hover" src="images/report-hover.svg" alt="report-hover">
                    </span>
                    <span>REPORT A CLAIM</span>
                </a>
            </li>
            <li class="menu-item main-action-level">
                <a class="menu-action-item" href="#">
                    <span class="icon">
                        <img class="normal" src="images/products-normal.svg" alt="products-normal">
                        <img class="hover" src="images/products-hover.svg" alt="products-hover">
                    </span>
                    <span>products</span>
                </a>
                <div class="flyout-menu-wrapper">
                    <ul>
                        <li class="flyout-item">
                            <h2><a href="#" class="mod-title flyout-action-item flyout-tab-link"><span class="bold">secured</span> future
                            </a></h2>
                            <ul class="flyout-sub-item-wrapper">
                                <li class="flyout-sub-item">
                                    <a href="#"><span class="tag-buyNow">buy now</span>Edelweiss Tokio Life – MyLife+ </a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#"><span class="tag-buyNow">buy now</span>Edelweiss Tokio Life – MyLife+ </a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Protection</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Income Replacement</a>
                                </li>
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – Raksha Kavach (Micro Insurance Plan)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="flyout-item">
                            <h2><a href="#" class="mod-title flyout-action-item flyout-tab-link"><span class="bold">healthy</span> future
                            </a></h2>
                            <ul class="flyout-sub-item-wrapper">
                                <li class="flyout-sub-item">
                                    <a href="#">Edelweiss Tokio Life – CritiCare+<span class="tag-buyNow">buy now</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="flyout-item">
                            <h2><a href="#" class="mod-title flyout-action-item flyout-tab-link"><span class="bold">planned</span> future
                            </a></h2>
                            <ul class="flyout-sub-item-wrapper">
                                <li>
                                    <h3><a href="#" class="mod-title sub-title"><span class="bold">education</span> planning
                                            </a></h3>
                                    <ul>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – EduSave</a>
                                        </li>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                        </li>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – EduSave</a>
                                        </li>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h3><a href="#" class="mod-title sub-title"><span class="bold">education</span> planning
                                            </a></h3>
                                    <ul>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – EduSave</a>
                                        </li>
                                        <li class="flyout-sub-item">
                                            <a href="#">Edelweiss Tokio Life – MyLife+ <span class="tag-buyNow">buy now</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu-item main-action-level">
                <a class="menu-action-item" href="#">
                    <span class="icon">
                        <img class="normal" src="images/whyus-normal.svg" alt="whyus-normal">
                        <img class="hover" src="images/whyus-hover.svg" alt="whyus-hover">
                    </span>
                    <span>why us</span>
                </a>
            </li>
            <li class="menu-item main-action-level">
                <a class="menu-action-item" href="#">
                    <span class="icon">
                        <img class="normal" src="images/premium-normal.svg" alt="premium-normal">
                        <img class="hover" src="images/premium-hover.svg" alt="premium-hover">
                    </span>
                    <span>renew online</span>
                </a>
            </li>
            <!-- <li class="menu-item main-action-level">
                <a class="menu-action-item" href="#">
                    <span class="icon">
                        <img class="normal" src="images/widgets-normal.svg" alt="widgets-normal">
                        <img class="hover" src="images/widgets-hover.svg" alt="widgets-hover">
                    </span>
                    <span>tools & widgets</span>
                </a>
            </li> -->
            <li class="menu-item main-action-level">
                <a class="menu-action-item calculator-wrap popup-wrap" href="#">
                    <span class="icon">
                        <img class="normal" src="images/calculator-normal.svg" alt="widgets-normal">
                        <img class="hover" src="images/calculator-hover.svg" alt="widgets-hover">
                    </span>
                    <span>need calculator</span>
                </a>
            </li>
            <li class="menu-item main-action-level">
                <a class="menu-action-item free-quote-wrap popup-wrap" href="#">
                    <span class="icon quote">
                        <img src="images/quote.svg" alt="quote">
                    </span>
                    <span>Get a free quote</span>
                </a>
            </li>
         </ul>
     </div>
</nav>

