<div class="hs-home-wrap">
	<div class="linking-wrap">
		<a href="#" class="btn btn-orange">skip tutorial</a>
		<div class="help-nav-listing">
			<ul>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">6</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="hs-home hs-home-1">
		<div class="help-menu-wrap">
        	<a class="help-menu-btn" href="#">
                <span class="menu-line-grp">            
                   <span class="menu-line"></span>
                   <span class="menu-line"></span>
                   <span class="menu-line"></span>   
                </span>
            </a>
        </div>
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<div class="helpScreen-cont">
				<p>this will give you a list of menu options</p>
			</div>
			<button type="button" class="btn btn-xs btn-orange ">
	            <span class="bold">next</span>
	        </button>
		</div>
	</div> 
 	<div class="hs-home hs-home-2">
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<button type="button" class="btn btn-xs btn-orange ">
	            <span class="bold">next</span>
	        </button>
			<div class="helpScreen-cont">
				<p>a journey which will help you figure out your need a journey which will help you figure out your need</p>
			</div>
			<div class="icon-title">
	            <span class="icon yourNeed"></span>
	            <span class="text">
	                <span class="bold">know</span>
	                <span>your need</span>
	            </span>
	        </div>
        </div>
	</div>
	<div class="hs-home hs-home-3">
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<button type="button" class="btn btn-xs btn-orange ">
	            <span class="bold">next</span>
	        </button>
			<div class="helpScreen-cont">
				<p>a journey which will help you </p>
			</div>
			<div class="icon-title">
	            <span class="icon calculator"></span>
	            <span class="text">
	                <span class="bold">need</span>
	                <span>calculator</span>
	            </span>
	        </div>
        </div>
	</div>
	<div class="hs-home hs-home-4">
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<button type="button" class="btn btn-xs btn-orange ">
	            <span class="bold">next</span>
	        </button>
			<div class="helpScreen-cont">
				<p>this gives you a free quote on the basis of parameters you set</p>
			</div>
			<div class="icon-title">
	            <span class="icon freeQuote"></span>
	            <span class="text">
	                <span class="bold">get a</span>
	                <span>free quote</span>
	            </span>
	        </div>
        </div>
	</div>
	<div class="hs-home hs-home-5">
		<a class="icon-item" href="#"></a>
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<div class="helpScreen-cont">
				<p>Login to your account for Customer service such as renew your policy, complete pending transactions or to initiate new transactions, download policy related document</p>
			</div>
			<button type="button" class="btn btn-xs btn-orange ">
	            <span class="bold">next</span>
	        </button>
        </div>
	</div> 
	<div class="hs-home hs-home-6">
		<div class="mascot">
			<img alt="mascot" src="images/mascot.png">
		</div>
		<div class="helpScreen-cont-wrap">
			<button type="button" class="btn btn-orange btn-xs">
	            <span class="bold">got </span>it
	        </button> 
			<div class="helpScreen-cont">
				<p>I am right here if you need me for more help</p>
			</div>
			<span class="character"></span>
		</div>
	</div> 

</div>