<span class="screen-overlay"></span>
<!-- Global Search -->
<div class="global-search main-action-level">
    <span class="search-icon"></span>
    <div class="input-wrap">
        <input type="text" placeholder="search here...">
    </div>
</div>
<!-- Support Module -->
<div class="support-wrap main-action-level">
    <div class="mascot-popup intial reveal-link" rel="chat">
        <span class="popup-text"><strong>Hey there, I’m ED!</strong> How may I help you?</span>
    </div>
    <div class="reveal-link-wrap">
        <span class="character"></span>
        <ul class="link-wrap">
            <li class="reveal-link" rel="chat">
                <a class="icons msg" href="#"></a>
            </li>
            <li class="reveal-link" rel="schedule-call">
                <a class="icons calling" href="#"></a>
            </li>
            <li class="reveal-link" rel="locator-opt">
                <a class="icons location" href="#"></a>
            </li>
            <li class="reveal-link" rel="filecomplaint">
                <a class="icons notePad" href="#"></a>
            </li>
            <li class="reveal-link" rel="faq">
                <a class="icons que" href="#"></a>
            </li>
        </ul>
    </div>
    <div class="reveal-cont" cont-rel="chat">
        <div class="mobile-back support-back mobile-cont">
            <a href="#">back to</a>
        </div>
        chat box.
    </div>

    <div class="reveal-cont" cont-rel="schedule-call">
        <div class="mobile-back support-back mobile-cont">
            <a href="#">back to</a>
        </div>
        <div class="form-wrap">
            <h2 class="mod-title"><span class="bold">request</span> a call back</h2>
            <h3 class="mod-title sub-title"><span class="bold">schedule</span> a call</h3>
            <p>please provide us with following information</p>
            <form id="testForm" method="get" action="">
            <ul class="form-list">
                <li>
                    <div class="form-item">
                        <label class="field-title">name</label>
                        <div class="form-field">
                            <input type="text" name="name" required>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">phone number</label>
                        <div class="form-field">
                            <input type="text" name="number" required>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="schedule-link" name="field" value="option">
                        <label class="schedule-time-link" for="schedule-link"><span class="bold">schedule</span> a call</label>
                    </div>
                </li>
                <li class="schedule-time">
                    <div class="form-item">
                        <label class="field-title">preferred day & time</label>
                        <div class="row">
                            <div class="col-sm-10 col-xs-10">
                                <div class="select-category">
                                    <select class="select-box small-font" disabled="disabled">
                                        <option>tomorrow</option>
                                        <option>today</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-13 col-xs-13 pull-right">
                                <div class="select-category">
                                    <select class="select-box small-font" disabled="disabled">
                                        <option>10:00am-11:00am</option>
                                        <option>11:00am-12:00pm</option>
                                        <option>12:00pm-01:00pm</option>
                                        <option>01:00pm-02:00pm</option>
                                        <option>02:00pm-03:00pm</option>
                                        <option>03:00pm-04:00pm</option>
                                        <option>04:00pm-05:00pm</option>
                                        <option>05:00pm-06:00pm</option>
                                        <option>06:00pm-07:00pm</option>
                                        <option>07:00pm-08:00pm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="action-wrapper">
                        <button type="submit" class="btn btn-orange ">
                            <span class="bold">submit </span> now
                        </button>
                    </div>
                </li>
            </ul>
            </form>
        </div>
    </div>

    <div class="reveal-cont" cont-rel="locator-opt">
        <div class="mobile-back support-back mobile-cont">
            <a href="#">back to</a>
        </div>
        <h2 class="mod-title"><span class="bold">contact</span> us</h2>
        <div class="img-with-btn">
            <div class="col-sm-12">
                <div class="img-btn-cont">
                    <span class="support-icons icon-locator1"></span>
                    <div class="action-wrapper">
                        <button type="button" rel="locator" class="btn btn-orange reveal-link">
                            <span class="bold">branch  </span> Locator
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="img-btn-cont last">
                    <span class="support-icons icon-locator2"></span>
                    <div class="action-wrapper">
                        <button type="button" rel="locator2" class="btn btn-orange reveal-link">
                            <span class="bold">enquire  </span> With us
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="branch-locator-wrap reveal-cont" cont-rel="locator">
        <div class="mobile-back mobile-cont">
            <a href="#" rel="locator-opt" class="reveal-link">back to</a>
        </div>
        <div class="form-wrap">
            <h2 class="mod-title"><span class="bold">branch </span> locator</h2>
            <ul class="form-list">
                <li>
                    <div class="form-item">
                        <label class="field-title">location</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option>Maharastra</option>
                                <option>Delhi</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <div class="select-category">
                            <select class="select-box">
                                <option>Mumbai</option>
                                <option>Pune</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <div class="select-category">
                            <select class="search-select-box">
                                <option>Kurla</option>
                                <option>Parel</option>
                                <option>Lalbag</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="address-bar">Edelweiss Tokio Life Insurance Company Limited, 3rd Floor, Edelweiss House, Off C.S.T. Road Kalina Maharashtra 400098.Edelweiss Tokio Life Insurance Company Limited, 3rd Floor, Edelweiss House, Off C.S.T. Road Kalina Maharashtra 400098.</span>
        <div class="icon-text-listing">
            <ul>
                <li>
                    <a href="mailto:care@edelweisstokio.in"><span class="icon mail"></span> care@edelweisstokio.in</a>
                </li>
                <li>
                    <a href="tel:1800-12-12-1122"><span class="icon call"></span> 1800-12-12-1122</a>
                </li>
                <li>
                    <a href="#"><span class="icon directions"></span>get directions</a>
                </li>
                <li>
                    <a class="whatsapp-link" href="#"><span class="icon whatsapp"></span>whatsapp me the location</a>
                </li>
            </ul>
        </div>
        <div class="theme-grey form-wrap whatsapp-wrap">
            <p>please provide us with following information</p>
            <div class="form-item">
                <div class="form-field">
                    <input type="text" name="number">
                </div>
            </div>
            <div class="action-wrapper">
                <button type="button" class="btn btn-orange ">
                    <span class="bold">submit </span> now
                </button>
                <button type="button" class="btn btn-orange ">
                    <span class="bold">cancel </span> now
                </button>
            </div>
        </div>
    </div>
    <div class="reveal-cont" cont-rel="locator2">
        <div class="mobile-back mobile-cont">
            <a href="#" rel="locator-opt" class="reveal-link">back to</a>
        </div>
        <div class="form-wrap">
            <h2 class="mod-title"><span class="bold">enter your</span> contact details</h2>
            <ul class="form-list">
                <li>
                    <div class="form-item">
                        <label class="field-title">Name</label>
                        <div class="form-field">
                            <input type="text" name="First Name">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">Email</label>
                        <div class="form-field">
                            <input type="text" name="Email">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">Mobile No.</label>
                        <div class="form-field">
                            <input type="text" name="Mobile No.">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">Intrested In</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option value="Please select the category that you are interested in">Please select the category that you are interested in</option>
                                <option value="1">Product related</option>
                                <option value="2">Post purchase feedback</option>
                                <option value="3">Complaint</option>
                                <option value="4">Policy renewal related</option>
                                <option value="5">General information</option>
                                <option value="6">Any other feedback</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">SubjectLine</label>
                        <div class="form-field">
                            <input type="text" name="SubjectLine">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">Message</label>
                        <div class="form-field">
                            <textarea></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">submit </span> now
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="reveal-cont" cont-rel="filecomplaint">
        <div class="mobile-back support-back mobile-cont">
            <a href="#">back to</a>
        </div>
        <h2 class="mod-title"><span class="bold">file</span> a complaint</h2>
        <div class="img-with-btn">
            <div class="col-sm-12">
                <div class="img-btn-cont">
                    <span class="support-icons register"></span>
                    <div class="action-wrapper">
                        <button type="button" rel="register-now" class="btn btn-orange reveal-link">
                            <span class="bold">register </span> now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="img-btn-cont last">
                    <span class="support-icons check-status"></span>
                    <div class="action-wrapper">
                        <button type="button" rel="checkstatus" class="btn btn-orange reveal-link">
                            <span class="bold">check </span> status
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reveal-cont" cont-rel="register-now">
        <div class="mobile-back mobile-cont">
            <a href="#" rel="filecomplaint" class="reveal-link">back to</a>
        </div>
        <div class="form-wrap">
            <h2 class="mod-title"><span class="bold">file</span> a complaint</h2>
            <h3 class="mod-title sub-title"><span class="bold">register</span> now</h3>
            <p>please provide us with following information</p>
            <ul class="form-list">
                <li>
                    <div class="form-item">
                        <label class="field-title">phone number</label>
                        <div class="form-field">
                            <input type="text" name="number">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">e-mail Id</label>
                        <div class="form-field">
                            <input type="text" name="e-mail Id">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">complaint type</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option>complaint type 1</option>
                                <option>complaint type 2</option>
                                <option>complaint type 3</option>
                                <option>complaint type 4</option>
                                <option>complaint type 5</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">complaint subtype</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option>complaint subtype 1</option>
                                <option>complaint subtype 2</option>
                                <option>complaint subtype 3</option>
                                <option>complaint subtype 4</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">description</label>
                        <div class="form-field">
                            <input type="text" name="description">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">submit </span> now
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="reveal-cont" cont-rel="checkstatus">
        <div class="mobile-back mobile-cont">
            <a href="#" rel="filecomplaint" class="reveal-link">back to</a>
        </div>
        <div class="form-wrap">
            <h2 class="mod-title"><span class="bold">file</span> a complaint</h2>
            <h3 class="mod-title sub-title"><span class="bold">check</span> status</h3>
            <p>please provide us with following information</p>
            <ul class="form-list">
                <li>
                    <div class="form-item">
                        <label class="field-title">policy number</label>
                        <div class="form-field">
                            <input type="text" name="policy number">
                        </div>
                    </div>
                </li>
                <li>
                    <span class="or">OR</span>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">phone number</label>
                        <div class="form-field">
                            <input type="text" name="number">
                        </div>
                    </div>
                </li>
                <li>
                    <span class="or">OR</span>
                </li>
                <li>
                    <div class="form-item">
                        <label class="field-title">complaint referrence</label>
                        <div class="form-field">
                            <input type="text" name="complaint referrence">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">submit </span> now
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="faq-list reveal-cont" cont-rel="faq">
        <div class="mobile-back support-back mobile-cont">
            <a href="#">back to</a>
        </div>
        <h2 class="mod-title"><span class="bold">frequently</span> asked questions</h2>
        <ul>
            <li><a href="#">category 1</a></li>
            <li><a href="#">category 2</a></li>
            <li><a href="#">category 3</a></li>
            <li><a href="#">category 4</a></li>
            <li><a href="#">category 5</a></li>
            <li><a href="#">category 6</a></li>
            <li><a href="#">category 7</a></li>
        </ul>
    </div>
</div>
<div class="mobile-flyout flyout-menu-wrapper mobile-cont">
    <div class="flyout-title"><a href="#">Product</a></div>
    <div class="flyout-cont">
    </div>
</div>
