<div class="title-wrapper page-back mobile-cont">
   <div class="container">
      <span class="page-title"> 
         <span>form</span>
         <span class="bold"> downloads</span>
      </span>
   </div>
   <a class="page-back-link" href="download-form.shtml">
      download form
    </a>
</div>
<div class="container">
<div class="section-head">
     <label><span class="bold">in</span> bengali</label>
</div>
<div class="download-listing">
   <ul>
      <li class="download-item">
         <span class="download-icon"></span>
         <h3 class="download-head">
            <a class="download-title" href="#">
            <span class="bold"> Assignment </span>
            <span>Form</span>
            </a>
         </h3>
      </li>
      <li class="download-item">
         <span class="download-icon"></span>
         <h3 class="download-head">
         <a class="download-title" href="#"><span class="bold">Change of Ownership</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Credit card Authorisation</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">ESC - Direct Debit Mandate</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Free Look Pre-Insurance Cancellation</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Fund Switch & Premium Redirection</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Nomination</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Policy Loan & Partial Withdrawal</span><span>Form</span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Policy Service Request</span><span>Form
            </span></a></h3>
      </li>
      <li class="download-item">
            <span class="download-icon"></span>
            <h3 class="download-head">
            <a class="download-title" href="#"><span class="bold">Signature Change</span><span>Form</span></a></h3>
      </li>
   </ul>
</div>
</div>