<div class="sidebar-panel">
<div class="news-wrap v-divider">
    <div class="news-item with-overlay">
        <div class="news-head">
            <a href="#">
                <span class="mod-title">
                 <span class="line-break">new term</span>
                <span class="line-break">plan launched</span>
                </span>
            </a>
            <div class="news-media">
                <img src="images/term.jpg" alt="test">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste cupiditate assumenda earum </p>
    </div>
</div>
<div class="recommed-wrap">
		<h3 class="mod-title">Recommendations based on your 
		search :</h3>
		<div class="link-list">
			<ul>
				<li><a href="#">lorem ipsum product</a></li>
				<li><a href="#">dolor set category</a></li>
				<li><a href="#">color set news</a></li>
				<li><a href="#">dolor protect</a></li>
			</ul>
		</div>
	</div>
</div>
