<div class="container">
    <div class="section-head">
        <label><span class="bold">healthy </span> future</label>
    </div>
</div>
<div class="sections section1">
    <div class="container">
    	<div class="sec-list row">
	    	<div class="sec-item col-md-8 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">your monthly</span> expenses</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-8 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">your </span>EMI</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-8 col-xs-12 col-md-offset-0 col-xs-offset-6">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">expected </span>medical expenses</label>
				</div>
	    	</div>
	    </div>
    </div>
</div>
<div class="sections section3">
	<div class="container row">
		<div class="result-wrap">
			<label class="result-text"><span class="bold">you need a </span>sum assured for</label>
			<span class="bold result-amount"><span class="inr">rs</span> 1 crore</span>
		</div>
	</div>
</div>
<div class="col-md-24">
    <div class="action-wrapper">
        <button type="button" class="btn btn-orange ">
            <span class="bold">move to </span> next need 
        </button>
        <button type="button" class="btn btn-orange ">
            <span class="bold">view </span> summary
        </button>         
    </div>
</div>


