<div class="container">
    <div class="section-head">
        <label><span class="bold">growth </span> planning</label>
    </div>
</div>
<div class="sections section1">
    <div class="container">
    	<div class="sec-list row">
	    	<div class="sec-item col-md-12 col-xs-24">
	    		<div class="radioBox-listing">
					<ul class="row">
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" id="radioBox_id5" name="radioBox" value="value" checked="checked">
								<label for="radioBox_id5">
									<span class="bg">
										<span class="icon house"></span>
									</span>
									<span class="text">house</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" id="radioBox_id6" name="radioBox" value="value" >
								<label for="radioBox_id6">
									<span class="bg">
										<span class="icon vacation"></span>
									</span>
									<span class="text">vacation</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" id="radioBox_id7" name="radioBox" value="value" >
								<label for="radioBox_id7">
									<span class="bg">
										<span class="icon car"></span>
									</span>
									<span class="text">car</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" id="radioBox_id8" name="radioBox" value="value" >
								<label for="radioBox_id8">
									<span class="bg">
										<span class="icon wedding"></span>
									</span>
									<span class="text">child’s <span class="line-break">wedding</span></span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" id="radioBox_id9" name="radioBox" value="value" >
								<label for="radioBox_id9">
									<span class="bg">
										<span class="icon other2"></span>
									</span>
									<span class="text">others</span>
								</label>
							</div>
						</li>
					</ul>
					<label class="field-desc row"><span class="bold">what are you </span> saving for</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div id="sleek" class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">what is your </span>child’s age</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div id="sleek" class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">what is your </span>child’s age</label>
				</div>
	    	</div>
	    </div>
    </div>
</div>
<div class="sections section2 panel-close">
    <div class="container row">
    	<div class="col-md-24">
    		<label class="mod-title">
    			<span class="bold">few </span>
    			<span>assumptions</span>
    		</label>
    	</div>
    	<div class="sec-list col-xs-24">
	    	<div class="sec-item col-md-8 col-xs-12 col-xs-offset-6 col-md-offset-8">
	    		<div class="slide-result-wrap">
					<div id="sleek-value" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag"><span class="bold line-break">rate of </span> inflation (in %)</label>
				</div>
	    	</div>
	    </div>
    </div>
</div>
<div class="sections section3">
	<div class="container row">
		<a class="act-btn panel-js-toggle" href="#">assumptions
				<span class="icon icon-plus"></span>
		    </a>
		<div class="result-wrap">
			<label class="result-text"><span class="bold">expected  </span>future cost of education</label>
			<span class="bold result-amount"><span class="inr">rs</span> 1 crore</span>
		</div>
	</div>
</div>
<div class="col-md-24">
    <div class="action-wrapper">
        <button type="button" class="btn btn-orange ">
            <span class="bold">move to </span> next need
        </button>
        <button type="button" class="btn btn-orange ">
            <span class="bold">view </span> summary
        </button>         
    </div>
</div>


