<div class="container">
    <div class="section-head">
        <label><span class="bold">secured</span> future</label>
    </div>
</div>
<div class="sections section1">
    <div class="container">
    	<div class="sec-list row">
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">30</span></span>
						<span class="value-text">years</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">what is your </span> age</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">20</span></span>
						<span class="value-text">thousand (<span class="inr">rs</span>)</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">your </span>monthly expenses</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">0</span></span>
						<span class="value-text">(<span class="inr">rs</span>)</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">your </span>outstanding loans</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-12">
	    		<div class="slide-result-wrap">
					<div class="value-wrap">
						<span class="value-count"><span class="value">10</span></span>
						<span class="value-text">lakh (<span class="inr">rs</span>)</span>
					</div>
					<div class="sleek-slider">
						<div class="slider1 slider blue-slider"></div>
					</div>
					<label class="text"><span class="bold">your </span>savings &amp; investments</label>
				</div>
	    	</div>
    	</div>
    </div>
</div>
<div class="sections section2 panel-close">
    <div class="container row">
    	<div class="col-md-24">
    		<label class="mod-title">
    			<span class="bold">few </span>
    			<span>assumptions</span>
    		</label>
    	</div>
    	<div class="sec-list row">
	    	<div class="sec-item col-md-8 col-xs-12 col-md-offset-4 col-xs-offset-0">
	    		<div class="slide-result-wrap">
					<div id="sleek-value" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag"><span class="bold line-break">years you want to</span>provide your family for</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-8 col-xs-12">
	    		<div class="slide-result-wrap">
					<div id="sleek-value" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag"><span class="bold">rate of </span>inflation (in %)</label>
				</div>
	    	</div>
	    </div>
    </div>
</div>
<div class="sections section3">
	<div class="container row">
		<a class="act-btn panel-js-toggle" href="#">assumptions<span class="icon icon-plus"></span></a>
		<div class="result-wrap">
			<label class="result-text"><span class="bold">you need a  </span>sum assured of</label>
			<span class="bold result-amount"><span class="inr">rs</span> 1 crore</span>
		</div>
	</div>
</div>
<div class="col-md-24">
    <div class="action-wrapper">
        <button type="button" class="btn btn-orange ">
            <span class="bold">skip </span> this need
        </button>
        <button type="button" class="btn btn-orange ">
            <span class="bold">view </span> summary
        </button>         
    </div>
</div>

