<div class="user-initial-form">
	<div class="container">
		<div class="form-wrap">
			<ul class="form-list row">
				<li class="form-item col-sm-8 col-xs-24">
					<div class="form-item">
                        <div class="date-select">
							<label class="field-title"><span class="bold">tell us</span> your age</label>
							<div class="age-cal">
						        <div id="slider-handles" class="slider valueSlider age-calc-slider"></div>
						        <div class="date-show"></div>
						        <div class="ageWidget-cont"></div>
						    </div>
						</div>
                    </div>
				</li>
				<li class="form-item col-sm-8 col-xs-12">
					<label class="field-title"><span class="bold">who are</span> you</label>
					<div class="radiobox-wrap male">
						<input type="radio" checked="checked" value="option" name="gender" id="option1">
						<label for="option1">male</label>
					</div>
					<div class="radiobox-wrap female">
						<input type="radio" value="option" name="gender" id="option2">
						<label for="option2">female</label>
					</div>
				</li>
				<li class="form-item tobacco col-sm-8 col-xs-12">
					<label class="field-title"><span class="bold">do you </span> consume tobacco</label>
					<div class="radiobox-wrap yes">
						<input type="radio" value="option2" name="tobacco" id="option3">
						<label for="option3">yes</label>
					</div>
					<div class="radiobox-wrap no">
						<input type="radio" checked="checked" value="option2" name="tobacco" id="option4">
						<label for="option4">no</label>
					</div>
				</li>
			</ul>
			<label class="field-title"><span class="bold">tell us</span> about your family</label>
			<ul class="form-list row">
				<li class="form-item col-sm-8 col-xs-24">
					<div class="form-item">
						<div class="radiobox-wrap yes-no yes-btn">
							<input type="radio" id="spouse1" name="spouse" value="option" checked>
							<label for="spouse1">spouse1</label>
						</div>
                        <span class="spouse-icon">
                        	<span class="icon spouse"></span>
                        	<span class="info-text">spouse</span>
                        </span>
                        <div class="radiobox-wrap yes-no no-btn">
							<input type="radio" id="spouse2" name="spouse" value="option">
							<label for="spouse2">spouse2</label>
						</div>
                    </div>
				</li>
				<li class="form-item col-sm-8 col-xs-12">
					<div class="form-item">
                        <div class="plus-minus" data-plus-limit="10" data-minus-limit="0">
                        	<a class="left-btn plusMinus-btn" href="#"></a>
                        	<div class="show-value-wrap">
                            	<span class="value">1</span>
								<label class="field-text">child</label>
							</div>
                        	<a class="right-btn plusMinus-btn" href="#"></a>
                        </div>
                    </div>
				</li>
				<li class="form-item col-sm-8 col-xs-12">
					<div class="form-item">
						<div class="plus-minus" data-plus-limit="8" data-minus-limit="0">
                        	<a class="left-btn plusMinus-btn" href="#"></a>
                        	<div class="show-value-wrap">
                            	<span class="value">1</span>
								<label class="field-text">parent</label>
							</div>
                        	<a class="right-btn plusMinus-btn" href="#"></a>
                        	<span class="field-info">(you can consider, grand parents, in laws etc.)</span>
                        </div>
                    </div>
				</li>
			</ul>
		</div>
	</div>
</div>