<div class="container one-col-layout">
    <div class="summary-listing-wrap">
    	<ul>
    		<li class="list-item row">
    			<div class="lhs-box col-md-6 col-xs-24">
    				<h3 class="mod-title">
    					<span class="bold">secured</span>
    					<span>future</span>
    				</h3>
    				<span class="sub-title">
    					<span class="bold">sum assured</span>
    					<span> needed</span>
    				</span>
    				<label class="value-wrap">
    					<span class="inr">rs</span>
    					<span>100,00,000</span>
    				</label>
    				<div class="related-link-wrap">
    					<a class="link click-info" href="#">view parameters</a>
    					<a class="link" href="#">edit parameters</a>
    					<div class="viewinfo-content hidden">
	    					<div class="view-info">
	    						<dl>
									<dt>your age</dt>
									<dd>30 years</dd>
									<dt>monthly expenses</dt>
									<dd>20 Lakh</dd>
									<dt>pending loans</dt>
									<dd>0</dd>
									<dt>savings & investments</dt>
									<dd>10 Lakh</dd>
									<dt>provision for family upto</dt>
									<dd>30 years</dd>
									<dt>inflation rate</dt>
									<dd>6%</dd>
	    						</dl>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<div class="rhs-box col-md-18 col-xs-24">
    				<div class="product-wrap">
    					<div class="owl-carousel product-list equalizer-height row">
							<div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item blue">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item blue">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item blue">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-desc">
					                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem</p>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
    					</div>
    				</div>
    			</div>
    		</li>
    		<li class="list-item row">
    			<div class="lhs-box col-md-6 col-xs-24">
    				<h3 class="mod-title">
    					<span class="bold">secured</span>
    					<span>future</span>
    				</h3>
    				<span class="sub-title">
    					<span class="bold">sum assured</span>
    					<span> needed</span>
    				</span>
    				<label class="value-wrap">
    					<span class="inr">rs</span>
    					<span>100,00,000</span>
    				</label>
    				<div class="related-link-wrap">
    					<a class="link click-info" href="#">view parameters</a>
    					<a class="link" href="#">edit parameters</a>
    					<div class="viewinfo-content hidden">
	    					<div class="view-info">
	    						<dl>
									<dt>your age</dt>
									<dd>30 years</dd>
									<dt>monthly expenses</dt>
									<dd>20 Lakh</dd>
									<dt>pending loans</dt>
									<dd>0</dd>
									<dt>savings & investments</dt>
									<dd>10 Lakh</dd>
									<dt>provision for family upto</dt>
									<dd>30 years</dd>
									<dt>inflation rate</dt>
									<dd>6%</dd>
	    						</dl>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<div class="rhs-box col-md-18 col-xs-24">
    				<div class="product-wrap">
    					<div class="owl-carousel product-list equalizer-height row">
							<div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item blue">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span></h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
    					</div>
    				</div>
    			</div>
    		</li>
    		<li class="list-item row">
    			<div class="lhs-box col-md-6 col-xs-24">
    				<h3 class="mod-title">
    					<span class="bold">secured</span>
    					<span>future</span>
    				</h3>
    				<span class="sub-title">
    					<span class="bold">sum assured</span>
    					<span> needed</span>
    				</span>
    				<label class="value-wrap">
    					<span class="inr">rs</span>
    					<span>100,00,000</span>
    				</label>
    				<div class="related-link-wrap">
    					<a class="link click-info" href="#">view parameters</a>
    					<a class="link" href="#">edit parameters</a>
    					<div class="viewinfo-content hidden">
	    					<div class="view-info">
	    						<dl>
									<dt>your age</dt>
									<dd>30 years</dd>
									<dt>monthly expenses</dt>
									<dd>20 Lakh</dd>
									<dt>pending loans</dt>
									<dd>0</dd>
									<dt>savings & investments</dt>
									<dd>10 Lakh</dd>
									<dt>provision for family upto</dt>
									<dd>30 years</dd>
									<dt>inflation rate</dt>
									<dd>6%</dd>
	    						</dl>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<div class="rhs-box col-md-18 col-xs-24">
    				<div class="product-wrap">
    					<div class="owl-carousel product-list equalizer-height row">
							<div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item blue">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span></h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
					        <div class="product-item-wrap col-md-24 col-xs-22 col-xs-offset-1 col-sm-offset-0">
					            <div class="product-item equalizer-item orange">
					                <div class="product-head-wrap">
					                    <h3 class="mod-title">
					                    	<span class="caption">edelweiss tokio life</span>
					                    	<span class="bold">dhan nivesh plan</span>
					                    </h3>
					                </div>
					                <div class="product-act-btn">
					                   <a class="act-btn-next act-btn" href="#">&nbsp;</a>
					                   <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
					                </div>
					            </div>
					        </div>
    					</div>
    				</div>
    			</div>
    		</li>
    	</ul>
    	<div class="col-md-24">
            <div class="action-wrapper">
                <button class="btn btn-orange " type="button">
                    <span class="bold">email </span> summary
                </button>
                <button class="btn btn-orange " type="button">
                    <span class="bold">save </span> summary
                </button>         
            </div>
        </div>
    </div>
</div>
