<div class="container">
    <div class="section-head">
        <label><span class="bold">category </span></label>
    </div>
</div>
<div class="container two-col-layout">
    <div class="col-sm-17 lhs">
        <ol class="accordion faq-listing panel-group"  id="accordion">
            <li class="panel active">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="mod-title accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse1" class="accordion-cont panel-collapse collapse in">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
            <li class="panel">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="mod-title accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse2" class="accordion-cont panel-collapse collapse">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
            <li class="panel">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="mod-title accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse3" class="accordion-cont panel-collapse collapse">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
            <li class="panel">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="mod-title  accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse4" class="accordion-cont panel-collapse collapse">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
            <li class="panel">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="mod-title accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse5" class="accordion-cont panel-collapse collapse">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
            <li class="panel">
                <h3  data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="mod-title accordion-head"><a class="bold" href="#">lorem ipsum dolor set question mark?</a></h3>
                <div id="collapse6" class="accordion-cont panel-collapse collapse">
                    <p>Your role and duties would be in accordance with the Act, Articles of Association of the Company and other applicable laws. Apart from attending the meetings of the Board and the Committees of which you are a Member, you are requested to devote such time, as appropriate for you to discharge your duties effectively.</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="col-sm-7 rhs">
       <div class="sidebar-panel">
        <div class="subscribe-wrap">
            <h4 class="mod-title">
                   Did not find what you are looking for?
                </h4>
            <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
            <textarea rows="5"></textarea>
            <button type="button" class="btn btn-orange btn-xs">
                <span class="bold">submit </span>now
            </button>
        </div>
        </div>
    </div>
</div>
