
	<div class="intelligence-msg">
		<div class="mascot">
            <img alt="mascot" src="images/home_section1_slide1_infography.png">
        </div>
        <div class="intelligenceMsg-cont">
        	<div class="form-item">
                <!-- <label class="field-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit,</label> -->
                <p class="msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                <div class="col-md-18">
	                <div class="form-field input-group">
	                    <input type="text" name="ID" placeholder="Enter Transaction Id">
	                </div>
                </div>
            </div>
			<div class="action-wrapper pull-left">
		        <button type="button" class="btn btn-orange btn-xs">
		            <span class="bold">continue </span>now
		        </button>        
		    </div>
        </div>
	</div>