
	<div class="intelligence-msg">
		<div class="mascot">
            <img alt="mascot" src="images/home_section1_slide1_infography.png">
        </div>
        <div class="intelligenceMsg-cont">
        	<div class="checkbox-wrap">
				<input type="checkbox" value="option" name="field" id="option">
				<label for="option"><span>I understand the importance of <span class="orange-text">benefit illustration.</span></span><span>I accept &amp; agree and have <span class="orange-text">downloaded</span> it.</span></label>
			</div>
			<div class="action-wrapper">
		        <button type="button" class="btn btn-orange ">
		            <span class="bold">continue </span>now
		        </button>        
		    </div>
        </div>
	</div>