<div class="public-download circular-carousel-wrap">
    <div class="title-year circular-carousel-tab">
        <ul>
            <li class="nav-link-list">
                <a class="nav-link-cont" href="#">2013</a>
            </li>
            <li class="nav-link-list">
                <a class="nav-link-cont" href="#">2014</a>
            </li>
            <li class="nav-link-list center">
                <a class="nav-link-cont" href="#">2015</a>
            </li>
            <li class="nav-link-list">
                <a class="nav-link-cont" href="#">2016</a>
            </li>
            <li class="nav-link-list">
                <a class="nav-link-cont" href="#">2017</a>
            </li>
        </ul>
    </div>
    <div class="navigator">
        <a class="btn-prev" href="#">prev </a>
        <a class="btn-next" href="#">next</a>
    </div>
    <div class="active-tab">
        <a href="#">2015</a>
    </div>
    <div class="payment-wrapper download-wrapper nav-cont circular-carousel-cont">
        <ul>
            <li class="download-listing nav-cont-list">
                <ul>
                    <li class="download-item">
                        <span class="download-icon"></span>
                        <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 1 </span>
                               <span class="sub-head">Jan - Mar</span>
                               </a>
                            </h3>
                    </li>
                    <li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 2 </span>
                               <span class="sub-head">Apr - Jun</span>
                               </a>
                            </h3>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 3 </span>
                               <span class="sub-head">Jul - Sep</span>
                               </a>
                            </h3>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 4 </span>
                               <span class="sub-head">Oct - Dec</span>
                               </a>
                            </h3>
                        </li>
                </ul>
                </li>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 1 </span>
                               <span class="sub-head">Jan - Mar</span>
                               </a>
                            </h3>
                        </li>
                        <li>
                            <li class="download-item">
                                <span class="download-icon"></span>
                                <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 2 </span>
                               <span class="sub-head">Apr - Jun</span>
                               </a>
                            </h3>
                            </li>
                            <li class="download-item">
                                <span class="download-icon"></span>
                                <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 3 </span>
                               <span class="sub-head">Jul - Sep</span>
                               </a>
                            </h3>
                            </li>
                            <li class="download-item">
                                <span class="download-icon"></span>
                                <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 4 </span>
                               <span class="sub-head">Oct - Dec</span>
                               </a>
                            </h3>
                            </li>
                    </ul>
                    </li>
                    <li class="download-listing nav-cont-list">
                        <ul>
                            <li class="download-item">
                                <span class="download-icon"></span>
                                <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 1 </span>
                               <span class="sub-head">Jan - Mar</span>
                               </a>
                            </h3>
                            </li>
                            <li>
                                <li class="download-item">
                                    <span class="download-icon"></span>
                                    <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 2 </span>
                               <span class="sub-head">Apr - Jun</span>
                               </a>
                            </h3>
                                </li>
                                <li class="download-item">
                                    <span class="download-icon"></span>
                                    <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 3 </span>
                               <span class="sub-head">Jul - Sep</span>
                               </a>
                            </h3>
                                </li>
                                <li class="download-item">
                                    <span class="download-icon"></span>
                                    <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 4 </span>
                               <span class="sub-head">Oct - Dec</span>
                               </a>
                            </h3>
                                </li>
                        </ul>
                        </li>
                        <li class="download-listing nav-cont-list">
                            <ul>
                                <li class="download-item">
                                    <span class="download-icon"></span>
                                    <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 1 </span>
                               <span class="sub-head">Jan - Mar</span>
                               </a>
                            </h3>
                                </li>
                                <li>
                                    <li class="download-item">
                                        <span class="download-icon"></span>
                                        <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 2 </span>
                               <span class="sub-head">Apr - Jun</span>
                               </a>
                            </h3>
                                    </li>
                                    <li class="download-item">
                                        <span class="download-icon"></span>
                                        <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 3 </span>
                               <span class="sub-head">Jul - Sep</span>
                               </a>
                            </h3>
                                    </li>
                                    <li class="download-item">
                                        <span class="download-icon"></span>
                                        <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 4 </span>
                               <span class="sub-head">Oct - Dec</span>
                               </a>
                            </h3>
                                    </li>
                            </ul>
                            </li>
                            <li class="download-listing nav-cont-list">
                                <ul>
                                    <li class="download-item">
                                        <span class="download-icon"></span>
                                        <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 1 </span>
                               <span class="sub-head">Jan - Mar</span>
                               </a>
                            </h3>
                                    </li>
                                    <li>
                                        <li class="download-item">
                                            <span class="download-icon"></span>
                                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 2 </span>
                               <span class="sub-head">Apr - Jun</span>
                               </a>
                            </h3>
                                        </li>
                                        <li class="download-item">
                                            <span class="download-icon"></span>
                                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 3 </span>
                               <span class="sub-head">Jul - Sep</span>
                               </a>
                            </h3>
                                        </li>
                                        <li class="download-item">
                                            <span class="download-icon"></span>
                                            <h3 class="download-head">
                               <a class="download-title" href="#">
                               <span> Quarter - 4 </span>
                               <span class="sub-head">Oct - Dec</span>
                               </a>
                            </h3>
                                        </li>
                                </ul>
                                </li>
        </ul>
    </div>
</div>
