<div class="container">
	<div class="section-head">
        <label><span class="bold">in the</span> news</label>
    </div>
	<div class="tab-with-line tabs">
		<div class="tab-link-wrap desktop-cont">
			<ul class="nav-tab-link">
				<li class="tab-title tab-link active">
					<a href="#"><span class="bold">most </span><span> recent</span></a>
				</li>
				<li class="tab-title tab-link">
					<a href="#"><span class="bold">most </span><span> popular</span></a>
				</li>
			</ul>
		</div>
		<div class="tab-content-wrap">
			<div class="tab-content">
				<div class="in-the-news-wrap layt-buzz">
					<div class="row">
						<div class="col-md-8 layt-buzz-item">
							<div class="news-thumb-listing">
								<ul>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/newsitem.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                    </div>
						                </div>
									</li>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/press-release-1.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                        <span class="video-overlay"></span>
						                    </div>
						                </div>
									</li>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/buzz-news1.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                    </div>
						                </div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-16 layt-buzz-item">
							<ul>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="in-the-news-wrap layt-buzz">
					<div class="row">
						<div class="col-md-8 layt-buzz-item">
							<div class="news-thumb-listing">
								<ul>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/newsitem.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                    </div>
						                </div>
									</li>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/press-release-1.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                        <span class="video-overlay"></span>
						                    </div>
						                </div>
									</li>
									<li class="news-thumb-item">
										<div class="news-item with-overlay">
						                    <div class="news-head">
						                        <a href="#">
						                            <span class="mod-title">
						                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
						                           </span>
						                        </a>
						                        <div class="news-media">
						                            <img alt="test" src="images/buzz-news1.jpg">
						                        </div>
						                        <label class="timestamp">12 JAN. 2015</label>
						                    </div>
						                </div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-16 layt-buzz-item">
							<ul>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
								<li class="v-divider">
									<div class="news-item">
					                    <div class="news-head">
					                        <a href="#">
					                            <span class="mod-title">
					                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
					                           </span>
					                        </a>
					                        <label class="timestamp">12 JAN. 2015</label>
					                    </div>
					                    <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
					                </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>