<div class="container-fluid">
    <div class="container">
        <div class="section-head">
            <label><span class="bold">social </span> connect</label>
        </div>
    </div>
    <div class="social-highlight">
        <div class="container">
            <div class="highlight-title">
                <span class="social-icon"></span>
                <h3 class="title">
					<span class="bold">Saina Nehwal - </span>Our Brand Ambassador
				</h3>
            </div>
            <div class="thumb-with-desc">
                <ul>
                    <li class="thumb-wrap col-sm-8">
                        <img src="images/img2.jpg" alt="test">
                    </li>
                    <li class="desc-wrap col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="last">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="social-comment">24 minutes ago</a>
                    </li>
                    <li class="desc-wrap col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="last">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="social-comment">24 minutes ago</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="social-tab tabs">
        <div class="social-link tab-link-wrap">
            <ul class="nav-tab-link">
                <li class="social-link-item tab-link active">
                    <a class="soc-icon all" href="#">ALL</a>
                </li>
                <li class="social-link-item tab-link">
                    <a class="soc-icon icon-fb" href="#"></a>
                </li>
                <li class="social-link-item tab-link">
                    <a class="soc-icon icon-tw" href="#"></a>
                </li>
                <li class="social-link-item tab-link">
                    <a class="soc-icon icon-in" href="#"></a>
                </li>
                <li class="social-link-item tab-link">
                    <a class="soc-icon icon-youtube" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="tab-content-wrap">
            <div class="tab-content">
                <div class="social-connect">
                    <div class="masonry-list social-connect-listing layt-buzz">
                        <ul class="row">
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/newsbig.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-3.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="social-connect">
                    <div class="social-connect-listing layt-buzz">
                        <ul class="row">
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/newsbig.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-3.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="social-connect">
                    <div class="social-connect-listing layt-buzz">
                        <ul class="row">
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/newsbig.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-3.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="social-connect">
                    <div class="social-connect-listing layt-buzz">
                        <ul class="row">
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/newsbig.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-3.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="social-connect">
                    <div class="social-connect-listing layt-buzz">
                        <ul class="row">
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/newsbig.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-3.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-tw">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-2.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-fb">
                                    <a href="#" class="news-media">
                                        <img src="images/social-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-youtube">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </li>
                            <li class="social-connect-item col-sm-8 layt-buzz-item">
                                <div class="news-item social social-in">
                                    <a href="#" class="text">A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss
                                    </a>
                                    <a class="social-bar" href="#">
                                        <span>
                                            <span class="social-icon"></span>
                                            <span class="text">Added 20 minutes back</span>
                                        </span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
