<div class="sidebar-panel">
	<div class="news-wrap">
        <h3 class="mod-title">
           <span class="bold">related </span>news
        </h3>
        <ul class="news-listing">
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
        </ul>
    </div>
    <div class="article-wrap">
        <h3 class="mod-title">
           <span class="bold">archived </span>articles
        </h3>
        <ul class="accordion article-list panel-group" id="accordion">
            <li class="panel">
                    <h4 class="mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#aa">2016</h4>
                    <div id="aa" class="yearMonth-cont accordion-cont panel-collapse collapse in">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#bb">2015</h4>
                    <div id="bb" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#cc">2014</h4>
                    <div id="cc" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#dd">2013</h4>
                    <div id="dd" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#ee">2012</h4>
                    <div id="ee" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
        </ul>   
    </div>
</div>