<div class="sections section2">
    <div class="container">
    	<div class="sec-list row">
	    	<div class="sec-item number-radioBox col-md-6 col-xs-24">
	    		<label class="mod-title">
	    			<span class="bold line-break">select your</span>
	    			<span>policy term</span>
	    		</label>
	    		<div class="radioBox-listing small-radioBox">
					<ul>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" checked="checked" value="value" name="policyTerm" id="radioBox_id">
								<label for="radioBox_id">
									<span class="bg">
										10
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id1">
								<label for="radioBox_id1">
									<span class="bg">
										15
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id2">
								<label for="radioBox_id2">
									<span class="bg">
										20
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id3">
								<label for="radioBox_id3">
									<span class="bg">
										25
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id4">
								<label for="radioBox_id4">
									<span class="bg">
										30
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<label class="meta-tag">years</label>
	    	</div>
	    	<div class="sec-item number-radioBox col-md-6 col-xs-24">
	    		<label class="mod-title">
	    			<span class="bold line-break">frequency</span>
	    			<span>of payment</span>
	    		</label>
	    		<div class="radioBox-listing small-radioBox">
					<ul>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" checked="checked" value="value" name="payFreq" id="radioBox_id5">
								<label for="radioBox_id5">
									<span class="bg">
										12
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payFreq" id="radioBox_id6">
								<label for="radioBox_id6">
									<span class="bg">
										6
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payFreq" id="radioBox_id7">
								<label for="radioBox_id7">
									<span class="bg">
										3
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<label class="meta-tag">once in 12 months</label>
	    	</div>
	    	<div class="sec-item number-radioBox col-md-6 col-xs-24">
	    		<label class="mod-title">
	    			<span class="bold line-break">premium payment</span>
	    			<span>term</span>
	    		</label>
	    		<div class="radioBox-listing small-radioBox">
					<ul>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" checked="checked" value="value" name="payTerm" id="radioBox_id8">
								<label for="radioBox_id8">
									<span class="bg">
										5
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payTerm" id="radioBox_id9">
								<label for="radioBox_id9">
									<span class="bg">
										7
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payTerm" id="radioBox_id10">
								<label for="radioBox_id10">
									<span class="bg">
										10
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payTerm" id="radioBox_id11">
								<label for="radioBox_id11">
									<span class="bg">
										12
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<label class="meta-tag">years</label>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-24">
	    		<label class="mod-title">
	    			<span class="bold line-break">your annual</span>
	    			<span>premium is</span>
	    		</label>
	    		<div class="slide-result-wrap">
					<div id="sleek-value" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag">thousand ()</label>
				</div>
	    	</div>
	    </div>
	    <a class="act-btn panel-js-toggle" href="#">details
			<span class="icon icon-plus"></span>
	    </a>
    </div>
</div>
<div class="sections section3">
	<div class="row">
		<div class="col-sm-12 col-sm-offset-6 col-xs-24">
			<div class="row">
				<div class="col-md-12 col-xs-11 col-xs-offset-1 col-md-offset-0">
					<div class="result-wrap right-border">
						<label class="result-text"><span class="bold">sum  </span> assured</label>
						<span class="bold result-amount"><span class="inr">rs</span> 5,75,000</span>
					</div>
				</div>
				<div class="col-md-12 col-xs-11">
					<div class="result-wrap">
						<label class="result-text"><span class="bold">benefit on  </span> maturity</label>
						<span class="bold result-amount"><span class="inr">rs</span> 5,750</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-24">
	<div class="col-sm-12 col-sm-offset-6 col-xs-20 col-xs-offset-2">
		<div class="user-personal-info">
			<label class="mod-title">
    			<span class="bold">You are almost done,</span>
    			<span>please provide us with following details.</span>
    		</label>
    		<div class="form-wrap">
    			<div class="form-list">
    				<div class="form-item col-md-11 col-xs-24">
		                <input type="text" name="description" placeholder="enter your email address">
    				</div>
    				<div class="form-item col-md-11 col-xs-24 col-md-offset-1">
		                <input type="text" name="description" placeholder="enter your mobile number">
    				</div>
    			</div>
    		</div>
		    <div class="action-wrapper">
		        <button type="button" class="btn btn-orange ">
		            <span class="bold">proceed </span>
		        </button>        
		    </div>
		    <p><em>By submitting my contact details I authorize EDELWEISS TOKIO Life Insuranceto Call or SMS me with reference to this enquiry. The authorization/ approval given by me will permit the company to call me even if I am registered in the do not call list of TRAI.</em></p>
		 </div>
	</div>
</div>