<div class="sections section2">
    <div class="container">
        <div class="mod-title-wrap row">
            <div class="col-md-15 col-xs-24">
                <label class="mod-title">
                    <span class="bold">are you an employee of </span>
                    <span>edelweiss group or tokio marine group</span>
                </label>
            </div>
            <div class="col-md-9 col-xs-24">
                <div class="col-xs-6 col-md-5 col-xs-offset-6 col-md-offset-0">
                    <div class="radiobox-wrap">
                        <input type="radio" id="yes" value="yes" name="card type">
                        <label for="yes" class="field-title">yes</label>
                    </div>
                </div>
                <div class="col-xs-6 col-md-5">
                    <div class="radiobox-wrap">
                        <input type="radio" id="no" value="no" name="card type">
                        <label for="no" class="field-title">no</label>
                    </div>
                </div>
                <div class="col-md-14 col-xs-10 col-xs-offset-7 col-md-offset-0">
                    <input type="text" placeholder="enter employee code" name="description">
                </div>
            </div>
        </div>
        <div class="sec-list row">
            <div class="sec-item number-radioBox col-md-6 col-md-offset-3 col-xs-24">
                <label class="mod-title">
                    <span class="bold line-break">select your</span>
                    <span>policy term</span>
                </label>
                <div class="radioBox-listing small-radioBox">
                    <ul>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" checked="checked" value="value" name="policyTerm" id="radioBox_id">
                                <label for="radioBox_id">
                                    <span class="bg">
										10
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="policyTerm" id="radioBox_id1">
                                <label for="radioBox_id1">
                                    <span class="bg">
										15
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="policyTerm" id="radioBox_id2">
                                <label for="radioBox_id2">
                                    <span class="bg">
										20
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="policyTerm" id="radioBox_id3">
                                <label for="radioBox_id3">
                                    <span class="bg">
										25
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="policyTerm" id="radioBox_id4">
                                <label for="radioBox_id4">
                                    <span class="bg">
										30
									</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <label class="meta-tag">years</label>
            </div>
            <div class="sec-item number-radioBox col-md-6 col-xs-24">
                <label class="mod-title">
                    <span class="bold line-break">frequency</span>
                    <span>of payment</span>
                </label>
                <div class="radioBox-listing small-radioBox">
                    <ul>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" checked="checked" value="value" name="payFreq" id="radioBox_id5">
                                <label for="radioBox_id5">
                                    <span class="bg">
										12
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="payFreq" id="radioBox_id6">
                                <label for="radioBox_id6">
                                    <span class="bg">
										6
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="payFreq" id="radioBox_id7">
                                <label for="radioBox_id7">
                                    <span class="bg">
										3
									</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <label class="meta-tag">once in 12 months</label>
            </div>
            <div class="sec-item number-radioBox col-md-6 col-xs-24">
                <label class="mod-title">
                    <span class="bold line-break">premium payment</span>
                    <span>term</span>
                </label>
                <div class="radioBox-listing small-radioBox">
                    <ul>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" checked="checked" value="value" name="payTerm" id="radioBox_id8">
                                <label for="radioBox_id8">
                                    <span class="bg">
										5
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="payTerm" id="radioBox_id9">
                                <label for="radioBox_id9">
                                    <span class="bg">
										7
									</span>
                                </label>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="radioBox-wrap">
                                <input type="radio" value="value" name="payTerm" id="radioBox_id10">
                                <label for="radioBox_id10">
                                    <span class="bg">
										10
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="payTerm" id="radioBox_id11">
								<label for="radioBox_id11">
									<span class="bg">
										12
									</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <label class="meta-tag">years</label>
            </div>
        </div>
        <div class="sec-list row">
            <div class="sec-item last col-md-6 col-md-offset-6 col-xs-24">
                <label class="mod-title">
                    <span class="bold line-break">your recommended</span>
                    <span>sum assured amount is</span>
                </label>
                <div class="slide-result-wrap">
                    <div id="sleek-value" class="slider valueSlider demo-js-slider"></div>
                    <label class="meta-tag">thousand ()</label>
                </div>
            </div>
            <div class="sec-item last col-md-6 col-xs-24">
                <label class="mod-title">
                    <span class="bold line-break">your annual</span>
                    <span>premium is</span>
                </label>
                <div class="slide-result-wrap">
                    <div id="sleek-value1" class="slider valueSlider demo-js-slider"></div>
                    <label class="meta-tag">thousand ()</label>
                </div>
            </div>
        </div>
        <a class="act-btn  panel-js-toggle" href="#">details
			<span class="icon icon-plus"></span>
	    </a>
    </div>
</div>
<div class="sections section1 panel-close">
    <div class="container">
        <label class="mod-title">
            <span class="bold">Your fund </span>
            <span>allocation</span>
        </label>
        <p>Note: Your total fund allocation should be 100%comprehensive coverage</p>
        <div class="table-wrap col-md-24 col-sm-24 form-wrap">
            <table border="0" cellspacing="0" cellpadding="0">
                <col width="20%">
                <col width="25%">
                <col width="40%">
                <col width="20%">
                <tbody>
                    <tr>
                        <th>fund name</th>
                        <th>what is it?</th>
                        <th>who should invest in it?</th>
                        <th>fund allocation</th>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>Equity large Cap Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity = 60%-100%.</span>
                            <span>Debt &amp; Money market = 0-40%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>High risk investors whose objective is high equity exposure targeting higher returns in the long term.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>Equity Top 250 Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity = 60%-100%.</span>
                            <span>Debt &amp; Money market = 0-40%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>High risk investors whose objective is equity exposure targeting higher returns (through long term capital gains)</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>Bond Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity instruments = 0%.</span>
                            <span>Debt &amp; Money market = 100%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>Low to medium risk investors whose objective is to have relatively safe and less volatile investment option mainly through debt instruments and accumulation of income through investment in fixed income securities.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>Money Market Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity = 0%.</span>
                            <span>Debt &amp; Money market = 100%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>Low risk investors whose objective is to deploy the funds in liquid and safe instruments so as to avoid market risk on a temporary basis</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>PE based Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity = 0%-100%.</span>
                            <span>Debt &amp; Money market = 0-100%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>Medium to High risk investors whose objective is to make asset allocation between Equity and Debt / Money market instruments depending on the Nifty index PE ratio</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mobile-cont table-feild-title">fund name</label>
                            <span>Managed Fund</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">what is it?</label>
                            <span class="line-break">Equity = 0%-40%.</span>
                            <span>Debt &amp; Money market = 60%-100%.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">who should invest in it?</label>
                            <span>This fund uses the expertise of the company fund manager to decide on the asset allocation between Equity and Debt / Money market instruments along with stock selection. For Medium Risk Investors.</span>
                        </td>
                        <td>
                            <label class="mobile-cont table-feild-title">fund allocation</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                    <tr class="total-wrap">
                        <td></td>
                        <td></td>
                        <td class="bold desktop-cont">Total</td>
                        <td>
                            <label class="mobile-cont table-feild-title">Total</label>
                            <span class="form-item">
			    			<input type="text" name="description"/></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="action-wrapper">
                <button type="button" class="btn btn-orange btn-md"><span class="bold">next</span> step
                </button>
            </div>
        </div>
    </div>
</div>
<div class="sections section3">
    <div class="container">
        <a class="act-btn  panel-js-toggle" href="#">fund allocation
			<span class="icon icon-plus"></span>
	    </a>
    </div>
    <div class="result-wrap">
        <label class="result-text"><span class="bold">benefit </span> on <span class="info-amount info-amount-val">&#40;4%&#41;</span></label>
        <div class="tool-tip-wrap">
            <a href="#" class="edit-btn">edit</a>
            <span class="selectRate-content hidden">
				<span class="tool-tip-selectRate">
					<span class="mod-title">
						select the<span class="bold"> rate</span>
            </span>
            <a class="select-rate active" href="#">4%</a>
            <a class="select-rate" href="#">8%</a>
            </span>
            </span>
        </div>
        <span class="bold result-amount"><span class="inr">rs</span> 8,235</span>
    </div>
</div>
<div class="col-md-24">
    <div class="col-sm-12 col-sm-offset-6 col-xs-20 col-xs-offset-2">
        <div class="user-personal-info">
            <label class="mod-title">
                <span class="bold">You are almost done,</span>
                <span>please provide us with following details.</span>
            </label>
            <div class="form-wrap">
                <div class="form-list">
                    <div class="form-item col-md-11 col-xs-24">
                        <input type="text" name="description" placeholder="enter your email address">
                    </div>
                    <div class="form-item col-md-11 col-xs-24 col-md-offset-1">
                        <input type="text" name="description" placeholder="enter your mobile number">
                    </div>
                </div>
            </div>
            <div class="action-wrapper">
                <button type="button" class="btn btn-orange ">
                    <span class="bold">proceed </span>
                </button>
            </div>
            <p><em>By submitting my contact details I authorize EDELWEISS TOKIO Life Insuranceto Call or SMS me with reference to this enquiry. The authorization/ approval given by me will permit the company to call me even if I am registered in the do not call list of TRAI.</em></p>
        </div>
    </div>
</div>
