<div class="sections section2">
    <div class="container">
    	<a class="act-btn panel-js-toggle" href="#">details
			<span class="icon icon-plus"></span>
	    </a>
    	<div class="sec-list row">
	    	<div class="sec-item col-md-6 col-xs-24 col-md-offset-0">
	    		<label class="mod-title">
	    			<span class="bold line-break">tell us your</span>
	    			<span>annual income</span>
	    		</label>
	    		<div class="slide-result-wrap">
					<div id="sleek-value1" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag">thousand</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-12 col-xs-24">
	    		<label class="mod-title">
	    			<span class="bold line-break">term you need to be</span>
	    			<span>assured for</span>
	    		</label>
	    		<div class="radioBox-listing small-radioBox">
					<ul>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" checked="checked" value="value" name="policyTerm" id="radioBox_id">
								<label for="radioBox_id">
									<span class="bg">
										10
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id1">
								<label for="radioBox_id1">
									<span class="bg">
										15
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id2">
								<label for="radioBox_id2">
									<span class="bg">
										20
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id3">
								<label for="radioBox_id3">
									<span class="bg">
										25
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id4">
								<label for="radioBox_id4">
									<span class="bg">
										30
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id5">
								<label for="radioBox_id5">
									<span class="bg">
										35
									</span>
								</label>
							</div>
						</li>
						<li class="list-item">
							<div class="radioBox-wrap">
								<input type="radio" value="value" name="policyTerm" id="radioBox_id6">
								<label for="radioBox_id6">
									<span class="bg">
										40
									</span>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<label class="meta-tag">years</label>
				<span class="or">OR</span>
				<div class="checkbox-wrap">
					<input id="option" type="checkbox" name="field" value="option">
					<label for="option">
						<span class="bold">upto 80 years</span>
					</label>
				</div>
	    	</div>
	    	<div class="sec-item col-md-6 col-xs-24 col-xs-offset-0 col-md-offset-0">
	    		<label class="mod-title">
	    			<span class="bold line-break">your recommended</span>
	    			<span>sum assured amount is</span>
	    		</label>
	    		<div class="slide-result-wrap">
					<div id="sleek-value3" class="slider valueSlider demo-js-slider"></div>
					<label class="meta-tag">thousand</label>
				</div>
	    	</div>
	    </div>
    </div>
</div>
<div class="sections section3">
	<div class="result-wrap">
		<label class="result-text"><span class="bold">your </span> annual premium is</label>
		<span class="bold result-amount"><span class="inr">rs</span> 8,235</span>
	</div>
</div>
<div class="col-md-24">
	<div class="col-sm-12 col-sm-offset-6 col-xs-20 col-xs-offset-2">
		<div class="user-personal-info">
			<label class="mod-title">
    			<span class="bold">You are almost done,</span>
    			<span>please provide us with following details.</span>
    		</label>
    		<div class="form-wrap">
    			<div class="form-list">
    				<div class="form-item col-md-11 col-xs-24">
	                    <input type="text" name="description" placeholder="enter your email address">
    				</div>
    				<div class="form-item col-md-11 col-xs-24 col-md-offset-1">
	                    <input type="text" name="description" placeholder="enter your mobile number">
    				</div>
    			</div>
    		</div>
		    <div class="action-wrapper">
		        <button type="button" class="btn btn-orange ">
		            <span class="bold">proceed </span>
		        </button>        
		    </div>
		    <p><em>By submitting my contact details I authorize EDELWEISS TOKIO Life Insuranceto Call or SMS me with reference to this enquiry. The authorization/ approval given by me will permit the company to call me even if I am registered in the do not call list of TRAI.</em></p>
		 </div>
	</div>
</div>