<div class="sections section1 panel-close">
    <div class="container">
        <div class="sec-list row">
            <div class="sec-item col-md-8 col-xs-24">
                <label class="mod-title">
                    <span class="bold">who are </span>
                    <span>you</span>
                </label>
                <div class="radiobox-wrap male">
                    <input type="radio" id="option1" name="gender" value="option" checked="checked">
                    <label for="option1">male</label>
                </div>
                <div class="radiobox-wrap female">
                    <input type="radio" id="option2" name="gender" value="option">
                    <label for="option2">female</label>
                </div>
            </div>
            <div class="sec-item col-md-8 col-xs-24">
                <label class="mod-title">
                    <span class="bold">tell us </span>
                    <span>your age</span>
                </label>
                <div class="age-cal col-xs-20 col-xs-offset-2">
                    <div id="slider-handles" class="slider valueSlider age-calc-slider"></div>
                    <div class="date-show"></div>
                    <div class="ageWidget-cont"></div>
                    <!-- <span class="printVal"></span> -->
                </div>
            </div>
            <div class="sec-item col-md-8 col-xs-24">
                <label class="mod-title">
                    <span class="bold">do you </span>
                    <span>consume tabacco</span>
                </label>
                <div class="radiobox-wrap yes">
                    <input type="radio" id="option3" name="tobacco" value="option2">
                    <label for="option3">yes</label>
                </div>
                <div class="radiobox-wrap no">
                    <input type="radio" id="option4" name="tobacco" value="option2" checked="checked">
                    <label for="option4">no</label>
                </div>
            </div>
        </div>
    </div>
</div>
