<ul>
	<li class="col-sm-24">
		<div class="buzz-detail date-tag">
			<div class="buzz-cont">
				<div class="date-tag-wrap">
					<span class="date">12</span>
					<span class="month">NOV</span>
					<span class="year">2015</span>
					<span class="ribbon-cut"></span>
				</div>
				<div class="buzz-detail-head">
					<h3 class="mod-title">Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign</h3>
					<label class="meta-tag">Press Trust of India  |  Mumbai</label>
				</div>
				<div class="buzz-media">
					<img src="images/buzz-info-img.jpg" alt="buzz-media">
				</div>
				<div class="buzz-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa magna, tincidunt non pharetra nec, fermentum ac ex. Mauris ut odio ut sapien ultrices ullamcorper. Cras tempor, nibh ac fringilla porttitor, elit quam mollis mi, id molestie massa orci eget nisl. Fusce id ligula a nibh pretium molestie quis ac erat.</p>
					<a class="btn btn-sm" href="#">
	                    <span class="bold">read more</span>
	                </a>
				</div>
				<div class="share-comment-wrap">
					<div class="share">
						<button class="share-btn" type="button">
						</button>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
