
	<h3 class="mod-title desktop-cont"><span class="bold">switch</span>  online</h3>
	<p class="date-wrap">03 - November - 2015 | 05:00 IST</p>
	<p class="desc">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</p>
	<div class="section-cont-wrap">
		<h4 class="mod-sub-title">Edelweiss tokio life dhan nivesh bima yojna | 14480515</h4>
		<h6 class="table-title">current fund allocation</h6>
		<div class="table-wrap col-md-24 col-sm-24 form-wrap">
			<table class="table eTransaction-table1">
				<colgroup>
					<col style="width:40%">
					<col style="width:20%">
					<col style="width:10%">
					<col style="width:20%">
					<col style="width:10%">
				</colgroup>
			    <tbody>
			    	<tr>
			            <th>fund name</th>
			            <th>no. of units</th>
			            <th>nav</th>
			            <th>fund value</th>
			            <th></th>
			            <th class="mobile-cont table-field-title main">current fund allocation</th>
			        </tr>
			        <tr>
			            <td>
			            	<label class="table-field-title">fund name :</label>
			            	<span>money market fund</span>
			            </td>
			            <td>
			            	<label class="table-field-title">no. of units :</label>
			            	<span>1245.879</span>
			            </td>
			            <td>
			            	<label class="table-field-title">nav :</label>
			            	<span>15.74</span>
			            </td>
			            <td>
			            	<label class="table-field-title">fund value :</label>
			            	<span>198765.876</span>
			            </td>
			            <td data-toggle="collapse" data-target="#switch1" class="bold orange-text">switch</td>
			        </tr>
			        <tr>
			            <td colspan="6" class="hiddenRow">
			                <div id="switch1" class="collapse table-accordion-data">
			                	<div class="left-cont">
			                		<h6 class="sec-title">switch to</h6>
			                		<ul>
			                			<li>
			                				<span class="colOne">price earning based fund</span>
			                				<span class="colTwo">46%</span>
			                				<a href="#" class="edit colThree" data-target="#edit-addfund" data-toggle="modal">edit</a>
			                			</li>
			                			<li>
			                				<span class="colOne">equity large cap fund</span>
			                				<span class="colTwo">29</span>
			                				<a href="#" class="edit colThree" data-target="#edit-addfund" data-toggle="modal">edit</a>
			                			</li>
			                			<li>
			                				<div class="action-wrapper pull-left">
												<button type="button" class="btn btn-orange btn-md" data-target="#addfund" data-toggle="modal"><span class="bold">add funds</span>
								                </button>
								            </div>
			                			</li>
			                		</ul>
			                	</div>
			                	<div class="right-cont">
			                		<h6 class="sec-title">money market fund</h6>
			                		<span class="value orange-text big-text">23 <span>%</span></span>
			                		<span class="line-break">balance</span>
			                	</div>
			                </div>
			            </td>
			        </tr>
			        <tr>
			            <td>
			            	<label class="table-field-title">fund name :</label>
			            	<span>price earning based fund</span>
			            </td>
			            <td>
			            	<label class="table-field-title">no. of units :</label>
			            	<span>97.67654</span>
			            </td>
			            <td>
			            	<label class="table-field-title">nav :</label>
			            	<span>15.74</span>
			            </td>
			            <td>
			            	<label class="table-field-title">fund value :</label>
			            	<span>198765.876</span>
			            </td>
			            <td data-toggle="collapse" data-target="#switch2" class="bold orange-text">switch</td>
			        </tr>
			        <tr>
			            <td colspan="6" class="hiddenRow">
			                <div id="switch2" class="collapse table-accordion-data">
			                	<div class="left-cont">
			                		<h6 class="sec-title">switch to</h6>
			                		<ul>
			                			<li>
			                				<span class="colOne">price earning based fund</span>
			                				<span class="colTwo">46%</span>
			                				<a href="#" class="edit colThree" data-target="#edit-addfund" data-toggle="modal">edit</a>
			                			</li>
			                			<li>
			                				<span class="colOne">equity large cap fund</span>
			                				<span class="colTwo">29</span>
			                				<a href="#" class="edit colThree" data-target="#edit-addfund" data-toggle="modal">edit</a>
			                			</li>
			                			<li>
			                				<div class="action-wrapper pull-left">
												<button type="button" class="btn btn-orange btn-md" data-target="#addfund" data-toggle="modal"><span class="bold">add funds</span>
								                </button>
								            </div>
			                			</li>
			                		</ul>
			                	</div>
			                	<div class="right-cont">
			                		<h6 class="sec-title">money market fund</h6>
			                		<span class="value orange-text big-text">23 <span>%</span></span>
			                		<span class="line-break">balance</span>
			                	</div>
			                </div>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="table-wrap col-md-24 col-sm-24 form-wrap">
			<table class="eTransaction-table2" border="0" cellspacing="0" cellpadding="0">
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:30%">
					<col style="width:20%">
				</colgroup>
				<tbody>
				  <tr>
				    <th>fund name</th>
				    <th>SFIN</th>
				    <th>portfolio details</th>
				    <th>performance summary</th>
				    <th class="mobile-cont table-field-title main">fund name / SFIN</th>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				  <tr>
				    <td>
				    	<label class="table-field-title">fund name :</label>
				    	<span>lorem ipsum</span>
				    </td>
				    <td>
				    	<label class="table-field-title">SFIN :</label>
				    	<span>ULIP 085 21/11/14 LMCapGro 105</span>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				    <td>
					<div class="editbox">
				    	<a class="edit" href="#">click</a>
					</div>
				    </td>
				  </tr>
				</tbody>
			</table>
			<div class="action-wrapper">
				<button type="button" class="btn btn-orange btn-md"><span class="bold">reset</span>
                </button>
                <button type="button" class="btn btn-orange btn-md">
                    <span class="bold">redirect </span> now
                </button>
            </div>
		</div>
	</div>	