<h3 class="mod-title desktop-cont"><span class="bold">set online credit /debit</span> card standing instruction</h3>
<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
<div class="form-wrap">
	<ul class="form-list">
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item">
                    <label class="field-title">policy  number</label>
                    <div class="select-category">
                        <select class="select-box">
                            <option>please select 1</option>
                            <option>please select 2</option>
                            <option>please select 3</option>
                            <option>please select 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item">
                    <label class="field-title">card type</label>
                    <div class="radiobox-wrap col-md-11 col-xs-11">
                        <input type="radio" name="card type" value="credit card" id="creditCard1"> 
                        <label class="field-title" for="creditCard1">credit card</label>
                    </div>
                    <div class="radiobox-wrap col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1">
                        <input type="radio" name="card type" value="debit card" id="debitCard2">
                        <label class="field-title" for="debitCard2"> debit card</label>
                    </div>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item">
                    <label class="field-title">name on card</label>
                    <div class="select-category">
                        <select class="select-box">
                            <option>name on card 1</option>
                            <option>name on card 2</option>
                            <option>name on card 3</option>
                            <option>name on card 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item">
                    <label class="field-title">card number</label>
                    <div class="form-field with-icon input-group">
                        <input type="text" name="ID">
                        <span class="icon right-icon addon"></span>
                    </div>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                
                    <label class="field-title">expiry Date</label>
                    <div class="col-xs-11">
                        <div class="form-item">
                        <div class="select-category">
                            <select class="select-box">
                                <option>month </option>
                                <option>month 2</option>
                                <option>month 3</option>
                                <option>month 4</option>
                            </select>
                        </div>
                         </div>
                    </div>
                    <div class="col-xs-11 col-xs-offset-2">
                        <div class="form-item">
                        <div class="select-category">
                            <select class="select-box">
                                <option>year </option>
                                <option>year 2</option>
                                <option>year 3</option>
                                <option>year 4</option>
                            </select>
                        </div>
                        </div>
                   
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item">
                    <label class="field-title">card CVV</label>
                    <input type="text" name="description">
                </div>
            </div>
        </li>
	</ul>
    <div class="row">
        <div class="col-md-24">
            <div class="action-wrapper">
                <button type="button" class="btn btn-orange ">
                    <span class="bold">set standing</span> instructions
                </button>           
            </div>
        </div>
    </div>
</div>