<div class="select-category sub-link-nav mobile-cont">
    <select class="select-box dark-theme etransaction-toggle">
        <option value="1">switch online</option>
        <option value="0">top up</option>
        <option value="2">premium redirection</option>
        <option value="3">set online credit/debit card standing instructions.</option>
    </select>
</div>
<h3 class="mod-title desktop-cont"><span class="bold">switch</span>  online</h3>
<p class="timestamp">03 - November - 2015 | 05:00 IST</p>
<a href="#" class="orange-text link">view switch online records</a>
<p>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
<div class="form-wrap">
	<ul class="form-list">
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item">
                      <label class="field-title">policy number</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option>please select 1</option>
                                <option>please select 2</option>
                                <option>please select 3</option>
                                <option>please select 4</option>
                            </select>
                        </div>  
                </div>
            </div>
        </li>
	</ul>
	<div class="check-condition row">
		<div class="checkbox-wrap">
			<a href="#" class="orange-text link">terms &amp; conditions</a>
			<input type="checkbox" value="option" name="field" id="option">
			<label for="option" class="checkbox-label">I accept term &amp; conditions as stated above.</label>
		</div>
    </div>
	<div class="row">
    	<div class="col-md-24">
        	<div class="action-wrapper">
                <button type="button" class="btn btn-orange ">
                    <span class="bold">submit </span> now
                </button>               
            </div>
        </div>
    </div>
</div>