<div class="select-category sub-link-nav mobile-cont">
    <select class="select-box dark-theme estatements-toggle">
        <option value="2">unit statement</option>
        <option value="1">renewal premium receipt</option>
        <option value="0">premium paid certificate</option>
        <option value="3">policy document</option>
    </select>
</div>
<h3 class="mod-title desktop-cont"><span class="bold">unit</span> statement</h3>
<p class="desc">
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
<div class="form-wrap">
	<ul class="form-list">
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item">
                    <label class="field-title">policy number</label>
                    <div class="select-category">
                        <select class="select-box">
                            <option>please select 1</option>
                            <option>please select 2</option>
                            <option>please select 3</option>
                            <option>please select 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item">
                    <label class="field-title">email Id</label>
                    <input type="text" name="description">
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="date-select-wrap form-wrap from-to-dp row">
                    <div class="form-item col-md-11 col-xs-11">
                        <div class="date-select">
                            <label class="field-title">from date</label>
                            <div class="calender-wrap">
                                <div class="input-append date fromInput" id="datetimepicker3" >
                                    <input class="span2 form-control" size="16" type="text" >
                                    <span class="add-on icon-cal">test<i class="icon-th"></i></span>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="form-item col-md-11 col-xs-11 col-xs-offset-2 col-md-offset-1">
                        <div class="date-select">
                            <label class="field-title">to date</label>
                            <div class="calender-wrap">
                                <div class="input-append date toInput" id="datetimepicker1" >
                                    <input class="span2" size="16" type="text" >
                                    <span class="add-on icon-cal">test<i class="icon-th"></i></span>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
	</ul>
    <div class="row">
        <div class="col-md-24">
            <div class="action-wrapper">
                <button type="button" class="btn btn-orange ">
                    <span class="bold">download </span> statement
                </button> 
                <button type="button" class="btn btn-orange ">
                    <span class="bold">email </span> now
                </button>           
            </div>
        </div>
    </div>
</div>