<h3 class="mod-title desktop-cont"><span class="bold">recommended </span> products</h3>
<div class="product-wrap">
	<ul class="product-list equalizer-height">
	    <li class="product-item-wrap col-md-12 col-sm-24">
	        <div class="product-item equalizer-item orange" style="height: 372px;">
	            <div class="product-head-wrap">
	                <h3 class="mod-title">
	                <span class="bold">edelweiss tokio life </span>
	                <span class="line-break">mylife + </span></h3>
	            </div>
	            <div class="product-desc">
	                <p>Edelweiss Tokio Life &ndash; Group Accidental Death and Dismemberment Benefit Rider provides full rider sum assured in lumpsum. On death due to accident and on dismemberment due to accident, full or a proportion of rider sum assured is payable in lump...</p>
	            </div>
	            <div class="product-act-btn">
	                <a href="#" class="act-btn-next act-btn">&nbsp;</a>
	                <a class="act-btn-briefcase act-btn" href="#">&nbsp;</a>
	            </div>
	        </div>
	    </li>
	    <li class="product-item-wrap col-md-12 col-sm-24">
	        <div class="product-item equalizer-item blue" style="height: 372px;">
	            <div class="product-head-wrap">
	                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">accidental death benefit rider</span></h3>
	            </div>
	            <div class="product-desc">
	                <p>Edelweiss Tokio Life -Accidental Death Benefit Rider provides for additional financial security in case any accident occurs. Also, the benefit is payable in lumpsum..</p>
	            </div>
	            <div class="product-act-btn">
	                <a href="#" class="act-btn-next act-btn">&nbsp;</a>
	                <a class="act-btn-briefcase act-btn" href="#">&nbsp;</a>
	            </div>
	        </div>
	    </li>
	    <li class="product-item-wrap col-md-12 col-sm-24">
	        <div class="product-item equalizer-item orange" style="height: 372px;">
	            <div class="product-head-wrap">
	                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">accidental total &amp; permanent disability rider</span></h3>
	            </div>
	            <div class="product-desc">
	                <p>Edelweiss Tokio Life -Accidental Total and Permanent Disability Rider provides you with a lump sum to cater to your immediate expenses in case your income earning capacity is hindered due to an accidental disability (total &amp; permanent).</p>
	            </div>
	            <div class="product-act-btn">
	                <a href="#" class="act-btn-next act-btn">&nbsp;</a>
	                <a class="act-btn-briefcase act-btn" href="#">&nbsp;</a>
	            </div>
	        </div>
	    </li>
	</ul>
</div>