<h3 class="mod-title"><span class="bold">product </span> briefcase</h3>
<ul class="row">
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Policy Number :</dt>
					 	<dd class="data">
							<span>PCL1234567</span>
					 	</dd>

					 	<dt class="head">Sum Assured :</dt>
					 	<dd class="data">
					 		<span>20,00,000</span>
					 	</dd>

				 		<dt class="head">Premium Amount :</dt>
				 		<dd class="data">2,000</dd>

				 		<dt class="head">Premium Frequency :</dt>
				 		<dd class="data">
				 			<span>Annually</span>
				 		</dd>
				 	
				 		<dt class="head">Premium Due Date :</dt>
				 		<dd class="data">21 JAN 2016</dd>
					</dl>
					<div class="more-option-warp">
						<a class="icon" href="#">more</a>
						<div class="moreoption-content hidden">
							<div class="listing-tooltip">
								<div class="tooltip-cont">
									<ul>
										<li>
											<a class="icon renew-icon" href="#">renew online</a>
										</li>
										<li class="active">
											<a class="icon claim-icon" href="#">
												report a claim
											</a>
										</li>
										<li>
											<a class="icon estatement-icon" href="#">
												e-statements
											</a>
										</li>
										<li>
											<a class="icon etransaction-icon" href="#">
												e-transaction
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<span class="icon-link-tooltip">
						<span class="icon"></span>
					</span>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Policy Number :</dt>
					 	<dd class="data">
							<span>PCL1234567</span>
					 	</dd>

					 	<dt class="head">Sum Assured :</dt>
					 	<dd class="data">
					 		<span>20,00,000</span>
					 	</dd>

				 		<dt class="head">Premium Amount :</dt>
				 		<dd class="data">2,000</dd>

				 		<dt class="head">Premium Frequency :</dt>
				 		<dd class="data">
				 			<span>Annually</span>
				 		</dd>
				 	
				 		<dt class="head">Premium Due Date :</dt>
				 		<dd class="data">21 JAN 2016</dd>
					</dl>
					<div class="more-option-warp">
						<a class="icon" href="#">more</a>
						<div class="moreoption-content hidden">
							<div class="listing-tooltip">
								<div class="tooltip-cont">
									<ul>
										<li>
											<a class="icon renew-icon" href="#">renew online</a>
										</li>
										<li class="active">
											<a class="icon claim-icon" href="#">
												report a claim
											</a>
										</li>
										<li>
											<a class="icon estatement-icon" href="#">
												e-statements
											</a>
										</li>
										<li>
											<a class="icon etransaction-icon" href="#">
												e-transaction
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<span class="icon-link-tooltip">
						<span class="icon"></span>
					</span>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Policy Number :</dt>
					 	<dd class="data">
							<span>PCL1234567</span>
					 	</dd>

					 	<dt class="head">Sum Assured :</dt>
					 	<dd class="data">
					 		<span>20,00,000</span>
					 	</dd>

				 		<dt class="head">Premium Amount :</dt>
				 		<dd class="data">2,000</dd>

				 		<dt class="head">Premium Frequency :</dt>
				 		<dd class="data">
				 			<span>Annually</span>
				 		</dd>
				 	
				 		<dt class="head">Premium Due Date :</dt>
				 		<dd class="data">21 JAN 2016</dd>
					</dl>
					<div class="more-option-warp">
						<a class="icon" href="#">more</a>
						<div class="moreoption-content hidden">
							<div class="listing-tooltip">
								<div class="tooltip-cont">
									<ul>
										<li>
											<a class="icon renew-icon" href="#">renew online</a>
										</li>
										<li class="active">
											<a class="icon claim-icon" href="#">
												report a claim
											</a>
										</li>
										<li>
											<a class="icon estatement-icon" href="#">
												e-statements
											</a>
										</li>
										<li>
											<a class="icon etransaction-icon" href="#">
												e-transaction
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<span class="icon-link-tooltip">
						<span class="icon"></span>
					</span>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Policy Number :</dt>
					 	<dd class="data">
							<span>PCL1234567</span>
					 	</dd>

					 	<dt class="head">Sum Assured :</dt>
					 	<dd class="data">
					 		<span>20,00,000</span>
					 	</dd>

				 		<dt class="head">Premium Amount :</dt>
				 		<dd class="data">2,000</dd>

				 		<dt class="head">Premium Frequency :</dt>
				 		<dd class="data">
				 			<span>Annually</span>
				 		</dd>
				 	
				 		<dt class="head">Premium Due Date :</dt>
				 		<dd class="data">21 JAN 2016</dd>
					</dl>
					<div class="more-option-warp">
						<a class="icon" href="#">more</a>
						<div class="moreoption-content hidden">
							<div class="listing-tooltip">
								<div class="tooltip-cont">
									<ul>
										<li>
											<a class="icon renew-icon" href="#">renew online</a>
										</li>
										<li class="active">
											<a class="icon claim-icon" href="#">
												report a claim
											</a>
										</li>
										<li>
											<a class="icon estatement-icon" href="#">
												e-statements
											</a>
										</li>
										<li>
											<a class="icon etransaction-icon" href="#">
												e-transaction
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<span class="icon-link-tooltip">
						<span class="icon"></span>
					</span>
				</div>
			</div>
		</div>
	</li>
</ul>