
	<h3 class="mod-title desktop-cont"><span class="bold">track</span> product application</h3>
	<h4 class="mod-sub-title"><span class="bold">edelweiss tokio life - criticare+ </span></h4>
	<div class="notification-wrap">
		<span class="notification-cont orange-text policy-link">policy details</span>
		<span class="policyDetail-content hidden">
			<div class="info-listing-content">
	        	<span class="sect-title"><span class="bold">policy </span>details</span>
	        
		        <span class="sect-cont ">
		        	<dl>
					  <dt>plan name</dt>
					  <dd>Edelweiss Tokio Life Protection</dd>
					</dl>
					<dl>
					  <dt>sum assured</dt>
					  <dd>Rs. 3,05,47,485</dd>
					</dl>
					<dl>
						<dt>policy term</dt>
						<dd>30 years</dd>
					</dl>
					<dl>
						<dt>premium payment terms</dt>
						<dd>30 years</dd>
					</dl>
					<dl>
						<dt>premium frequency</dt>
						<dd>Annually</dd>
					</dl>
					<dl>
						<dt>first year modal premium</dt>
						<dd>Rs. 60,000</dd>
					</dl>
					<dl>
						<dt>proposer name</dt>
						<dd>Mr. Mayuresh Karnik</dd>
					</dl>
					<dl>
						<dt>Life assured name</dt>
						<dd>Mr. Mayuresh Karnik</dd>
					</dl>
					<dl>
						<dt>Life advisor name</dt>
						<dd>Swati Gupta</dd>
					</dl>
					<dl>
						<dt>life advisor contact number</dt>
						<dd>94557 05833</dd>
					</dl>
		        </span>   
	    	</div>
	    </span>
	</div>
	

	<div class="step-process-wrapper">
		<ul class="step-process-listing-cont">
			<li class="step-process-list first completed">
				<span class="step-icon">payment</span>
				<span class="step-data"></span>
			</li>
			<li class="step-process-list processing">
				<span class="step-icon">processing</span>
			</li>
			<li class="step-process-list initiated">
				<span class="step-icon">decision</span>
			</li>
			<li class="step-process-list">
				<span class="step-icon">dispatch</span>
			</li>
			<li class="step-process-list last">
				<span class="step-icon">delivery</span>
			</li>
		</ul>
	</div>
	<div class="content-show-wrap col-sm-24">	
		<div class="content content0">
			<p>our proposal has been logged in at Edelweiss Tokio Life Insurance (Vashi Branch) on <span class="bold">28 Aug, 2015</span> Amount received <span class="bold">12,324</span></p>
		</div>
		<div class="content content1">
			<div class="process-status-content-wrap">
				<p>
					Medical test will be scheduled for you. We will update you with the confirm date.
				</p>
				<div class="content-req-listing">
					<h5 class="title">Please submit the following documents for completing the application process.</h5>
					<ul class="status-listing-wrap">
						<li>
							<label class="status-title">01. Photograph</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">02. Address Proof</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">03. Identity Proof</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">04. Income Proof</label><span class="status pending pull-right">pending</span>
						</li>
						<li>
							<label class="status-title">05. Other Requirements</label><span class="status done pull-right">done</span>
						</li>

					</ul>
				</div>
				<div class="desc-cont">
					<p>You can send the documents to us on <a href="#" class="orange-text">care@edelweisstokio.in</a>. </p>
					<p>You can also visit to your nearest Edelweiss Tokio Life Insurance branch or call our service expert in <span class="bold"> 1800 2121 212 (toll free)</span> from <span class="bold">8AM - 8PM, Mon - Sat</span>.</p>
				</div>
			</div>
		</div>
		<div class="content content2">
			<div class="process-status-content-wrap">
				<p>
					Medical test will be scheduled for you. We will update you with the confirm date.
				</p>
				<div class="application-detail-wrap">
					<ul>
						<li>
							<span class="title line-break">Date:</span>
							<span class="application-cont bold">29 Dec 2015</span>
						</li>
						<li>
							<span class="title line-break">Time:</span>
							<span class="application-cont bold">09:00 AM</span>
						</li>
						<li class="last">
							<span class="title line-break">Case Ref:</span>
							<span class="application-cont bold">ETLI00000839</span>
						</li>
						<li class="fullWidth">
							<span class="title">Case Ref:</span>
							<span class="application-cont bold line-break">Edelweiss House, 3rd floor,<span class="line-break">opp. NAFA bus stop,</span><span class="line-break">off C.S.T.Road, Kalina,</span><span class="line-break">Mumbai 400098</span></span>
						</li>
					</ul>

				</div>
				<div class="content-req-listing">
					<h5 class="title">Please submit the following documents for completing the application process.</h5>
					<ul class="status-listing-wrap">
						<li>
							<label class="status-title">01. Photograph</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">02. Address Proof</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">03. Identity Proof</label><span class="status done pull-right">done</span>
						</li>
						<li>
							<label class="status-title">04. Income Proof</label><span class="status pending pull-right">pending</span>
						</li>
						<li>
							<label class="status-title">05. Other Requirements</label><span class="status done pull-right">done</span>
						</li>

					</ul>
				</div>
				<div class="desc-cont">
					<p>You can send the documents to us on <a href="#" class="orange-text bold">care@edelweisstokio.in</a>. </p>
					<p>You can also visit to your nearest Edelweiss Tokio Life Insurance branch or call our service expert in <span class="bold"> 1800 2121 212 (toll free)</span> from <span class="bold">8AM - 8PM, Mon - Sat</span>.</p>
				</div>
			</div>
		</div>
		<div class="content content3">
			<p>Regret to inform you that, currently we can not issue the policy to you. 
			For assistance, call us at 1800 2121 212.</p>
			<p style="display:none;">Underwriting acceptance had been made on 01 Nov, 2015. 
			Your policy bond will be dispatched soon.</p>
		</div>
		<div class="content content4">
			<p>Your policy bond has been dispatched on <span class="bold">05 Sep, 2015</span>  through <span class="bold">Blue Dart Courier</span> with <span class="bold">AWB No. 99899644</span>
			</p>
			<p style="display:none;">Your policy <span class="bold">ETLI00124536</span> dispatched on <span class="bold">05 Sep, 2015</span> by <span class="bold">Blue Dart Courier Service</span> with <span class="bold">AWB 99899644</span> has been returned undelivered. Please call us at <span class="bold">1800 2121 212</span>
			</p>
		</div>
	</div>