<h3 class="mod-title desktop-cont"><span class="bold">complaint</span> status</h3>
<ul class="row">
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<h4 class="title">
					<span class="caption">complaint no.</span>
					<span> ETL201511230560</span>
				</h4>
				<h5><span class="head">Policy Number :</span>
				<span class="data">PCL1234567</span>
				</h5>
				<div class="box-tile-detail v-divider">
				   	<h6 class="sub-title">
				   	  Complaint Status
				   	</h6>
					<dl>
					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
							<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
					 		<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

				 		<dt class="head">Acknowledge :</dt>
				 		<dd class="data">6 Jan 2016 | 03:18:00 pm</dd>

				 		<dt class="head">Expected Closure Date :</dt>
				 		<dd class="data">
				 			<span>10 Jan 2016 | 03:18:00 pm</span>
				 		</dd>
				 	
				 		<dt class="head">Actioned on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Closed on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Comments :</dt>
				 		<dd class="data">Lorem ipsum dolor sit </dd>
					</dl>
				</div>
				<div class="box-tile-detail">
				   	<h6 class="sub-title">
				   	  Complaint Status
				   	</h6>
					<dl>
					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
							<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
					 		<span>10 Jan 2016 | 03:18:00 pm</span>
							<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

				 		<dt class="head">Acknowledge :</dt>
				 		<dd class="data">6 Jan 2016 | 03:18:00 pm</dd>

				 		<dt class="head">Expected Closure Date :</dt>
				 		<dd class="data">
				 			<span>10 Jan 2016 | 03:18:00 pm</span>
							<span>10 Jan 2016 | 03:18:00 pm</span>
				 		</dd>
				 	
				 		<dt class="head">Actioned on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Closed on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Comments :</dt>
				 		<dd class="data">Lorem ipsum dolor sit </dd>
					</dl>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<h4 class="title">
					<span class="caption">complaint no.</span>
					<span> ETL201511230560</span>
				</h4>
				<h5><span class="head">Policy Number :</span>
				<span class="data">PCL1234567</span>
				</h5>
				<div class="box-tile-detail">
				   	<h6 class="sub-title">
				   	  Complaint Status
				   	</h6>
					<dl>
					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
							<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

					 	<dt class="head">Acknowledge :</dt>
					 	<dd class="data">
					 		<span>10 Jan 2016 | 03:18:00 pm</span>
					 	</dd>

				 		<dt class="head">Acknowledge :</dt>
				 		<dd class="data">6 Jan 2016 | 03:18:00 pm</dd>

				 		<dt class="head">Expected Closure Date :</dt>
				 		<dd class="data"><span>10 Jan 2016 | 03:18:00 pm</span>
				 		</dd>
				 	
				 		<dt class="head">Actioned on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Closed on :</dt>
				 		<dd class="data"></dd>
				 	
				 		<dt class="head">Comments :</dt>
				 		<dd class="data">Lorem ipsum dolor sit </dd>
					</dl>
				</div>
			</div>
		</div>
	</li>
</ul>