<h3 class="mod-title desktop-cont"><span class="bold">pending </span> applications</h3>
<ul class="row">
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Application Status :</dt>
					 	<dd class="data">
							<span>75% complete</span>
					 	</dd>

					 	<dt class="head">Last Section Updated :</dt>
					 	<dd class="data">
					 		<span>Health Details</span>
					 	</dd>
					</dl>
					<div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">proceed </span> with application
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Application Status :</dt>
					 	<dd class="data">
							<span>75% complete</span>
					 	</dd>

					 	<dt class="head">Last Section Updated :</dt>
					 	<dd class="data">
					 		<span>Health Details</span>
					 	</dd>
					</dl>
					<div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">proceed </span> with application
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Application Status :</dt>
					 	<dd class="data">
							<span>75% complete</span>
					 	</dd>

					 	<dt class="head">Last Section Updated :</dt>
					 	<dd class="data">
					 		<span>Health Details</span>
					 	</dd>
					</dl>
					<div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">proceed </span> with application
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span>edelweiss tokio life - mylife+</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Application Status :</dt>
					 	<dd class="data">
							<span>75% complete</span>
					 	</dd>

					 	<dt class="head">Last Section Updated :</dt>
					 	<dd class="data">
					 		<span>Health Details</span>
					 	</dd>
					</dl>
					<div class="action-wrapper">
                        <button type="button" class="btn btn-orange ">
                            <span class="bold">proceed </span> with application
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
</ul>