<div class="notification-wrap">
    <a href="#" class="notification-cont">
        <span class="notification-icon notifyLink">
            <span class="notify-count">2</span>
        </span>
        <span class="notify-text">notifications</span>
    </a>
    <div class="tooltip-content notifylist-content hidden">
        <div class="notifylist-tooltip" >
            <ul>
                <li>
                    <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>       
                </li>
                <li>
                    <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<span class="notify-time-wrap">27th Nov 2015</span></a>       
                </li>
                <li class="unseen">
                    <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>       
                </li>
                <li>
                    <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<span class="notify-time-wrap">27th Nov 2015</span></a>       
                </li>
            </ul>
            <a class="btn-view-all" href="#"><span class="bold">view</span> all</a>
        </div>
    </div>
</div>