<h3 class="mod-title desktop-cont"><span class="bold">Notifications</h3>
<div class="notification-listing">
    <ul class="row">
    <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li class="unseen">
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
        <li>
            <a href="#">"Lorem ipsum dolor sit amet, consectetur adipiscing elit<span class="notify-time-wrap">27th Nov 2015</span></a>
        </li>
    </ul>
</div>