<h3 class="mod-title desktop-cont"><span class="bold">need </span> summaries</h3>
<ul class="row">
	<li class="box-item col-md-11 col-sm-24">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span> summary 1</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Generated on:</dt>
					 	<dd class="data">
							<span>6 Jan 2016</span>
					 	</dd>

					 	<dt class="head">Products:</dt>
					 	<dd class="data">
					 		<span>edelweiss tokio life - mylife+</span>
							<span>edelweiss tokio life - mylife+</span>
					 	</dd>

				 		<dt class="head">Expires on:</dt>
				 		<dd class="data">10 Jan 2016</dd>
					</dl>
					<div class="action-wrapper">
                        <button class="btn btn-orange " type="button">
                            <span class="bold">show me </span> summary
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
	<li class="box-item col-md-11 col-sm-24 col-md-offset-1">
		<div class="box-tile">
			<div class="box-tile-cont">
				<span class="ribbon-wrap">
					<span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
				</span>
				<h4 class="title">
					<span> summary 2</span>
				</h4>
				<div class="box-tile-detail">
					<dl>
					 	<dt class="head">Generated on:</dt>
					 	<dd class="data">
							<span>6 Jan 2016</span>
					 	</dd>

					 	<dt class="head">Products:</dt>
					 	<dd class="data">
					 		<span>edelweiss tokio life - mylife+</span>
							<span>edelweiss tokio life - mylife+</span>
					 	</dd>

				 		<dt class="head">Expires on:</dt>
				 		<dd class="data">10 Jan 2016</dd>
					</dl>
					<div class="action-wrapper">
                        <button class="btn btn-orange " type="button">
                            <span class="bold">show me </span> summary
                        </button>
                    </div>
				</div>
			</div>
		</div>
	</li>
</ul>