<div class="select-category sub-link-nav mobile-cont">
    <select class="select-box dark-theme etransaction-toggle">
    	<option value="3">set online credit/debit card standing instructions.</option>
        <option value="2">premium redirection</option>
        <option value="1">switch online</option>
        <option value="0">top up</option>
    </select>
</div>
	<h3 class="mod-title desktop-cont"><span class="bold">set online credit /debit</span> card standing instruction</h3>
	<p class="date-wrap">03 - November - 2015 | 05:00 IST</p>
	<div class="row">
		<div class="col-sm-24 col-md-12">
			<div class="radiobox-wrap">
	         	<input type="radio" name="card type" value="setonline" id="setonline"> 
	         	<label class="field-title" for="setonline">set online credit/ debit card standing instruction</label>
			</div>
		</div>
		<div class="col-sm-24 col-md-12">
			<div class="radiobox-wrap">
				<input type="radio" name="card type" value="modifyonline" id="modifyonline">
				<label class="field-title" for="modifyonline"> modify online credit/ debit card standing instruction</label>
			</div>
		</div>
	</div>
	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. 
	</p>
	<div class="policy-wrap box-wrap">
		<div class="policy-details-list">
			<ul>
				<li>
					<label class="list-name">policy number</label>
					<label class="list-cont">ULIP fund</label>
				</li>
				<li>
					<label class="list-name">status</label>
					<label class="list-cont">IF</label>
				</li>
				<li>
					<label class="list-name">premium due date</label>
					<label class="list-cont">16. 01.2016</label>
				</li>
				<li>
					<label class="list-name">frequency</label>
					<label class="list-cont">monthly</label>
				</li>
				<li>
					<label class="list-name">premium installment</label>
					<label class="list-cont">Rs. 2500</label>
				</li>
			</ul>
			<div class="checkbox-wrap">
				<input type="checkbox" id="option" name="field" value="option">
				<label for="option">I have read the Terms and Conditions for Online premium payment Premium Payment shall be made by the Policyholder of the policy. Third Party Online Payment is prohibited</label>
			</div>
			<a href="myAccount_eTransaction_setOnlineDebitCredit_template2.shtml" class="btn btn-orange btn-xs">
				<span class="bold">confirm </span>now
			</a>
		</div>
	</div>