<div class="select-category sub-link-nav mobile-cont">
    <select class="select-box dark-theme etransaction-toggle">
    	<option value="2">premium redirection</option>
        <option value="1">switch online</option>
        <option value="0">top up</option>
        <option value="3">set online credit/debit card standing instructions.</option>
    </select>
</div>
	<h3 class="mod-title desktop-cont"><span class="bold">premium </span>  redirection</h3>
	<p class="date-wrap">03 - November - 2015 | 05:00 IST</p>
	<a href="#" class="orange-text link">view switch online records</a>
	<p class="desc">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</p>
	<div class="section-cont-wrap current-allocation-table">
		<h4 class="mod-sub-title">Edelweiss tokio life dhan nivesh bima yojna | 14480515</h4>
		<h5 class="table-title">current fund allocation</h5>
		<div class="table-wrap col-md-24 col-sm-24 form-wrap">
			<table border="0" cellspacing="0" cellpadding="0">
			  <tbody><tr>
			    <th>fund name</th>
			    <th>SFIN</th>
			    <th>current allocation</th>
			    <th>desired allocation</th>
			    <th class="mobile-cont table-field-title main">fund name / SFIN / current allocation /desired allocation</th>
			  </tr>
			  <tr>
			    <td>bond fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>50%</td>
			    <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="" placeholder="enter %"></span>
			    </td>
			  </tr>
			  <tr>
			    <td>money market fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>-</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			   <tr>
			    <td>equity large cap fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>50%</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			  <tr>
			    <td>money market fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>-</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			   <tr>
			    <td>bond fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>50%</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			  <tr>
			    <td>money market fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>-</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			  <tr>
			    <td>equity large cap fund</td>
			    <td>ULIP 085 21/11/14 LMCapGro 105</td>
			    <td>50%</td>
			     <td>
			    	<span class="form-item">
			    	<input type="text" name="description" value="20%" placeholder="enter %"></span>
			    </td>
			  </tr>
			  <tr class="total-wrap">
			    <td class="bold">total</td>
			    <td></td>
			    <td class="bold">100%</td>
			    <td class="bold">100%</td>
			  </tr>
			</tbody></table>
			<div class="action-wrapper">
				<button type="button" class="btn btn-orange btn-md"><span class="bold">reset</span>
                </button>
                <button type="button" class="btn btn-orange btn-md">
                    <span class="bold">redirect </span> now
                </button>
            </div>
		</div>
	</div>