<h3 class="mod-title desktop-cont"><span class="bold">your </span> profile</h3>
<div class="form-wrap">
    <ul class="form-list">
        <li class="row">
            <div class="col-xs-24">
                <label class="sec-title"><span class="bold">personal</span> details</label>
            </div>
            <div class="col-md-11 col-xs-24">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        <img src="images/9279E69A.jpg" alt="profile img" />
                        <span class="edit-icon-wrap ">
                         <span class="icon edit-icon editTooltip"></span>
                         <span class="editTooltip-content hidden">
                            <span class="editToolTip">
                                <ul>
                                   <li>
                                      <a href="#" data-target="#upload-picture" data-toggle="modal">choose an image</a>
                                   </li>
                                   <li>
                                      <a href="#">click photo</a>
                                   </li>
                                </ul>
                             </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="row">
                    <div class="col-md-11 col-xs-12 col-xs-11">
                        <div class="radiobox-wrap male">
                            <input type="radio" id="option1" name="gender" value="option" checked="checked">
                            <label for="option1">male</label>
                        </div>
                        <div class="radiobox-wrap female">
                            <input type="radio" id="option2" name="gender" value="option">
                            <label for="option2">female</label>
                        </div>
                    </div>
                    <div class="col-md-11 col-xs-12 col-xs-11 col-md-offset-2 col-xs-offset-2">
                        <div class="radiobox-wrap yes">
                            <input type="radio" id="option3" name="tobacco" value="option2">
                            <label for="option3">yes</label>
                        </div>
                        <div class="radiobox-wrap no">
                            <input type="radio" id="option4" name="tobacco" value="option2" checked="checked">
                            <label for="option4">no</label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item ">
                    <label class="field-title">first name</label>
                    <div class="form-data">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item  ">
                    <label class="field-title">last name</label>
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item disabled">
                    <label class="field-title">date of birth</label>
                    <div class="calender-wrap">
                        <div data-date-format="dd-mm-yyyy" data-date="12-02-2012" id="datetimepicker" class="input-append date datePicker">
                            <input type="text" size="16" class="span2" disabled>
                            <span class="add-on icon-cal">test<i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item  ">
                    <label class="field-title">marital status</label>
                    <div class="select-category">
                        <select class="select-box">
                            <option></option>
                            <option>married</option>
                            <option>un married</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="form-list">
        <li class="row">
            <div class="col-xs-24">
                <label class="sec-title"><span class="bold">contact</span> details</label>
            </div>
            <div class="col-md-11 col-xs-24">
                <div class="form-item disabled">
                    <label class="field-title">mobile</label>
                    <input type="text" disabled>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item disabled">
                    <label class="field-title">email</label>
                    <input type="text" disabled>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item ">
                    <label class="field-title">address</label>
                    <input type="text">
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item">
                    <div class="row">
                        <div class="col-xs-11 col-md-11">
                            <div class="select-category">
                                <select class="select-box">
                                    <option>city </option>
                                    <option>city 2</option>
                                    <option>city 3</option>
                                    <option>city 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-11 col-md-11 col-xs-offset-2">
                            <div class="select-category">
                                <select class="select-box">
                                    <option>state </option>
                                    <option>state 2</option>
                                    <option>state 3</option>
                                    <option>state 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="form-list">
        <li class="row">
            <div class="col-xs-24">
                <label class="sec-title col-xs-18"><span class="bold">family</span> details</label>
                <a href="#" class="icon close pull-right" data-target="#delete" data-toggle="modal"></a>
            </div>
            <div class="col-xs-24">
                <div class="col-xs-24">
                    <div class="profile-img-wrap">
                        <div class="profile-img small">
                            <img src="images/profileImgInit.jpg" alt="profile img" />
                           <span class="edit-icon-wrap ">
                             <span class="icon edit-icon editTooltip"></span>
                             <span class="editTooltip-content hidden">
                                <span class="editToolTip">
                                    <ul>
                                       <li>
                                          <a href="#" data-target="#upload-picture" data-toggle="modal">choose an image</a>
                                       </li>
                                       <li>
                                          <a href="#">click photo</a>
                                       </li>
                                    </ul>
                                 </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-24">
                    <div class="form-item  ">
                        <label class="field-title">full name</label>
                        <input type="text" value="">
                    </div>
                </div>
                <div class="col-md-11 col-xs-24 col-md-offset-1">
                    <div class="form-item">
                        <label class="field-title">gender</label>
                        <div class="select-category">
                            <select class="select-box">
                                <option>male </option>
                                <option>female</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item ">
                    <label class="field-title">date of birth</label>
                    <div class="calender-wrap">
                        <div data-date-format="dd-mm-yyyy" data-date="12-02-2012" id="datetimepicker" class="input-append date datePicker">
                            <input type="text" size="16" class="span2">
                            <span class="add-on icon-cal">test<i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item  ">
                    <label class="field-title">your relationship with the member</label>
                    <div class="select-category">
                        <select class="select-box">
                            <option></option>
                            <option>husband</option>
                            <option>father</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- <ul class="form-list repeat-obj">
        <li class="row">
            <div class="col-xs-24">
                <label class="sec-title col-xs-18"><span class="bold">family</span> details</label>
            </div>
            <div class="col-xs-24">
                <div class="col-xs-24">
                    <div class="profile-img-wrap">
                        <div class="profile-img small">
                            <img src="images/profileImgInit.jpg" alt="profile img" />
                            <span class="edit-icon-wrap ">
                             <span class="icon edit-icon editTooltip"></span>
                             <span class="editTooltip-content hidden">
                                <span class="editToolTip">
                                    <ul>
                                       <li>
                                          <a href="#" data-target="#upload-picture" data-toggle="modal">choose an image</a>
                                       </li>
                                       <li>
                                          <a href="#">click photo</a>
                                       </li>
                                    </ul>
                                 </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-11 col-xs-24">
                    <div class="form-item  ">
                        <label class="field-title">full name</label>
                        <input type="text" value="">
                    </div>
                </div>
                <div class="col-md-11 col-xs-24 col-md-offset-1">
                    <div class="form-item">
                        <label class="field-title">gender</label>
                        <div class="select-category">
                            <select class="dynamic-select-box">
                                <option>male </option>
                                <option>female</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="col-md-11 col-xs-24">
                <div class="form-item ">
                    <label class="field-title">date of birth</label>
                    <div class="calender-wrap">
                        <div data-date-format="dd-mm-yyyy" data-date="12-02-2012" id="datetimepicker" class="input-append date dynamic-datePicker">
                            <input type="text" size="16" class="span2">
                            <span class="add-on icon-cal">test<i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-xs-24 col-md-offset-1">
                <div class="form-item  ">
                    <label class="field-title">your relationship with the member</label>
                    <div class="select-category">
                        <select class="dynamic-select-box">
                            <option></option>
                            <option>husband</option>
                            <option>father</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
    </ul> -->
    <!-- <div class="action-wrapper plus-icon-wrap">
        <button class="btn btn-orange plus-bg-icon" type="button" data-target="#family-details" data-toggle="modal">
            <span class="bold">add </span> member
        </button> 
        <button class="btn btn-orange " type="button">
            <span class="bold">delete </span>
        </button>             
    </div> -->
    <div class="plus-icon-wrap">
        <span class="plus-bg-icon" data-target="#family-details" data-toggle="modal">add member</span>
    </div>
</div>
