<div class="one-col-layout container quick-view-wrap">
    <div class="quick-view-listing">
        <div class="quick-view-item arrange-item">
            <div class="user-info-wrap theme-blue item-data">
                <div class="user-detail">
                    <div class="profile-img">
                        <img alt="profile img" src="images/9279E69A.jpg">
                    </div>
                    <span class="intro-text">welcome</span>
                    <h4 class="user-name">
                     <span class="bold">bhushan</span> sharma
                  </h4>
                    <span class="phone-no">98765 43210</span>
                    <a class="mail-link" "bhushan.sharma@gmail.com"="" mailto:="" href="#">bhushan.sharma@gmail.com</a>
                    <p class="address">Edelweiss Tokio Life Insurance Co. Ltd., 3rd Floor, Edelweiss House, 0 C.S.T. Road Kalina Maharashtra 400098.</p>
                    <div class="action-wrapper ">
                        <button class="btn btn-orange btn-md" type="button">
                            update
                        </button>
                    </div>
                </div>
                <div class="user-family-detail
                  ">
                    <h5 class="sub-sec-title"><span class="bold">your </span>family</h5>
                    <ul class="family-listing">
                        <li>
                            <div class="profile-img">
                                <img alt="profile img" src="images/profileImgInit.jpg">
                            </div>
                            <span class="name text">gayatri</span>
                            <span class="text">mother</span>
                        </li>
                        <li>
                            <div class="profile-img">
                                <img alt="profile img" src="images/profileImgInit.jpg">
                            </div>
                            <span class="name text">gayatri</span>
                            <span class="text">mother</span>
                        </li>
                        <li class="last">
                            <a class="add-new-member" href="#">
                                <span class="icon"></span>
                                <span class="name text">add more</span>
                                <span class="text">member</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data">
                <h5 class="title">
                  <span class="number">3</span>
                  <span class="text">
                  <span class="bold line-break">products</span>in your briefcase
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                        </h6>
                            <a href="#" class="link icon"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                        </h6>
                            <a href="#" class="link icon"></a>
                            <span class="ribbon-wrap">
                              <span class="icon ribbon-icon hover-tooltip-1" title="Application expires on 6th Jan 2016"></span>
                            </span>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                        </h6>
                            <a href="#" class="link icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="item-data no-border-space">
                <a href="#" class="main-link">
                    <span class="icon icon-initiate"></span>
                    <span class="bold line-break">initiate</span>e-transactions
                </a>
                <a href="#" class="main-link">
                    <span class="icon icon-download"></span>
                    <span class="bold line-break">download</span>e-transactions
                </a>
            </div>
        </div>
         <div class="quick-view-item arrange-item">
            <div class="summary-wrap theme-blue item-data ">
                <h5 class="title">
                  <span class="text">
                  <span class="bold line-break">track your</span>application staus
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                           <span class="link-break bold">(for growth planning)
                           </span>
                        </h6>
                            <div class="step-process-wrapper">
                                <ul class="step-process-listing-cont">
                                    <li class="step-process-list first completed">
                                        <span class="step-icon"></span>
                                    </li>
                                    <li class="step-process-list">
                                        <span class="step-icon"></span>
                                    </li>
                                    <li class="step-process-list">
                                        <span class="step-icon"></span>
                                    </li>
                                    <li class="step-process-list">
                                        <span class="step-icon"></span>
                                    </li>
                                    <li class="step-process-list last">
                                        <span class="step-icon"></span>
                                    </li>
                                </ul>
                            </div>
                            <a class="link icon" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data">
                <h5 class="title">
                  <span class="text">
                  <span class="bold line-break">complaint</span> staus
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           <span><span>complaint no. </span> : <span> ETL201511230560</span>
                           </span>
                           <span>policy no.: 005768209E</span>
                           <span class="link-break list-sub-cont ">registered on: 12/12/2015</span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           <span><span>complaint no. </span> : <span> ETL201511230560</span>
                           </span>
                           <span>policy no.: 005768209E</span>
                           <span class="link-break list-sub-cont ">registered on: 12/12/2015</span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data">
                <h5 class="title">
                  <span class="number">1</span>
                  <span class="text">
                  <span class="bold line-break">pending</span>application
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                        </h6>
                            <a href="#" class="link icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data">
                <h5 class="title">
                  <span class="number">3</span>
                  <span class="text">
                  <span class="bold line-break">products</span>recommended
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                           <span class="link-break bold">(for secured future)
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                           <span class="link-break bold">(for healthy future)
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                           <span class="link-break bold">(for growth planning)
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           edelweiss tokio life<span class="line-break">mylife+</span>
                           <span class="link-break bold">(for growth planning)
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       
        
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data">
                <h5 class="title">
                  <span class="number">2</span>
                  <span class="text">
                  <span class="bold line-break">need summaries</span> generated by you
                  </span>
               </h5>
                <div class="summary-data-list">
                    <ul>
                        <li class="list-item">
                            <h6 class="list-cont">
                           summary 1
                           <span><span>generated on </span> : <span> 12/12/2015</span>
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                        <li class="list-item">
                            <h6 class="list-cont">
                           summary 2
                           <span><span>generated on </span> : <span> 12/12/2015</span>
                           </span>
                        </h6>
                            <a class="link icon" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="quick-view-item arrange-item">
            <div class="summary-wrap item-data theme-grey">
                <h5 class="title">
                  <span class="text">
                  <span class="bold line-break">customer</span> service
                  </span>
               </h5>
                <div class="summary-data-list">
                    <div class="form-wrap">
                        <form>
                            <ul class="form-list">
                                <li class="form-item">
                                    <select class="select-box">
                                        <option>select service type </option>
                                        <option>select service type 2</option>
                                        <option>select service type 3</option>
                                        <option>select service type 4</option>
                                    </select>
                                </li>
                                <li class="form-item">
                                    <div class="form-field">
                                        <input type="text" placeholder="policy number" name="policy number">
                                    </div>
                                </li>
                                <li class="form-item">
                                    <div class="form-field">
                                        <textarea rows="5" placeholder="comment"></textarea>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-orange btn-xs">
                                        <span class="bold">submit </span>now
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
