<div class="left-nav-listing col-md-8 lhs">
	<div class="nav-listing">
		<ul>
			<li class="list-item">
				<a href="myAccount_quick_view.shtml">
					<span class="icon"></span>
					<span class="nav-title"><span class="bold">quick</span> view</span>
				</a>
			</li>
			<li class="list-item">
				<a href="myAccount_your_profile.shtml">
				<span class="icon"></span>
				<span class="nav-title"><span class="bold">your</span> profile</span>
				</a>
			</li>
			<li class="list-item">
				<a href="myAccount_productBriefcase.shtml">
					<span class="icon"></span>
					<span class="nav-title"><span class="bold">product </span>briefcase</span>
				</a>
			</li>
			<li class="list-item">
				<a href="myAccount_track_product_application.shtml">
				<span class="icon"></span>
				<span class="nav-title"><span class="bold">track </span> application</span></a>
			</li>
			 <li class="list-item has-sub-nav">
				<a href="myAccount_eTransaction_top_up.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">e</span>-transactions</span></a>
				<div class="sub-list-sec">
					<ul>
						<li class="sub-list-item">
							<a href="myAccount_eTransaction_top_up.shtml"><span class="bold">top </span> up</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eTransaction_switch_online.shtml"><span class="bold">switch </span> online</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eTransaction_premimum_redirection.shtml"><span class="bold">premium </span> redirection</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eTransaction_setOnlineDebitCredit.shtml"><span class="bold">set online credit/debit card </span> standing instructions</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="list-item  has-sub-nav">
				<a href="myAccount_eStatement_premium_paid_certificate.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">e</span>-statements</span></a>
					<div class="sub-list-sec">
					<ul>
						<li class="sub-list-item">
							<a href="myAccount_eStatement_premium_paid_certificate.shtml"><span class="bold">premium paid  </span> certificate</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eStatement_renewal_premium_receipt.shtml"><span class="bold">renewal premium  </span> receipt</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eStatement_unit_statement.shtml"><span class="bold">unit  </span> statement</a>
						</li>
						<li class="sub-list-item">
							<a href="myAccount_eStatement_policy_document.shtml"><span class="bold">policy  </span> nav</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="list-item">
				<a href="myAccount_recommendedProducts.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">recommended</span> products</span></a>
			</li>
			<li class="list-item">
				<a href="myAccount_pendingApplication.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">pending</span> application</span></a>
			</li>
			<li class="list-item">
				<a href="myAccount_needSummary.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">need</span> summaries</span></a>
			</li>
			<li class="list-item active">
				<a href="myAccount_complaintStatus.shtml"><span class="icon"></span>
					<span class="nav-title"><span class="bold">complaint</span> status</span></a>
			</li>
			<li class="list-item">
				<a href="#"><span class="icon"></span>
					<span class="nav-title"><span class="bold">logout</span></span></a>
			</li>
		</ul>
	</div>
</div>