<div class="container-fluid one-col-layout">
	<div class="container">
		<div class="checkoutPlanWrap">
			<div class="mascot">
				<img alt="mascot" src="images/mascot.svg">
			</div>
			<div class="checkoutPlanContent">
				<h2 class="section-title"><span class="bold">choose a </span> plan layout</h2>
				<ul>
					<li>
						<div class="radioBox-wrap">
							<input type="radio" name="plan" id="input1" />
							<label for="input1">lumpsum payout</label>
						</div>
						<div class="tooltip-cont-wrap">
							<span class="icon" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the"></span>
						</div>	
					</li>
					<li>
						<div class="radioBox-wrap">
							<input type="radio" name="plan" id="input2"/>
							<label for="input2">income benefit</label>
						</div>
						<div class="tooltip-cont-wrap">
							<span class="icon" title="Lorem Ipsum is simply dummy"></span>
						</div>	
					</li>
					<li>
						<div class="radioBox-wrap">
							<input type="radio" name="plan" id="input3"/>
							<label for="input3">combination payout</label>
						</div>
						<div class="tooltip-cont-wrap">
							<span class="icon" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry the"></span>
						</div>	
					</li>
					<li>
						<div class="action-wrapper">
							<button type="button" class="btn btn-orange btn-md pull-left"><span class="bold">next</span>
			                </button>
			            </div>
			            <a href="#" class="disclam"> disclaimer </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>