<div class="container-fluid one-col-layout wealthAccumRiders">
	<div class="container">
		<div class="col-md-17">
			<div class="table-wrap col-md-24 col-sm-24 form-wrap">
			<table border="0" cellspacing="0" cellpadding="0">
				<col width="40%">
				<col width="10%">
				<col width="25%">
				<col width="25%">
				<tbody>
					<tr>
					    <th>additional benefit </th>
					    <th></th>
					    <th>rider cover amount</th>
					    <th>rider premium</th>
					</tr>
					<tr>
					    <td>
					    	<label class="table-feild-title mobile-cont">additional benefit :</label>
					    	<div class="checkbox-wrap">
						    	<input type="checkbox" id="input1" name="input" />
						    	<label for="input1">Edelweiss Tokio Life accidental total and permanent disabiltiy rider</label>
					    	</div>
					    </td>
					    <td>
					    	<div class="icon-wrap">
						    	<a href="#" class="icon pdf">pdf</a>
						    	<div class="tooltip-cont-wrap">
									<span class="icon" title="Lorem Ipsum is simply dummy text of the p"></span>
								</div>
							</div>
						</td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider cover amount</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider premium</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					</tr>
					<tr>
					    <td>
					    	<label class="table-feild-title mobile-cont">additional benefit :</label>
					    	<div class="checkbox-wrap">
						    	<input type="checkbox" id="input2" name="input" />
						    	<label for="input2">Edelweiss Tokio Life death benefit rider</label>
					    	</div>
					    </td>
					    <td>
					    	<div class="icon-wrap">
						    	<a href="#" class="icon pdf">pdf</a>
						    	<div class="tooltip-cont-wrap">
									<span class="icon" title="Lorem Ipsum is simply dummy text of the p"></span>
								</div>
							</div>
						</td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider cover amount</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider premium</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					</tr>
					<tr>
					    <td>
					    	<label class="table-feild-title mobile-cont">additional benefit :</label>
					    	<div class="checkbox-wrap">
						    	<input type="checkbox" id="input3" name="input" />
						    	<label for="input3">Edelweiss Tokio Life waiver of premium rider</label>
					    	</div>
					    </td>
					    <td>
					    	<div class="icon-wrap">
						    	<a href="#" class="icon pdf">pdf</a>
						    	<div class="tooltip-cont-wrap">
									<span class="icon" title="Lorem Ipsum is simply dummy text of the p"></span>
								</div>
							</div>
						</td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider cover amount</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					    <td>
					    	<label class="table-feild-title mobile-cont">rider premium</label>
					    	<span class="form-item">
					    	<input type="text" name="description"/></span>
					    </td>
					</tr>
					<tr>
					  	<td colspan="4">
					  		<div class="checkbox-wrap">
						  		<input type="checkbox" id="input4" name="input" />
						    	<label for="input4">None</label>
						    </div>
					  	</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<h3 class="section-title"><span class="bold">choose a plan layout</span></h3>
			<div class="checkoutPlanContent checkoutPlanBtns">
				<ul>
					<li>
						<div class="action-wrapper">
							<button type="button" class="btn btn-orange btn-md"><span class="bold">pay </span> now
			                </button>
			            </div>
					</li>
					<li>
						<div class="action-wrapper">
							<button type="button" class="btn btn-md"><span class="bold">proceed and </span> pay later
			                </button>
			            </div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>