<div class="container-fluid one-col-layout downloadandBI">
	<div class="container">
		<div class="checkoutPlanWrap">
			<div class="mascot">
				<img alt="mascot" src="images/mascot.svg">
			</div>
			<div class="checkoutPlanContent checkoutPlanBtns">
				<ul>
					<li>
						<div class="action-wrapper">
							<button type="button" class="btn btn-orange btn-md"><span class="bold">Download </span> pdf
			                </button>
			            </div>
					</li>
					<li>
						<div class="action-wrapper">
							<button type="button" class="btn btn-md"><span class="bold">Confirm &amp;</span> proceed
			                </button>
			            </div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>