<div class="msg-wrap">
	<div class="mascot">
		<img src="images/home_section1_slide1_infography.png" alt="mascot">
	</div>
	<div class="msg">
		<h3 class="page-sub-title"><span class="bold">sorry no </span> results found</h3>
		<p class="quote">I used to make a list of things to achieve every new year Until I realized it was easier to just reuse last year’s list</p>
	</div>
</div>
<div class="related-listing">
	<h4 class="page-sub-title">suggested popular search link</h4>
	<ul>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
		<li ><a class="mod-title" href="#">lorem ipsum dolor set question mark, doloe set question. lorem ipsum dolor set question mark.</a></li>
	</ul>
</div>