<div class="container-fluid">
	<div class="container career-msg">
		<div class="mascot">
			<img alt="mascot" src="images/home_section1_slide1_infography.png">
		</div>
		<div class="quote">
			<h3 class="mod-title"><span class="bold">opportunities</span> dont happen, you <span class="bold">create</span> them</h3>
		</div>
	</div>
</div>