<div class="opening-listing col-sm-16">
    <ul>
        <li>
            <div class="opening-post-item">
                <div class="post-info">
                    <div class="post-head">
                        <h3 class="mod-title">
                             <span>chief executive officer</span></h3>
                        <p>Expected years of experience: 0-5 years</p>
                        <p>Date of posting: 13th November, 2015</p>
                        <a href="#" class="btn btn-orange btn-xs" data-target="#careerapply" data-toggle="modal">
                            <span class="bold">apply </span>now
                        </a>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
                </div>
                <div class="post-detail-cont">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <a class="know-more-icon"  href="#"></a>
            </div>
        </li>
        <li>
            <div class="opening-post-item">
                    <div class="post-info">
                        <div class="post-head">
                            <h3 class="mod-title">
                                 <span>chief executive officer</span></h3>
                            <p>Expected years of experience: 0-5 years</p>
                            <p>Date of posting: 13th November, 2015</p>
                             <a href="#" class="btn btn-orange btn-xs" data-target="#careerapply" data-toggle="modal">
                            <span class="bold">apply </span>now
                        </a>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
                    </div>
                    <div class="post-detail-cont">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <a class="know-more-icon"  href="#"></a>
            </div>
        </li>
        <li>
            <div class="opening-post-item">
                <div class="post-info">
                    <div class="post-head">
                        <h3 class="mod-title">
                             <span>chief executive officer</span></h3>
                        <p>Expected years of experience: 0-5 years</p>
                        <p>Date of posting: 13th November, 2015</p>
                        <a href="#" class="btn btn-orange btn-xs" data-target="#careerapply" data-toggle="modal">
                            <span class="bold">apply </span>now
                        </a>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
                </div>
                <div class="post-detail-cont">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <a class="know-more-icon"  href="#"></a>
            </div>
        </li>
    </ul>
    <a href="#" class="more-apply">
        <span class="add-icon"></span>
        <span>Did not find your desired designation , tap to apply ?</span>
    </a>
</div>
<div class="col-sm-8">
    <div class="career-attribute">
        <ul class="owl-carousel">
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">work</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">work</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">work</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="career-attribute">
        <ul class="owl-carousel">
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">social</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">social</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="news-item with-overlay">
                    <div class="news-head">
                        <a href="#">
                            <span class="mod-title">
                                    <span class="bold">social</span> culture
                            </span>
                        </a>
                        <div class="news-media">
                            <img alt="test" src="images/career-designation-1.jpg">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>