<div class="profile-wrapper">
	<div class="col-sm-7">
		<div class=" profile-img">
			<img src="images/profile-1.jpg" alt="designation">
		</div>
	</div>
	<div class="col-sm-8">
		<div class="profile-desc">
			<h4 class="mod-title">Deepak Mittal</h4>
			<h5 class="sub-title">chief executive officer</h5>
			<p>Lorem Ipsum is simply dummy text of the printingand typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="profile-dept">
			<h4 class="mod-title"><span class="bold">our</span> department</h4>
			<ol>
				<li>marketing</li>
				<li>sales</li>
				<li>information Technology</li>
				<li>legal</li>
				<li>marketing</li>
				<li>sales</li>
				<li>information Technology</li>
				<li>legal</li>
				<li>marketing</li>
				<li>sales</li>
			</ol>
		</div>
	</div>
</div>
