<div class="detail_banner advisor-banner">
    <div class="container">
        <div class="owl-carousel">
            <div><img src="images/advisor.jpg" alt="advisor_banner"></div>
            <div><img src="images/advisor.jpg" alt="advisor_banner"></div>
            <div><img src="images/advisor.jpg" alt="advisor_banner"></div>
        </div>
    </div>
</div>

<div class="advisor-content-wrap theme-grey">
    <div class="container">
        <div class="row advisor-listing">
            <div class="col-md-6 col-xs-24 list-item">
                <a href="#" class="mod-title" data-target="#be_an_advisor" data-toggle="modal">
                    <span class="bold line-break">who </span>can be an advisor ?
                </a>
                <p>Lorem ipsum dolor sit amet,  elit. Suspendisse faucibus rutrum magna, ut tempor mauris.</p>
                <a class="more-btn-icon blue-icon" href="#" data-target="#be_an_advisor" data-toggle="modal"></a>
            </div>
            <div class="col-md-6 col-xs-24 list-item">
                <a href="#" class="mod-title" data-target="#why_choose_us" data-toggle="modal">
                    <span class="bold line-break">why </span>choose us
                </a>
                <p>Lorem ipsum dolor sit amet,  elit. Suspendisse faucibus rutrum magna, ut tempor mauris. Lorem ipsum dolor sit amet,  elit. Suspendisse faucibus rutrum magna, ut tempor mauris.</p>
                <a class="more-btn-icon blue-icon" href="#" data-target="#why_choose_us" data-toggle="modal"></a>
            </div>
            <div class="col-md-6 col-xs-24 list-item">
                <a href="#" class="mod-title" data-target="#advisor" data-toggle="modal">
                    <span class="bold line-break">join us </span>as an advisor
                </a>
                <p>Lorem ipsum dolor sit amet,  elit. Suspendisse faucibus rutrum magna, ut tempor mauris.</p>
                <a class="more-btn-icon blue-icon" href="#" data-target="#advisor" data-toggle="modal"></a>
            </div>
            <div class="col-md-6 col-xs-24 list-item">
                <a href="#" class="mod-title">
                    <span class="bold line-break">agent </span>login
                </a>
                <p>Lorem ipsum dolor sit amet,  elit. Suspendisse faucibus rutrum magna, ut tempor mauris.</p>
                <a class="more-btn-icon blue-icon" href="#"></a>
            </div>
        </div>
    </div>
</div>

