<div class="container">
	<div class="section-head">
        <label><span class="bold">download </span> factsheet</label>
  </div>
	<div class="circular-carousel-wrap download-factsheet one-col-layout">
        <div class="title-year circular-carousel-tab">
            <ul>
                <li class="nav-link-list">
                    <a class="nav-link-cont" href="#">2013</a>
                </li>
                <li class="nav-link-list ">
                    <a class="nav-link-cont" href="#">2014</a>
                </li>
                <li class="nav-link-list center">
                    <a class="nav-link-cont" href="#">2015</a>
                </li>
                <li class="nav-link-list">
                    <a class="nav-link-cont" href="#">2016</a>
                </li>
                <li class="nav-link-list">
                    <a class="nav-link-cont" href="#">2017</a>
                </li>
            </ul>
        </div>
        <div class="navigator">
            <a class="btn-prev" href="#">prev </a>
            <a class="btn-next" href="#">next</a>
        </div>
        <div class="active-tab">
            <a href="#">2015</a>
        </div>
        <div class="payment-wrapper download-wrapper nav-cont circular-carousel-cont">
            <ul>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>january<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>february<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>march<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>april<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>may<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>june<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>july<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>august<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>september<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>october<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>november<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>december<span class="year"> 2013</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                    </ul>
                </li>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>january<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>february<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>march<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>april<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>may<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>june<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>july<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>august<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>september<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>october<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>november<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>december<span class="year"> 2014</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                    </ul>
                </li>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>january<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>february<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>march<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>april<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>may<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>june<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>july<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>august<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>september<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>october<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>november<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>december<span class="year"> 2015</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                    </ul>
                </li>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>january<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>february<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>march<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>april<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>may<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>june<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>july<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>august<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>september<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>october<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>november<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>december<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                    </ul>
                </li>
                <li class="download-listing nav-cont-list">
                    <ul>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>january<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>february<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>march<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>april<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>may<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>june<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>july<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>august<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>september<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>october<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>november<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                        <li class="download-item">
                            <span class="download-icon"></span>
                            <h2 class="download-head">
                               <a class="download-title" href="#">
                               <span>december<span class="year"> 2016</span></span>
                               <span class="sub-head">FUND FACT SHEET</span>
                               </a>
                            </h2>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>