<div class="container">
	<div class="section-head">
        <label><span class="bold">market </span> outlook</label>
    </div>
</div>
<div class="container market-outlook-wrap">
	<div class="tab-with-line tabs">
		<div class="tab-link-wrap desktop-cont">
			<ul class="nav-tab-link">
				<li class="tab-title tab-link active">
					<a href="#"><span class="bold">equity </span><span> fund</span></a>
				</li>
				<li class="tab-title tab-link">
					<a href="#"><span class="bold">debt </span><span> markets</span></a>
				</li>
			</ul>
		</div>
		<div class="tab-content-wrap">
			<div class="tab-content">
				<div class="row two-col-layout">
					<span class="timestamp">updated on 18/12/2015</span>
					<div class="col-md-8 col-sm-24 lhs">
						<div class="table-wrap">
							<table border="0" cellspacing="0" cellpadding="0">
							  <tr>
							    <th>index</th>
							    <th>&nbsp;</th>
							    <th class="mobile-cont table-field-title main">index</th>
							  </tr>
							  <tr>
							    <td>SENSEX</td>
							    <td>28114.56 (+1.20%)</td>
							  </tr>
							  <tr>
							    <td>NIFTY</td>
							    <td>8532.85 (+1.96%)</td>
							  </tr>
							  <tr>
							    <td>CNX MIDCAP</td>
							    <td>13728.65 (+5.53%)</td>
							  </tr>
							</table>
						</div>
					</div>
					<div class="col-md-14 col-sm-24 rhs">
						<div class="bullet-listing">
							<h3 class="list-sub-title">performance</h3>
							<ul>
								<li>The market had a volatile start for the month on uncertainty around the Greece referendum as well as the continued fall in the Chinese stock market as well as the poor economy numbers</li>
								<li>The markets rallied post that on closure of the Greece crisis and better than expected monsoon perfomance</li>
								<li>Also the fall in Chinese markets helped India with foreign ow coming back to positive in India after being two months in the negative</li>
								<li>Towards the end of the month on back of poor beginning to the monsoon session and barring a few most results performed at par or below market expectations</li>
								<li>Overall the best performing sectoral index was IT with CNX IT increasing by 5% on back of good results of Infosys</li>
								<li>Inspite of the volatile rst week the volatility overall came down for the month of July. It averages below 15 for the last three months</li>
							</ul>
							<h3 class="list-sub-title">economy</h3>
							<ul>
								<li>The ination numbers came in at 5.40% for Jun compared to 5.01% for May, above expectations</li>
								<li>The PMI number for Manufacturing at 51.6 was lower than May and services contraction continued coming in at 47.7</li>
								<li>The IIP numbers came in at 2.70% lower than 4.1% of April. The consumer demand showed some improvement indicated by the auto sales increasing marginally</li>
							</ul>
							<h3 class="list-sub-title">outlook</h3>
							<ul>
								<li>In spite of some good results from major companies like Infosys the overall results were not positive. The Results session will remain in focus and will be deciding factor for the markets.</li>
								<li>The RBI’s august meeting will be important regarding the outlook they present for the economy going forward.</li>
								<li>We expect the nifty to continue to be range bound between 8300-8800 range.</li>
							</ul>
						</div>		
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="row two-col-layout">
					<span class="timestamp">updated on 18/12/2015</span>
					<div class="col-md-8 col-sm-24 lhs">
						<div class="table-wrap">
							<table border="0" cellspacing="0" cellpadding="0">
							  <tr>
							    <th>index</th>
							    <th>&nbsp;</th>
							  </tr>
							  <tr>
							    <td>SENSEX</td>
							    <td>28114.56 (+1.20%)</td>
							  </tr>
							  <tr>
							    <td>NIFTY</td>
							    <td>8532.85 (+1.96%)</td>
							  </tr>
							  <tr>
							    <td>CNX MIDCAP</td>
							    <td>13728.65 (+5.53%)</td>
							  </tr>
							</table>
						</div>
					</div>
					<div class="col-md-14 col-sm-24 rhs">
						<div class="bullet-listing">
							<h3 class="list-sub-title">performance</h3>
							<ul>
								<li>The market had a volatile start for the month on uncertainty around the Greece referendum as well as the continued fall in the Chinese stock market as well as the poor economy numbers</li>
								<li>The markets rallied post that on closure of the Greece crisis and better than expected monsoon perfomance</li>
								<li>Also the fall in Chinese markets helped India with foreign ow coming back to positive in India after being two months in the negative</li>
								<li>Towards the end of the month on back of poor beginning to the monsoon session and barring a few most results performed at par or below market expectations</li>
								<li>Overall the best performing sectoral index was IT with CNX IT increasing by 5% on back of good results of Infosys</li>
								<li>Inspite of the volatile rst week the volatility overall came down for the month of July. It averages below 15 for the last three months</li>
							</ul>
							<h3 class="list-sub-title">economy</h3>
							<ul>
								<li>The ination numbers came in at 5.40% for Jun compared to 5.01% for May, above expectations</li>
								<li>The PMI number for Manufacturing at 51.6 was lower than May and services contraction continued coming in at 47.7</li>
								<li>The IIP numbers came in at 2.70% lower than 4.1% of April. The consumer demand showed some improvement indicated by the auto sales increasing marginally</li>
							</ul>
							<h3 class="list-sub-title">outlook</h3>
							<ul>
								<li>In spite of some good results from major companies like Infosys the overall results were not positive. The Results session will remain in focus and will be deciding factor for the markets.</li>
								<li>The RBI’s august meeting will be important regarding the outlook they present for the economy going forward.</li>
								<li>We expect the nifty to continue to be range bound between 8300-8800 range.</li>
							</ul>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>