<div class="container">
	<div class="section-head">
        <label><span class="bold">nav </span> history</label>
    </div>
</div>
<div class="nav-history two-col-layout">
	<div class="container">
		<div class="lhs col-md-8 col-sm-24">
			<div class="form-wrap">
				<ul class="form-list">
					<li>
						<div class="form-item">
							<div class="date-select-wrap row">
								<div class="date-select-wrap form-wrap from-to-dp row">
								<div class="form-item col-md-11 col-sm-11 col-xs-11">
									<div class="date-select">
										<label class="field-title">from date</label>
										<div class="calender-wrap">
											<div class="input-append date fromInput" id="datetimepicker3" >
										        <input class="span2 form-control" size="16" type="text" >
										        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
										    </div>   
										</div>
									</div>
								</div>
								<div class="form-item col-md-11 col-sm-11 col-xs-11 col-sm-offset-2 col-md-offset-2 col-xs-offset-2">
									<div class="date-select">
										<label class="field-title">to date</label>
										<div class="calender-wrap">
											<div class="input-append date toInput" id="datetimepicker1" >
										        <input class="span2" size="16" type="text" >
										        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
										    </div>   
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</li>
					<li>
						<div class="form-item">
                            <label class="field-title">select fund</label>
                            <div class="select-category">
                                <select class="select-box">
                                    <option>Maharastra</option>
                                    <option>Delhi</option>
                                </select>
                            </div>
                        </div>
					</li>
				</ul>
			</div>
		</div>
		<div class="rhs  col-md-16 col-sm-24">
		    <div class="table-wrap nav-history-table">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
				    <th>date</th>
				    <th>fund name (SIFN id)</th>
				    <th>nav</th>
				    <th class="mobile-cont table-field-title main">result</th>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
				<tr>
				    <td>
				    	<label class="table-field-title">date :</label>
				    	<span>20/11/2015</span>
				    </td>
				    <td>
				    	<label class="table-field-title">fund name (SIFN id) :</label>
				    	<span>Bond Fund (ULIF00317/08/11BONDFUND147)</span>
				    </td>
				    <td>
				    	<label class="table-field-title">nav :</label>
				    	<span>14.9882</span>
				    </td>
				</tr>
			</table>
			
            </div>
            <div class="action-wrapper">
				<button type="button" class="btn btn-orange btn-md">
                    <span class="bold">download </span> details
                </button>
            </div>
		</div>
	</div>
</div>