<div class="container">
	<div class="section-head">
        <label><span class="bold">fund </span> snapshot</label>
    </div>
</div>
<div class="tab-with-line">
	<div class="tab-link-wrap desktop-cont">
		<ul class="nav-tab-link container">
			<li class="tab-title tab-link active">
				<a href="#"><span class="bold">bond </span><span>fund</span></a>
			</li>
			<li class="tab-title tab-link">
				<a href="#"><span class="bold">money market </span><span>fund</span></a>
			</li>
			<li class="tab-title tab-link">
				<a href="#"><span class="bold">equity large cap </span><span>fund</span></a>
			</li>
			<li class="tab-title tab-link">
				<a href="#"><span class="bold">equity top 250 </span><span>fund</span></a>
			</li>
			<li class="tab-title tab-link">
				<a href="#"><span class="bold">managed </span><span>fund</span></a>
			</li>
			<li class="tab-title tab-link">
				<a href="#"><span class="bold">price earning based </span><span>fund</span></a>
			</li>
		</ul>
	</div>
	<div class="tab-content-wrap">
		<div class="tab-content">
			<div class="container">
				<div class="row fund-snapshot-wrap two-col-layout">
					<div class="graph-wrap col-md-15 col-sm-24 lhs">
						<div class="risk-meter level1 pull-right">
							<span class="meter-icon"></span>
							<span class="meter-text">Low Risk Level</span>
						</div>
						<div class="col-sm-24">
							<div id="fund_bargraph1" class="ct-chart ct-chart-bar custom-bar-chart fund_bargraph"></div>
						</div>	
					</div>
					<div class="col-md-8 col-sm-24 rhs">
						<div class="filter-section theme-grey">
							<h3 class="mod-title"><span class="bold">check returns</span> for your investement</h3>
							<p class="text">Provide details below and check the performance for your investment.</p>
							<div class="slider-wrap">
								<label>your investment amount</label>
								<!-- <img src="images/dummy_slider.png" alt="dummy_slider"> -->
								<div class="basic-slider slider before-after fund-slider">
									<div class="slider-default-val">
										<span class="first">1L</span>
										<span class="last">10L</span>
									</div>
								</div>
							</div>
							<div class="click-selection">
							<div class="checkbox-wrap">
								<input id="option" type="checkbox" name="field" value="option">
								<label for="option">check returns for specific period</label>
							</div>
							<div class="date-select-wrap form-wrap from-to-dp row click-open-box">
								<div class="form-item col-md-11 col-sm-12">
									<div class="date-select">
										<label class="field-title">from date</label>
										<div class="calender-wrap">
											<div class="input-append date fromInput" id="datetimepicker3" >
										        <input class="span2 form-control" size="16" type="text" >
										        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
										    </div>   
										    
										</div>
									</div>
								</div>
								<div class="form-item col-md-11 col-sm-12 col-sm-offset-1 col-md-offset-1">
									<div class="date-select">
										<label class="field-title">to date</label>
										<div class="calender-wrap">
											<div class="input-append date toInput" id="datetimepicker1" >
										        <input class="span2" size="16" type="text" >
										        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
										    </div>   
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="snapshot-info theme-grey">
				<div class="container">
					<ul>
						<li class="col-md-9 col-xs-24">
							<h3 class="mod-title"><span class="bold">asset</span> allocation</h3>
							<div class="ct-chart ct-pie-bar custom-pie-chart fund_piegraph pull-left" id="fund_piegraph1"></div>
							<ul class="legend-wrap pie-legend">
							   <li>
							   <span class="count">60%</span>
							     In Equity
							   </li>
							   <li> 
							   <span class="count">40%</span>
							     In Debt
							   </li>
							</ul>
						</li>
						<li class="col-md-7 col-xs-24">
							<h3 class="mod-title"><span class="bold">fund </span> objectives</h3>
							<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus. Ut eu leo nec enim suscipit laoreet id sed mi. Suspendisse hendrerit metus sit amet sapien suscipit, at semper enim aliquam.</p>
						</li>
						<li class="col-md-8 col-xs-24">
							<h3 class="mod-title"><span class="bold">suitable investor </span> type</h3>
							<ol>
								<li>Investor type Lorem</li>
								<li>Type Lorem</li>
								<li>Other type ipsum</li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
