<div class="container">
	<div class="section-head">
        <label><span class="bold">download </span> factsheet</label>
    </div>
</div>
<div class="demo-portfolio-wrap two-col-layout">
	<div class="container demo-portfolio">
	   <div class="row">
		<div class="col-md-9 investment-details lhs">
			<div class="mod-title">
				<span class="bold">investment </span>
				details
			</div>     
			<div class="filter-section theme-grey row">
				<div class="slider-wrap">
					<label>your investment amount</label>
					<div class="basic-slider slider before-after fund-slider">
						<div class="slider-default-val">
							<span class="first">1L</span>
							<span class="last">10L</span>
						</div>
					</div>
				</div>
				<div class="click-selection">
					<div class="checkbox-wrap">
						<input id="option" type="checkbox" name="field" value="option">
						<label for="option">check returns for specific period</label>
					</div>
					<div class="date-select-wrap form-wrap from-to-dp row click-open-box">
						<div class="form-item col-md-11 col-sm-12">
							<div class="date-select">
								<label class="field-title">from date</label>
								<div class="calender-wrap">
									<div class="input-append date fromInput" id="datetimepicker3" >
								        <input class="span2 form-control" size="16" type="text" >
								        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
								    </div>   
								    
								</div>
							</div>
						</div>
						<div class="form-item col-md-11 col-sm-12 col-sm-offset-1 col-md-offset-1">
							<div class="date-select">
								<label class="field-title">to date</label>
								<div class="calender-wrap">
									<div class="input-append date toInput" id="datetimepicker1" >
								        <input class="span2" size="16" type="text" >
								        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
								    </div>   
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 allocate-funds rhs">
			<div class="mod-title">
				<span class="bold">allocate </span>
				funds
			</div>
			<div class="status-wrap">
				<label><span class="range">100%</span> (error message)</label>
			</div>
			<ul class="row slider-box-wrap">
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level1"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level1"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level2"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level2"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level3"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level3"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level4"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level4"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level5"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level5"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-8 col-sm-24">
					<div class="slider-box">
						<h4 class="mod-title col-md-20 col-sm-20">
							<span class="bold">price earning based</span>
							<span class="line-break">fund</span>
						</h4>
						<div class="col-md-4 col-sm-4 indicator risk-meter risk-meter-small">
							<span class="meter-icon level3"></span>
							<div class="indicator-content hidden">
								<div class="tool-tip-indicator">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel ecitur. Ut euismod eget nibh a dapibus.</p>
									<div class="indicator-icon risk-meter risk-meter-big ">
										<span class="meter-icon level3"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-24">
							<div class="slider-wrap">
								<div class="orange-slider slider fund-demo"></div>
								<div class="slider-default-val">
									<span class="first">10%</span>
									<span class="last">10,000</span>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		</div>
		<div class="row">
		<div class="ct-chart ct-chart-bar custom-bar-chart fund_bargraph_portfolio"></div>
		</div>
	</div>
</div>