<div class="container">
	<div class="section-head">
        <label><span class="bold">investment </span> philosophy</label>
    </div>
	<div class="investment-wrap one-col-layout">
		<div class="data-listing-wrap">
			<ul class="data-listing">
				<li class="list-item counter-list col-sm-8">
					<h4 class="data-head"><span class="bold">lorem ipsum</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel citur. Ut euismod eget nibh a dapibus.</p>
				</li>
				<li class="list-item counter-list col-sm-8">
					<h4 class="data-head"><span class="bold">lorem ipsum</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel citur. Ut euismod eget nibh a dapibus.</p>
				</li>
				<li class="list-item counter-list col-sm-8">
					<h4 class="data-head"><span class="bold">lorem ipsum</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel citur. Ut euismod eget nibh a dapibus.</p>
				</li>
				<li class="list-item counter-list col-sm-8">
					<h4 class="data-head"><span class="bold">lorem ipsum</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel citur. Ut euismod eget nibh a dapibus.</p>
				</li>
				<li class="list-item counter-list col-sm-8">
					<h4 class="data-head"><span class="bold">lorem ipsum</span></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere non tellus vel citur. Ut euismod eget nibh a dapibus.</p>
				</li>
			</ul>
		</div>
	</div>
</div>