<ul class="product-list equalizer-height">
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title">
                <span class="bold">edelweiss tokio life</span>
                <span class="line-break">group accidental death & dismemberment benefit rider </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life – Group Accidental Death and Dismemberment Benefit Rider provides full rider sum assured in lumpsum. On death due to accident and on dismemberment due to accident, full or a proportion of rider sum assured is payable in lump...</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">accidental death benefit rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life -Accidental Death Benefit Rider provides for additional financial security in case any accident occurs. Also, the benefit is payable in lumpsum..</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">accidental total & permanent disability rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life -Accidental Total and Permanent Disability Rider provides you with a lump sum to cater to your immediate expenses in case your income earning capacity is hindered due to an accidental disability (total & permanent).</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>

    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">term rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Term Rider provides you with a lumpsum amount in addition to the base plan cover to provide increased security to your family</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">Critical Illness Rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Critical Illness Rider Provides you with a lumpsum to cater to your immediate expenses in case your income earning capacity is hindered in the event of critical illness</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">hospital cash benefit rider
                        </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life -Hospital Cash Benefit Rider provides for daily allowance as well as post hospitalization benefits ,in case of hospitalization of the policyholder.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>

    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">payor waiver benefit rider
                        </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life -Payor Waiver Benefit Rider waives off future premiums in case of death, critical illness or total and permanent disability due to accident of the proposer (payor) so that the life assured continues to get the benefits</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">group accidental total and permanent disability rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Group Accidental Total and Permanent Disability Rider provides you the full rider sumassured in lumpsum, in the event of total and permanent disability due to accident.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">Group Total and Permanent Disability Rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Group Total and Permanent Disability Rider provides you the full rider sum assured in lumpsum in the event of total and permanent disability due to accident or sickness.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>

    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">Group Extended Critical Illness Rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Group Extended Critical Illness Rider provides you the full rider sum assured in lumpsum on diagnosis of any one of the 12 critical illnesses like Cancer,Heart Attack or Kidney Failure.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">Group Accidental Death Benefit Rider
                        </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life – Group Accidental Death Benefit Rider provides you the full rider sum assured in lumpsum in the event of death due to accident.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">Group Accidental Death & Dismemberment Benefit Rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life – Group Accidental Death and Dismemberment Benefit Rider provides full rider sum assured in lumpsum. On death due to accident and on dismemberment due to accident, full or a proportion of rider sum assured is payable in lump...</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>

    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">income benefit rider</span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life – Income Benefit Rider ensures your family has continuity of regular income even in your absence</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item blue">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">ggroup hospital cash benefit rider
                        </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life- Group Hospital Cash Benefit Rider provides daily cash benefits, ICU benefits and recuperative benefits in the event of hospitalization.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title"><span class="bold">edelweiss tokio life</span><span class="line-break">group critical illness rider
                        </span></h3>
            </div>
            <div class="product-desc">
                <p>Edelweiss Tokio Life – Group Critical Illness Rider provides you the full rider sum assured is payable in lumpsum on diagnosis of any one of the 6 critical illnesses like Cancer , Heart Attack or Kidney Failure.</p>
            </div>
            <div class="product-act-btn">
                <a class="act-btn-next act-btn" href="#">&nbsp;</a>
            </div>
        </div>
    </li>
</ul>
