<ul class="product-list equalizer-height">
    <li class="product-item-wrap col-sm-8">
        <div class="product-item equalizer-item orange">
            <div class="product-head-wrap">
                <h3 class="mod-title">
                <span class="bold">Edelweiss Tokio Life </span>
                <span class="line-break">CritiCare+</span></h3>
            </div>
            <div class="product-desc">
                <h4 class="desc-title">Lorem Ipsum is simply</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
            </div>
            <div class="product-act-btn">
               <a href="#" class="act-btn-next act-btn">&nbsp;</a>
               <a href="#" class="act-btn-buy act-btn">&nbsp;</a>
            </div>
        </div>
    </li>
</ul>
