<div class="tab-with-line tabs">
    <div class="tab-link-wrap desktop-cont">
        <ul class="nav-tab-link">
            <li class="tab-title tab-link active">
                <a href="#"><span class="bold">education </span><span> planning</span></a>
            </li>
            <li class="tab-title tab-link">
                <a href="#"><span class="bold">retirement </span><span> planning</span></a>
            </li>
            <li class="tab-title tab-link">
                <a href="#"><span class="bold">growth </span><span> planning</span></a>
            </li>
        </ul>
    </div>
    <div class="tab-content-wrap">
        <div class="tab-content">
            <ul class="product-list equalizer-height">
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">EduSave</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <ul class="product-list equalizer-height">
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Cashflow Protection Plus</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Pension Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Immediate Annuity Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Cash Income Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Triple Advantage Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Cash Income Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Triple Advantage Plan</span></h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <ul class="product-list equalizer-height">
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Wealth Accumulation</span>
                            <span class="line-break">(Accelerated Cover)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, whenLorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                           <a href="#" class="act-btn-buy act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Wealth Builder</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, whenLorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                           <a href="#" class="act-btn-buy act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Safe n Sure Plan (WA)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Wealth Accumulation</span>
                            <span class="line-break">(Cover Plus)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            </p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Wealth Accumulation (Privilege)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">GCAP</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Dhan Labh</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Cashflow Protection Plus</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Wealth Accumulation</span>
                            <span class="line-break">(Accelerated Cover)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item blue">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Guaranteed Income Plan</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
                <li class="product-item-wrap col-sm-8">
                    <div class="product-item equalizer-item orange">
                        <div class="product-head-wrap">
                            <h3 class="mod-title">
                            <span class="bold">Edelweiss Tokio Life </span>
                            <span class="line-break">Save n Prosper (WA)</span>
                            </h3>
                        </div>
                        <div class="product-desc">
                            <h4 class="desc-title">Lorem Ipsum is simply</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                        </div>
                        <div class="product-act-btn">
                           <a href="#" class="act-btn-next act-btn">&nbsp;</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
