<h4 class="page-sub-title"><span class="bold">rider </span>features</h4>
<div class="feature-list">
    <ul class="equalizer-height feature-row">
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">01</label>
                <h5 class="mod-title">
                 <span class="bold">entry age</span> (last birthday)</h5>
                <p>18 to 65 years</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">02</label>
                <h5 class="mod-title"><span class="bold">maturity age </span>(last birthday)</h5>
                <p>23 to 70 years</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">03</label>
                <h5 class="mod-title"><span class="bold">rider term*</span></h5>
                <p>5 to 52 years</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">04</label>
                <h5 class="mod-title"><span class="bold">premium paying term #</span></h5>
                <p>Single, limited pay (5-51 years) & regular pay</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">05</label>
                <h5 class="mod-title"><span class="bold">minimum premium</span></h5>
                <p><span class="inr">rs</span> 101/-</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">06</label>
                <h5 class="mod-title"><span class="bold">maximum premium</span></h5>
                <p>Limit; based on age, gender, pt, ppt and sum assurred.However,total rider premium along with other riders premium should not exceed 30% of thdivbase plan premium.</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">07</label>
                <h5 class="mod-title"><span class="bold">minimum sum assured</span></h5>
                <p><span class="inr">rs</span> 75,000/-</p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">08</label>
                <h5 class="mod-title"><span class="bold">maximum sum assured</span></h5>
                <p>No Limit, However,Rider sum assured cannot be higher than sum assured of the base plan.
                </p>
                </div>
            </div>
        </li>
        <li class="feature-item-wrap col-sm-8">
            <div class="feature-item equalizer-item">
               <div class="feature-cont">
                <label class="item-no">09</label>
                <h5 class="mod-title"><span class="bold">frequency of payment</span></h5>
                <p>Same as base plan. Any premium rebate or modal factors will also be same as the base Plan.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="feature-text">
    <p>* Rider term will be same as the base plan, subject to maximum maturity age of 70. If the entry age plus base plan term is beyond age 70, the rider would be of term 70 less entry age. Rider can be attached on any policy anniversary. In such case the rider term would be equal to the remaining base policy term.</p>
    <p># Rider Premium paying term will be same as premium paying term of the base plan. If the entry age plus base plan premium paying term is beyond age 70, the rider premium paying term would be 70 less entry age. When rider is attached subsequent to policy issuance, the rider premium paying term would be equal to remaining premium paying term of the base policy.</p>
</div>

