<div class="col-sm-14 info">
    <p>This rider ensures your family has continuity of regular income even in your absence.
    </p>
    <label>UIN No.: 147B015V01</label>
</div>
<div class="col-sm-10 info-links">
    <a href="#">
        <span class="feature-icon rates"></span>
        <span class="feature-text"><span class="bold">rider</span> rates</span>
    </a>
    <a href="#">
        <span class="feature-icon conatact"></span>
        <span class="feature-text"><span class="bold">sample policy</span> contract</span>
    </a>
    <a href="#">
        <span class="feature-icon brocure"></span>
        <span class="feature-text"><span class="bold">rider</span> brochure</span>
    </a>
</div>