<div class="helper-app-nav-wrap dock-wrap desktop-cont">
    <div class="helper-app-nav">
        <ul>
            <li>
                <a href="#">
                    <span class="icon yourNeed"></span>
                </a>
                <span class="tooltip-wrap">
                    <p class="tooltip-cont">know your neds</p>
                </span>
            </li>
            <li>
                <a class="calculator-wrap popup-wrap" href="#">
                    <span class="icon calculator"></span>
                </a>
                <span class="tooltip-wrap">
                    <p class="tooltip-cont">need calculator</p>
                </span>
            </li>
            <li>
                <a class="free-quote-wrap popup-wrap" href="#">
                    <span class="icon freeQuote"></span>
                </a>
                <span class="tooltip-wrap">
                    <p class="tooltip-cont">get a free quote</p>
                </span>
            </li>
        </ul>
    </div>
</div>