<div class="banner-wrap">
    <ul class="owl-carousel">
        
        <!-- <li>
            <a href="#"><img src="images/home-banner4.png" alt="home-banner2"></a>
        </li> -->
        <li class="slide-one">
            <div class="slide-cont">
                <div class="slide-title title-info-wrap">
                    <h3 class="mod-title"> 
                     <span class="bold">hey</span> there !</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dolores est voluptatum, ea odio blanditiis.</p>
                </div>
                <a href="#" class="slide-action">
                    <img src="images/home_section1_slide1_action.png">
                </a>
                <div class="slide-infography">
                    <img src="images/home_section1_slide1_infography.png">
                </div>
            </div>
        </li>
        <li class="slide-one banner2">
            <div class="slide-cont">
                <div class="slide-title title-info-wrap">
                    <h3 class="mod-title"> 
                        <span class="bold">genuine claims</span>
                        <span class="line-break">deserves prompt settlement</span>
                    </h3>
                    <p>We shall settle all bonafide claims within 24 hours*. Any delay * & we shall pay interest at 10% p.a.</p>
                    <a class="more" href="#"><span class="bold">know </span> more</a>
                </div>
                
                <div class="slide-infography">
                    <img src="images/home_banner2_infography.png">
                </div>
            </div>
        </li>
        <li class="slide-one">
            <div class="slide-cont">
                <div class="slide-title title-info-wrap">
                    <h3 class="mod-title"> 
                    <span class="bold">hey</span> there !</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dolores est voluptatum, ea odio blanditiis.</p>
                </div>
                <div class="slide-action">
                </div>
                <div class="slide-infography">
                </div>
            </div>
        </li>
    </ul>
    <div class="slider-nav">
        <ul>
            <li>
                <span class="icon"></span>
                <div class="text-sneak">
                    <div class="slide-toolTip">
                        <div class="img-cont">
                            <img src="images/small-banner1.png" alt="test">
                        </div>
                        <h3 class="text-title">
                                                     <span>brand</span>
                                                     <span>ambassdor</span>
                                                </h3>
                    </div>
                </div>
            </li>
            <li>
                <span class="icon"></span>
                <div class="text-sneak">
                    <div class="slide-toolTip">
                        <div class="img-cont">
                            <img src="images/small-banner2.png" alt="test">
                        </div>
                        <h3 class="text-title">
                                                     <span>brand</span>
                                                     <span>ambassdor</span>
                                                </h3>
                    </div>
                </div>
            </li>
            <li>
                <span class="icon"></span>
                <div class="text-sneak">
                    <div class="slide-toolTip">
                        <div class="img-cont">
                            <img src="images/sliderimg.jpg" alt="test">
                        </div>
                        <h3 class="text-title">
                                                     <span>brand</span>
                                                     <span>ambassdor</span>
                                                </h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="helper-app-nav-wrap">
    <div class="helper-app-nav">
        <ul>
            <li>
                <a href="#" >
                    <span class="icon yourNeed"></span>
                    <span class="text">
                        <span class="bold">know</span>
                        <span>your need</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="calculator-wrap popup-wrap">
                    <span class="icon calculator"></span>
                    <span class="text">
                        <span class="bold">need</span>
                        <span>calculator</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="free-quote-wrap popup-wrap">
                    <span class="icon freeQuote"></span>
                    <span class="text">
                        <span class="bold">get a</span>
                        <span>free quote</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
