<div class="buzz-listing">
    <div class="buzz-item">
        <div class="latest-blog-wrap buzz-section">
            <h3 class='mod-title sec-title'>
               <span class="bold">latest</span> blog
            </h3>
            <div class="buzz-cont">
                <div class="blog-item">
                    <div class="blog-info">
                        <h3 class="mod-title">
                     Best critical illness cover in india
                  </h3>
                        <label class="blog-by">posted by Edelweisss Tokio</label>
                        <label class="timestamp">12 OCT. 2015</label>
                        <p>
                            A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
                        </p>
                        <p>
                            A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.
                        </p>
                    </div>
                    <a href="#" class="btn btn-md">
                        <span class="bold">read more</span>
                    </a>
                    <a class="btn share-icon" href="#">&nbsp;</a>
                </div>
            </div>
        </div>
        <a class="more-btn" href="#">
            <span></span>
        </a>
    </div>
    <div class="buzz-item">
        <div class="news-section buzz-section">
            <h3 class="mod-title sec-title">
               <span class="bold">in the</span>
               <span>news</span>
            </h3>
            <div class="news-listing buzz-cont">
                <ul>
                    <li class="divider">
                        <div class="news-item with-overlay">
                            <div class="news-head">
                                <a href="#">
                                    <span class="mod-title">
                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’
                           </span>
                                </a>
                                <div class="news-media">
                                    <img src="images/newsitem.jpg" alt="test">
                                </div>
                                <label class="timestamp">12 JAN. 2015</label>
                            </div>
                        </div>
                    </li>
                    <li class="divider">
                        <div class="news-item">
                            <div class="news-head">
                                <a href="#">
                                    <span class="mod-title">
                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                           </span>
                                </a>
                                <label class="timestamp">12 JAN. 2015</label>
                            </div>
                        </div>
                    </li>
                    <li class="divider">
                        <div class="news-item">
                            <div class="news-head">
                                <a href="#">
                                    <span class="mod-title">
                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                           </span>
                                </a>
                                <label class="timestamp">12 JAN. 2015</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="more-btn" href="#">
            <span></span>
        </a>
    </div>
    <div class="buzz-item">
        <div class="news-section buzz-section">
            <h3 class="mod-title sec-title">
               <span class="bold">press</span>
               <span>release</span>
            </h3>
            <div class="news-listing buzz-cont">
                <ul>
                    <li class="divider">
                        <div class="news-item">
                            <div class="news-head">
                                <a href="#">
                                    <span class="mod-title">
                           Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                           </span>
                                </a>
                                <label class="timestamp">12 JAN. 2015</label>
                                <div class="news-media">
                                    <img src="images/newsbig.jpg" alt="test">
                                </div>
                            </div>
                            <p>A busy and unhealthy lifestyle comes with serious illnesses and fixing them results into loss of income, change in lifestyle and permanent disability.</p>
                            <a href="#" class="btn btn-md">
                                <span class="bold">read more</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="more-btn" href="#">
            <span></span>
        </a>
    </div>
    <div class="buzz-item">
        <div class="social-connect-listing buzz-section">
            <h3 class="mod-title sec-title mobile-cont">
               <span class="bold">social</span>
               <span>connect</span>
            </h3>
            <div class="buzz-cont">
                <ul>
                    <li class="social-connect-item">
                        <div class="news-item social social-youtube">
                            <a class="news-media" href="#">
                                <img alt="test" src="images/newsbig.jpg">
                                <span class="video-overlay"></span>
                            </a>
                            <a class="text" href="#">A busy and unhealthy lifestyle comes with serious
                     </a>
                            <a href="#" class="social-bar">
                                <span>
                     <span class="social-icon"></span>
                                <span class="text">Added 20 minutes back</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="social-connect-item">
                        <div class="news-item social social-tw">
                            <a class="text" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     </a>
                            <a href="#" class="social-bar">
                                <span>
                     <span class="social-icon"></span>
                                <span class="text">Added 20 minutes back</span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a class="more-btn" href="#">
            <span></span>
        </a>
    </div>
</div>
