<div class="product-list-wrap">
   <ul id="roundCarousel" class="roundabout-holder">
      <li class="list">
         <div class="product-item orange">
            <div class="product-title-wrap">
               <span class="product-icon">
                  <img src="images/product1.svg" alt="product1">
               </span>
               <h3>
                  <span class="bold">Edelweiss</span>
                  <span class="bold">Tokio Life</span>
                  <span>MyLife+</span>
               </h3>
            </div>
            <div class="product-desc">
               <h4>
                  Lorem ipsum is simply
               </h4>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas rerum aut nesciunt nemo, error, nostrum minus quisquam eveniet deleniti.
               </p>
            </div>
            <div class="product-act-btn">
               <a class="act-btn-next act-btn" href="#">&nbsp;</a>
               <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
            </div>
         </div>
      </li>
      <li class="list">
         <div class="product-item">
            <div class="product-title-wrap">
               <span class="product-icon CritiCare"></span>
               <h3>
                  <span class="bold">Edelweiss</span>
                  <span class="bold">Tokio Life</span>
                  <span>CritiCare+</span>
               </h3>
            </div>
            <div class="product-desc">
               <h4>
                  Lorem ipsum is simply
               </h4>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas rerum aut nesciunt nemo, error, nostrum minus quisquam eveniet deleniti.
               </p>
            </div>
            <div class="product-act-btn">
               <a class="act-btn-next act-btn" href="#">&nbsp;</a>
               <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
            </div>
         </div>
      </li>
      <li class="list">
         <div class="product-item orange">
            <div class="product-title-wrap">
               <span class="product-icon wealth"></span>
               <h3>
                  <span class="bold">Edelweiss</span>
                  <span class="bold">Tokio Life</span>
                  <span>Wealth</span>
                  <span>Accumulation</span>
               </h3>
            </div>
            <div class="product-desc">
               <h4>
                  Lorem ipsum is simply
               </h4>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas rerum aut nesciunt nemo, error, nostrum minus quisquam eveniet deleniti.
               </p>
            </div>
            <div class="product-act-btn">
               <a class="act-btn-next act-btn" href="#">&nbsp;</a>
               <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
            </div>
         </div>
      </li>
      <li class="list">
         <div class="product-item">
            <div class="product-title-wrap">
               <span class="product-icon wealth"></span>
               <h3>
                  <span class="bold">Edelweiss</span>
                  <span class="bold">Tokio Life</span>
                  <span>Wealth</span>
                  <span>Builder</span>
               </h3>
            </div>
            <div class="product-desc">
               <h4>
                  Lorem ipsum is simply
               </h4>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas rerum aut nesciunt nemo, error, nostrum minus quisquam eveniet deleniti.
               </p>
            </div>
            <div class="product-act-btn">
               <a class="act-btn-next act-btn" href="#">&nbsp;</a>
               <a class="act-btn-buy act-btn" href="#">&nbsp;</a>
            </div>
         </div>
      </li>
      <li class="list">
         <div class="product-item">
            <div class="product-title-wrap">
               <span class="product-icon more"></span>
               <h3>
                  <span class="bold">Edelweiss</span>
                  <span class="bold">Tokio Life</span>
                  <span>More</span>
                  <span>Products</span>
               </h3>
            </div>
            <div class="product-desc">
               <h4>
                  Lorem ipsum is simply
               </h4>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quas rerum aut nesciunt nemo, error, nostrum minus quisquam eveniet deleniti.
               </p>
            </div>
            <div class="product-act-btn">
               <a class="act-btn-next act-btn" href="#">&nbsp;</a>
               
            </div>
         </div>
      </li>
      
   </ul>
   <a class="prev" href="#"></a>
   <a class="next" href="#"></a>
</div>
<span class="product-bg"></span>
