 <div class="company-intro ">
                            <div class="company-mascot">
                                <img src="images/home_section1_slide1_infography.png">
                            </div>
                            <div class="company-title title-info-wrap">
                                <h3 class="mod-title">
                                       <span class="bold">a new generation</span>
                                       <span class="line-break">insurance company</span>
                                  </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore in aspernatur quisquam tempora nobis obcaecati, nulla reiciendis velit deleniti eos enim officia.</p>
                                <a class="more-btn-icon blue-icon" href="#">&nbsp;</a>
                            </div>
                        </div>
<div class="company-feature ">
    <div class="feature-list">
        <ul class="owl-carousel">
            <li>
                <span class="feature-icon">
                    <img src="images/feature_icon.svg" alt="feature_icon">
                </span>
                <div class="title-info-wrap">
                    <h3 class="mod-title">
                            <span class="bold">lorem</span>
                            <span class="line-break">ipsums</span>
                       </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptates iusto, blanditiis mollitia impedit omnis est.
                    </p>
                    <a href="#" class="more-btn-icon">&nbsp;</a>
                </div>
            </li>
            <li>
                <span class="feature-icon">
                    <img src="images/feature_icon.svg" alt="feature_icon">
                </span>
                <div class="title-info-wrap">
                     <h3 class="mod-title">
                            <span class="bold">why</span>
                            <span class="line-break"> us</span>
                       </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptates iusto, blanditiis mollitia impedit omnis est.
                    </p>
                    <a href="#" class="more-btn-icon">&nbsp;</a>
                </div>
            </li>
          
            <li>
                <span class="feature-icon">
                    <img src="images/feature_icon.svg" alt="feature_icon">
                </span>
                <div class="title-info-wrap">
                    <h3 class="mod-title">
                            <span class="bold">test</span>
                            <span class="line-break"> data</span>
                       </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo voluptates iusto, blanditiis mollitia impedit omnis est.
                    </p>
                    <a href="#" class="more-btn-icon">&nbsp;</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="testimonial-list">
        <span class="quote-icon"></span>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo temporibus, architecto omnis maxime minima asperiores, magnam quisquam tempora quo, quae fugiat </p>
                <div class="testimonial-name">
                    <h3 class="text">Anil Pathak</h3>
                    <h4 class="text">VP, XYZ Company</h4>
                </div>
                <a href="#" class="more-btn-icon orenge-icon">&nbsp;</a>
            </li>
        </ul>
    </div>
</div>