<div class="fund-rating">
    <div class="company-mascot">
        <img src="images/home_section1_slide1_infography.png">
    </div>
    <div class="fund-rating-desc">
        <h3 class="mod-title">
            <span class="bold">our</span>
            <span>funds</span> 
         </h3>
        <p>
            our ULIP (individual) funds rated 5 star by
            <span><strong>MorningStars.</strong></span>
        </p>
        <a href="#" class="more-btn-icon blue-icon">&nbsp;</a>
    </div>
</div>
<div class="fund-listing">
    <ul class="owl-carousel">
        <li>
            <h4 class="mod-title">
                 <span class="bold">bond</span>
                 <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
        <li>
            <h4 class="mod-title">
                 <span class="bold">money market</span>
                 <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
        <li>
            <h4 class="mod-title">
                 <span class="bold">equity large cap</span>
                 <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
        <li>
            <h4 class="mod-title">
               <span class="bold">bond</span>
               <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
        <li>
            <h4 class="mod-title">
                 <span class="bold">money market</span>
                 <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
        <li>
            <h4 class="mod-title">
                 <span class="bold">equity large cap</span>
                 <span>fund</span>
            </h4>
            <div class="fund-listing-img">
                <a href="#"><img src="images/home_section4_fundlisting.jpg" alt="home_section4_fundlisting"></a>
            </div>
        </li>
    </ul>
</div>
