<div class="detail_banner">
    <div class="owl-carousel">
        <div><img src="images/product_detail_banner.jpg" alt="product_detail_banner"></div>
        <div><img src="images/product_detail_banner.jpg" alt="product_detail_banner"></div>
        <div><img src="images/product_detail_banner.jpg" alt="product_detail_banner"></div>
    </div>
</div>

    <div class="detail-wrap container">
        <div class="action-wrapper product-action">
            <a class="icon icon-getQuote hover-tooltip-2" href="#" title="get a free quote"></a>
            <a class="icon icon-cart hover-tooltip-2" href="#" title="buy now"></a>
            <a class="icon icon-share hover-tooltip-2" href="#" title="share"></a>
        </div>
                <h3 class="page-sub-title">
                <span class="bold">plan</span>
                overview
            </h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <ul class="row features-listing">
            <li class="col-sm-8">
                <h4 class="mod-title">
                <span class="bold">maximum </span>
                protection
            </h4>
                <p><strong>Offers protection upto age 80 years (maximum in industry)</strong></p>
            </li>
            <li class="col-sm-8">
                <h4 class="mod-title">
                <span class="bold">payout </span>
                options
            </h4>
                <p><strong>Provides the flexibility to choose the death benefit payout as lumpsum or monthly payout or a combination of both</strong></p>
            </li>
            <li class="col-sm-8">
                <h4 class="mod-title">
                <span class="bold">rider </span>
                options
            </h4>
                <p><strong>Provides option to enhance cover through riders like -</strong></p>
                <ul class="check-mark-listing">
                    <li>Waiver of Premium Rider</li>
                    <li>Accidental Death Benefit Rider</li>
                    <li>Accidental Total and Payment Disability Riderv</li>
                </ul>
            </li>
        </ul>
        <div class="row product-info">
            <div class="col-sm-16 rhs">
                <h3 class="page-sub-title">
                <span class="bold">key benefits </span>
                for this product
            </h3>
                <ul class="panel-group collapsible-list" id="accordion">
                    <li class="panel active">
                        <h4 class="panel-title accordion-head">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="bold">maturity </span> benefit
                        </a>
                    </h4>
                        <div id="collapseOne" class="accordion-cont panel-collapse collapse in">
                            <div class="panel-body">
                                <p>On survival of the life assured till maturity, company pays:</p>
                                <div class="data-listing-wrap">
                                    <ul class="data-listing">
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Sum Assured on Maturity (SAM)</span>
                                            </span>
                                            <p>Sum Assured on Maturity = Annualized Premium X Premium Paying Term</p>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Accrued Guaranted Loyalty Additions</span>
                                            </span>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Large Premium Benefit*, if any</span>
                                            </span>
                                            <p>*Large Premium Benefit : The plan provides an additional payout on maturity as Large Premium Benefit for every Rs. 20,000 in excess of annualized premium of Rs. 40,000</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="panel">
                        <h4 class="panel-title accordion-head">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          <span class="bold">death </span> benefit
                        </a>
                      </h4>
                        <div id="collapseTwo" class="accordion-cont panel-collapse collapse">
                            <div class="panel-body">
                                <p>On death of the life assured during the policy term, company pays</p>
                                <div class="data-listing-wrap">
                                    <ul class="data-listing">
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Sum Assured on Death</span>
                                            </span>
                                            <p>Sum assured on Death for various Premium Paying Terms:</p>
                                            <div class="row">
                                                <div class="table-wrap sum-assured-death-table col-md-18 col-sm-24">
                                                    <table cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <th>Premium Paying Term</th>
                                                                <th>Sum Assured on Death</th>
                                                                <th class="mobile-cont table-field-title main">Premium Paying Term / Sum Assured on Death</th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label class="table-field-title">Premium Paying Term : </label>
                                                                    <span>5 Pay / 7 Pay</span>
                                                                </td>
                                                                <td>
                                                                    <label class="table-field-title">Sum Assured on Death : </label>
                                                                    <span>10 times of annualized premium</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label class="table-field-title">Premium Paying Term : </label>
                                                                    <span>10 Pay</span>
                                                                </td>
                                                                <td>
                                                                    <label class="table-field-title">Sum Assured on Death : </label>
                                                                    <span>11 times of annualized premium</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label class="table-field-title">Premium Paying Term : </label>
                                                                    <span>12 Pay</span>
                                                                </td>
                                                                <td>
                                                                    <label class="table-field-title">Sum Assured on Death : </label>
                                                                    <span>13 times of annualized premium</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Accrued Guaranted Loyalty Additions</span>
                                            </span>
                                            <p>Death benefit at any point in time would be atleast equal to 115% of the annualized premiums paid till date of death.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="panel">
                        <h4 class="panel-title accordion-head">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <span class="bold">guaranteed </span>
                            loyalty additions
                        </a>
                      </h4>
                        <div id="collapseThree" class="accordion-cont panel-collapse collapse">
                            <div class="panel-body">
                                <div class="data-listing-wrap">
                                    <ul class="data-listing">
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Depends on Annualized Premium, Policy Term, Premium Paying Term, Entry age and gender of the life assured.</span>
                                            </span>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Is calculated as a specific percent (GLA Rate) of the total annualized premiums paid.</span>
                                            </span>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Accrues at the beginning of the respective policy year till maturity.</span>
                                            </span>
                                        </li>
                                        <li class="list-item counter-list">
                                            <span class="data-head">
                                            <span class="bold">Becomes payable on death or maturity, whichever is earlier.</span>
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="list-item">
                                        <span class="data-head">
                                        <span class="bold">GLA accrual period for various policy terms is as below:</span>
                                        </span>
                                        <div class="row">
                                            <div class="table-wrap policy-terms-table col-md-18 col-sm-24">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <th>Policy Term</th>
                                                            <th>GLA Accrual Period From</th>
                                                            <th>GLA Accrual Period To</th>
                                                            <th class="mobile-cont table-field-title main">Policy Term / GLA Accrual Period From / GLA Accrual Period To</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="table-field-title">Policy Term : </label>
                                                                <span>10</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period From : </label>
                                                                <span>09</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period To : </label>
                                                                <span>10</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="table-field-title">Policy Term : </label>
                                                                <span>10</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period From : </label>
                                                                <span>09</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period To : </label>
                                                                <span>10</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="table-field-title">Policy Term : </label>
                                                                <span>10</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period From : </label>
                                                                <span>09</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period To : </label>
                                                                <span>10</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="table-field-title">Policy Term : </label>
                                                                <span>10</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period From : </label>
                                                                <span>09</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period To : </label>
                                                                <span>10</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="table-field-title">Policy Term : </label>
                                                                <span>10</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period From : </label>
                                                                <span>09</span>
                                                            </td>
                                                            <td>
                                                                <label class="table-field-title">GLA Accrual Period To : </label>
                                                                <span>10</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="action-wrapper user-action v-divider">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon icon-elegibilty"></span>
                                <span class="mod-title">
                                <span class="bold">check </span> elegibilty
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon icon-brochure"></span>
                                <span class="mod-title">
                                <span class="bold">download </span> brochure
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon icon-contract"></span>
                                <span class="mod-title">
                                <span class="bold">sample </span> contract
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="video-sec">
                    <h3 class="page-sub-title">
                    <span class="bold">our </span>
                    videos
                </h3>
                    <div class="row">
                        <div class="col-sm-24 col-md-11">
                            <div class="news-item">
                                <div class="news-head">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-24 col-md-11 col-md-offset-2">
                            <div class="news-item">
                                <div class="news-head">
                                    <a href="#" class="news-media">
                                        <img src="images/press-release-1.jpg" alt="test">
                                    </a>
                                    <span class="video-overlay"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 lhs">
                <div class="sidebar-panel">
                    <div class="news-wrap">
                        <h3 class="mod-title">
                       <span class="bold">related </span>articles
                    </h3>
                        <ul class="news-listing">
                            <li class="news-item">
                                <a href="#">
                                    <span class="mod-title">
                                  Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                                  </span>
                                </a>
                                <label class="timestamp">12 JAN. 2015</label>
                            </li>
                            <li class="news-item">
                                <a href="#">
                                    <span class="mod-title">
                                  Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                                  </span>
                                </a>
                                <label class="timestamp">12 JAN. 2015</label>
                            </li>
                        </ul>
                    </div>
                    <div class="rating-listing v-divider">
                        <h3 class="mod-title">
                       <span class="bold">our </span>customer’s speak
                    </h3>
                        <div class="rating-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <span class="meta-tag">Anil Pathak</span>
                            <span class="meta-tag">VP, XYZ Company</span>
                            <div class="rating">
                                <span class="star full-star"></span>
                                <span class="star full-star"></span>
                                <span class="star blank-star"></span>
                                <span class="star blank-star"></span>
                                <span class="star blank-star"></span>
                            </div>
                        </div>
                        <div class="rating-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <span class="meta-tag">Anil Pathak</span>
                            <span class="meta-tag">VP, XYZ Company</span>
                            <div class="rating">
                                <span class="star full-star"></span>
                                <span class="star full-star"></span>
                                <span class="star full-star"></span>
                                <span class="star full-star"></span>
                                <span class="star blank-star"></span>
                            </div>
                        </div>
                    </div>
                    <div class="data-listing-wrap">
                        <h3 class="mod-title">
                       <span class="bold">industry </span>facts
                    </h3>
                        <ul class="data-listing">
                            <li class="list-item">
                                <span class="data-head">
                                <span>approx.</span>
                                <span class="bold">30%</span>
                                </span>
                                <p>of value from sale goes to taxes 20% long term capital gains +4- 10% on stamp duty.</p>
                                <a href="#">source: times of india</a>
                            </li>
                            <li class="list-item">
                                <span class="data-head">
                                <span class="bold">15%</span>
                                </span>
                                <p>discount are offered on the market price in caseof distress sale.</p>
                                <a href="#">source: times property</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

