<div class="container-fluid">
	<div class="container">
		<div class="stories-wrapper">
			  <ul class="row">
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
				<li class="story-list-item col-sm-12">
					<div class="story-detail theme-grey">
						<div class="profile-intro">
							<div class="profile-img">
								<img alt="mascot" src="images/claim-story.png">
							</div>
							<div class="profile-mention">
								<h2 class="profile-name">Dev Shah</h2>
								<span class="timestamp">18 - oct - 2015 |13:45 PM - IST</span>
							</div>
						</div>
						<div class="story-desc">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to a type specimenbook. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						</div>
					</div>
				</li>
			</ul>	
		</div>
	</div>
</div>