<div class="container-fluid theme-blue">
	<div class="container msg-wrapper">
		<div class="quote">
			<h3 class="page-sub-title">We love to help. <span>We also respect your privacy !</span></h3>
			<p>Send an SMS to avoid marketing calls.</p>
		</div>
		<div class="mascot">
			<img alt="mascot" src="images/home_section1_slide1_infography.png">
		</div>
		<span class="phone-icon"></span>
	</div>
</div>
<div class="container one-col-layout">	
	<p>We at Edelweiss Tokio Life Insurance, would like to send you information regarding our products  and services which will be of interest to you in shaping your life insurance needs and meeting your life goals.</p>
	<p>However, we respect your privacy and if you do not wish to receive this marketing messages via calls or SMS, you can register you number under Do Not Disturb by calling or sending a SMS to 1909 (toll free) to register with NCPR or register at www.nccptrai.gov.in</p>
	<p>Please note that you will be entitled to receive calls and SMS of transactions and reminders which are services offered to you, if you are already our customer.</p>
</div>