<div class="sidebar-panel">
    <div class="article-wrap v-divider">
        <h3 class="mod-title">
           <span class="bold">article </span>categories
        </h3>
        <ul class="article-list">
            <li>
                <a href="#">HEALTH</a>
            </li>
            <li>
                <a href="#">INSURANCE</a>
            </li>
            <li>
                <a href="#">RETIREMENT</a>
            </li>
            <li>
                <a href="#">FINANCE</a>
            </li>
            <li>
                <a href="#">LIFE</a>
            </li>
            <li>
                <a href="#">POLICIES</a>
            </li>
            <li>
                <a href="#">DIESEASES</a>
            </li>
            <li>
                <a href="#">TERM PLAN</a>
            </li>
        </ul>
    </div>
    <div class="article-wrap v-divider">
        <h3 class="mod-title">
               <span class="bold">article </span>tags
            </h3>
        <ul class="article-list inline">
            <li><a class="sm" href="#">HEALTH</a></li>
            <li><a class="xl" href="#">INSURANCE</a></li>
            <li><a class="md" href="#">RETIREMENT</a></li>
            <li><a class="sm" href="#">FINANCE</a></li>
            <li><a class="lg" href="#">LIFE</a></li>
            <li><a class="md" href="#">POLICIES</a></li>
            <li><a class="lg" href="#">DIESEASES</a></li>
            <li><a class="sm" href="#">TERM</a></li>
            <li><a class="lg" href="#">PLAN</a></li>
            <li><a class="md" href="#">HEALTH</a></li>
            <li><a class="xl" href="#">INSURANCE</a></li>
            <li><a class="md" href="#">RETIREMENT</a></li>
            <li><a class="sm" href="#">FINANCE</a></li>
            <li><a class="lg" href="#">LIFE</a></li>
            <li><a class="md" href="#">POLICIES</a></li>
            <li><a class="lg" href="#">DIESEASES</a></li>
            <li><a class="sm" href="#">TERM</a></li>
            <li><a class="lg" href="#">PLAN</a></li>
        </ul>
    </div>
    <div class="article-wrap v-divider">
        <h3 class="mod-title">
           <span class="bold">archived </span>articles
        </h3>
        <ul class="accordion article-list panel-group" id="accordion">
            <li class="panel">
                    <h4 class="mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#aa">2016</h4>
                    <div id="aa" class="yearMonth-cont accordion-cont panel-collapse collapse in">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#bb">2015</h4>
                    <div id="bb" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#cc">2014</h4>
                    <div id="cc" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#dd">2013</h4>
                    <div id="dd" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
            <li class="panel">
                    <h4 class="collapsed mod-sub-title accordion-head" data-toggle="collapse" data-parent="#accordion" href="#ee">2012</h4>
                    <div id="ee" class="yearMonth-cont accordion-cont panel-collapse collapse">
                        <ul class="article-list inline divider">
                            <li><a href="#">DEC</a></li>
                            <li><a href="#">NOV</a></li>
                            <li><a href="#">OCT</a></li>
                            <li><a href="#">SEP</a></li>
                            <li><a href="#">AUG</a></li>
                            <li><a href="#">JUL</a></li>
                            <li><a href="#">JUN</a></li>
                            <li><a href="#">MAY</a></li>
                            <li><a href="#">APR</a></li>
                            <li><a href="#">MAR</a></li>
                            <li><a href="#">FEB</a></li>
                            <li><a href="#">JAN</a></li>
                        </ul>
                    </div>
            </li> 
        </ul>
    </div>
    <div class="subscribe-wrap v-divider">
        <h3 class="mod-title">
           <span class="bold">subscribe </span>now
        </h3>
        <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
        <input type="text" placeholder="Enter your email ID">
        <button class="btn btn-orange " type="button">
            <span class="bold">signup </span>now
        </button>
    </div>
    <div class="news-wrap">
        <ul class="news-listing">
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
            <li class="news-item">
                <a href="#">
                    <span class="mod-title">
                      Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign
                      </span>
                </a>
                <label class="timestamp">12 JAN. 2015</label>
            </li>
        </ul>
    </div>
</div>