<ul class="row">
	<li class="col-sm-24">
		<div class="buzz-detail date-tag">
			<div class="buzz-cont">
				<div class="date-tag-wrap">
					<span class="date">12</span>
					<span class="month">NOV</span>
					<span class="year">2015</span>
					<span class="ribbon-cut"></span>
				</div>
				<div class="buzz-detail-head">
					<h3 class="mod-title">Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign</h3>
					<label class="timestamp">by Rahul Desai  |  3:42 PM - IST</label>
					<label class="meta-tag"><span>Posted in:</span> Finance  |  <span>Tags:</span> Health, Insurance, Investment</label>
				</div>
				<div class="buzz-media">
					<img src="images/buzz-info-img.jpg" alt="buzz-media">
				</div>
				<div class="buzz-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa magna, tincidunt non pharetra nec, fermentum ac ex. Mauris ut odio ut sapien ultrices ullamcorper. Cras tempor, nibh ac fringilla porttitor, elit quam mollis mi, id molestie massa orci eget nisl. Fusce id ligula a nibh pretium molestie quis ac erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam fringilla ac dolor id tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sagittis, tortor in fringilla placerat, lorem tellus ultricies magna, ac maximus ligula nisl in enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vitae consectetur libero, eu aliquet orci. Quisque vel elit ullamcorper, suscipit diam quis, vestibulum ipsum. Etiam leo urna, feugiat quis iaculis cursus, malesuada interdum metus. Nullam congue ante id dui bibendum blandit.</p>
					<p>Vestibulum hendrerit non purus at interdum. Morbi facilisis eros cursus risus ultricies tincidunt. Sed sem nisi, facilisis nec pulvinar at, lacinia ut magna. Praesent felis odio, egestas ut diam et, tempor aliquam eros. Donec elementum, metus quis bibendum sodales, nunc ex iaculis libero, quis gravida eros libero ac eros. Etiam euismod leo et urna dapibus vehicula. Quisque efficitur nibh at porta gravida. Proin semper quam a ante tincidunt pellentesque.</p>
				</div>
				<div class="share-comment-wrap">
					<div class="share">
						<button class="share-btn" type="button">
						</button>
					</div>
					<div class="comment">
						<div class="comment-no">1000</div>
						<span class="comment-text">COMMENTS</span>
					</div>
				</div>
				<div class="related-link">
					<h3><a href="#"><strong>2 Thoughts on</strong> “Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign”</a></h3>
				</div>
				<div class="comment-box">
					<ul class="comment-listing">
						<li>
							<div class="comment-wrap with-profile-img">
								<a href="#" class="profile-img">
									<img src="images/pro-img.jpg" alt="profile-img">
								</a>
								<div class="pro-comment-desc">
									<h4 class="pro-name"><a href="#">Akshat Rathi</a></h4>
									<span class="timestamp">June 18, 2015  |  3:42 PM - IST</span>
									<p>Vestibulum hendrerit non purus at interdum. Morbi facilisis eros cursus risus ultricies tincidunt. Sed sem nisi, facilisis nec pulvinar at, lacinia ut magna.</p>
									<p>Vestibulum hendrerit non purus at interdum. Morbi facilisis eros cursus risus ultricies tincidunt. Sed sem nisi, facilisis nec pulvinar at, lacinia ut magna.</p>
									<a class="btn btn-md" href="#">
					                    <span class="bold">reply</span>
					                </a>
								</div>
							</div>
						</li>
						<li>
							<div class="comment-wrap with-profile-img">
								<a href="#" class="profile-img">
									<img src="images/pro-img.jpg" alt="profile-img">
								</a>
								<div class="pro-comment-desc">
									<h4 class="pro-name"><a href="#">Akshat Rathi</a></h4>
									<span class="timestamp">June 18, 2015  |  3:42 PM - IST</span>
									<p>Vestibulum hendrerit non purus at interdum. Morbi facilisis eros cursus risus ultricies tincidunt. Sed sem nisi, facilisis nec pulvinar at, lacinia ut magna.</p>
									<a class="btn btn-md" href="#">
					                    <span class="bold">reply</span>
					                </a>
								</div>
							</div>
						</li>
						<li>
							<div class="leave-reply-wrap">
								<h5 class="leave-reply-title">Leave a Reply</h5>
								<textarea class="type-reply" placeholder="Enter your comment here..."></textarea>
								<button class="btn btn-orange " type="button">
				                    <span class="bold">post </span>comment
				                </button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li class="col-sm-24">
		<div class="buzz-detail date-tag">
			<div class="buzz-cont">
				<div class="date-tag-wrap">
					<span class="date">12</span>
					<span class="month">NOV</span>
					<span class="year">2015</span>
					<span class="ribbon-cut"></span>
				</div>
				<div class="buzz-detail-head">
					<h3 class="mod-title">Edelweiss Tokio Life observes World Cancer Day with ‘I CARE I TWEET’ campaign</h3>
					<label class="timestamp">by Rahul Desai  |  3:42 PM - IST</label>
					<label class="meta-tag"><span>Posted in:</span> Finance  |  <span>Tags:</span> Health, Insurance, Investment</label>
				</div>
				<div class="buzz-media">
					<img src="images/buzz-info-img.jpg" alt="buzz-media">
				</div>
				<div class="buzz-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa magna, tincidunt non pharetra nec, fermentum ac ex. Mauris ut odio ut sapien ultrices ullamcorper. Cras tempor, nibh ac fringilla porttitor, elit quam mollis mi, id molestie massa orci eget nisl. Fusce id ligula a nibh pretium molestie quis ac erat.</p>
					<a class="btn btn-sm" href="#">
	                    <span class="bold">read more</span>
	                </a>
				</div>
				<div class="share-comment-wrap">
					<div class="share">
						<button class="share-btn" type="button">
						</button>
					</div>
					<div class="comment">
						<div class="comment-no">1000</div>
						<span class="comment-text">COMMENTS</span>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>