
<div class="policy-wrap box-wrap theme-grey">
	<div class="container">
		<h3 class="mod-title"><span class="bold">policy</span> details</h3>
		<div class="policy-details-list">
			<ul>
				<li>
					<label class="list-name">policy name</label>
					<label class="list-cont">ULIP</label>
				</li>
				<li>
					<label class="list-name">policy number</label>
					<label class="list-cont">1234567FGT</label>
				</li>
				<li>
					<label class="list-name">policy status</label>
					<label class="list-cont">Inforce</label>
				</li>
				<li>
					<label class="list-name">premium due date</label>
					<label class="list-cont">12.11.2015</label>
				</li>
				<li>
					<label class="list-name">premium amount</label>
					<label class="list-cont">Rs. 2500</label>
				</li>
			</ul>
			<div class="checkbox-wrap">
				<input type="checkbox" value="option" name="field" id="option">
				<label for="option">I have read the Terms and Conditions for Online premium payment Premium Payment shall be made by the Policyholder of the policy. Third Party Online Payment is prohibited</label>
			</div>
			<button type="button" class="btn btn-orange btn-xs">
				<span class="bold">pay </span>now
			</button>
		</div>
	</div>
</div>
