<div class="process-step-wrap box-wrap">
	<div class="container">
		<div class="infograph-wrap col-sm-16">
			<h3 class="mod-title"><span class="bold">congrats!</span> For taking the first step towards protecting your family.</h3>
            <div class="infograph">
            	<img src="images/infographi_renew_online.png" alt="an easy 3 step claim processing">
            </div>
		</div>
		<div class="col-sm-8 form-wrap">
				<form>
					<ul class="form-list">
						<li class="form-item">
								<label class="field-title">nominee name</label>
								<div class="form-field">
											<input type="text" name="name">
										</div>
						</li>
						<li class="form-item">
						
								<div class="date-select">
									<label class="field-title">date of birth</label>
									<div class="calender-wrap">
										<div data-date-format="dd-mm-yyyy" data-date="1-1-1976" id="datetimepicker" class="input-append date datePicker">
									        <input type="text" size="16" class="span2">
									        <span class="add-on icon-cal">test<i class="icon-th"></i></span>
									    </div>   
									</div>
								</div>
						</li>
						
						<li>
							<button class="btn btn-orange btn-xs disable" type="button">
								<span class="bold">submit </span>now
							</button>
						</li>
					</ul>
				</form>
		</div>
		<div class="process-step-desc col-sm-24">
			<h3 class="mod-title"><span class="bold">benefits of paying your premium online</span></h3>
			<p >paying premium online saves your time. Online payment makes payment hassle-free as you can do it anywhere, anytime! you don't have to worry about visiting the branch, cheque payments and cash payments.</p>
		</div>
	</div>
</div>